In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [6]:
# Provide the correct file path and sheet name if necessary
#df = pd.read_csv(r"C:\Users\LENOVO\Downloads\ekko_ekpo_v.csv" ,encoding='latin1',nrows=5000,low_memory=False)
df = pd.read_csv(r"C:\Users\LENOVO\Downloads\ekko_ekpo_v1.csv" ,encoding='latin1',usecols=['AEDAT','ANGNR','BEDAT','BSART','BSTYP','BUKRS','EKGRP','EKORG','ERNAM','FRGGR','FRGKE','FRGSX','FRGZU','IHRAN','INCO1',
'INCO2','KDATB','KDATE','KONNR','KUFIX','LBLIF','LIFNR','LIFRE','RESWK','SHIPCOND','STATU','WAERS','WKURS','ZBD1T','ZTERM',
'ABSKZ','AEDAT','AFNAM','AGDAT','ANFNR','ANGNR','ANGPN','BANFN','BERID','BNFPO','BPRME','BPUMZ','BRTWR','BSTYP','BUKRS','BWTAR','BWTTY','DEP_ID','EBELN','EBELP',
'ELIKZ','IDNLF','INCO1','KOLIF','KONNR','KOSTL','KTMNG','KZWI1','KZWI2','KZWI3','KZWI4','KZWI5','KZWI6','LGORT','LOEKZ','MATNR',
'MEINS','MENGE','MTART','NETPR','NETWR','PEINH','REPOS','SPE_CRM_REF_ITEM','SPE_CRM_REF_SO','SPE_CRM_SO','SPE_CRM_SO_ITEM','STATU',
'TXZ01','UEBTK','UMREN','UMREZ','UNTTO','WEBAZ','WEBRE','WEPOS','WERKS','WEUNB',
])

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15632\2320681724.py:3: DtypeWarning: Columns (6,7,9,13,15,22,25,27,28,46,48,49,56,62,63,64,65,305,308,309,313,326,342,344,345,348,355,356,357,358,500,525) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\LENOVO\Downloads\ekko_ekpo_v1.csv" ,encoding='latin1',usecols=['AEDAT','ANGNR','BEDAT','BSART','BSTYP','BUKRS','EKGRP','EKORG','ERNAM','FRGGR','FRGKE','FRGSX','FRGZU','IHRAN','INCO1',

In [7]:
df

,EBELN,BUKRS,BSTYP,BSART,LOEKZ,STATU,AEDAT,ERNAM,LIFNR,ZTERM,ZBD1T,EKORG,EKGRP,WAERS,WKURS,KUFIX,BEDAT,KDATB,KDATE,ANGNR,IHRAN,KONNR,RESWK,LBLIF,INCO1,INCO2,LIFRE,FRGGR,FRGSX,FRGKE,FRGZU,SHIPCOND,EBELP,TXZ01,MATNR,WERKS,LGORT,IDNLF,KTMNG,MENGE,MEINS,BPRME,BPUMZ,UMREZ,UMREN,NETPR,PEINH,NETWR,BRTWR,AGDAT,WEBAZ,UEBTK,UNTTO,BWTAR,BWTTY,ABSKZ,ELIKZ,WEPOS,WEUNB,REPOS,WEBRE,KOLIF,ANFNR,BANFN,BNFPO,MTART,KZWI1,KZWI2,KZWI3,KZWI4,KZWI5,KZWI6,AFNAM,BERID,KOSTL,SPE_CRM_SO,SPE_CRM_SO_ITEM,SPE_CRM_REF_SO,SPE_CRM_REF_ITEM,ANGPN,DEP_ID
0,3561007115,9000,F,ZDM6,NaN,9,2022-04-02,GP-36476,0000501277,AL13,30,9061.0,670,INR,1.0,NaN,2022-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FOR,JSPL Angul Plant Site,NaN,PO,6K,F,X,NaN,10,"STEEL ALMIRAH,78X36X21IN",000000001000160592,6301,6312,NaN,0.0,4.0,NO,NO,1,1,1,10800.0,1,43200.0,43200.0,NaN,0,NaN,0.0,NaN,NaN,NaN,X,X,NaN,X,X,NaN,NaN,3.060013e+09,10,ZSPR,0,0,43200.0,0,0,0,O63011412,NaN,NaN,NaN,0,NaN,NaN,0,NaN
1,3561007115,9000,F,ZDM6,NaN,9,2022-04-02,GP-36476,0000501277,AL13,30,9061.0,670,INR,1.0,NaN,2022-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FOR,JSPL Angul Plant Site,NaN,PO,6K,F,X,NaN,20,"RACK,STEEL",000000001000043086,6301,6312,NaN,0.0,8.0,PC,PC,1,1,1,10500.0,1,84000.0,84000.0,NaN,0,NaN,0.0,NaN,NaN,NaN,X,X,NaN,X,X,NaN,NaN,3.060013e+09,20,ZSPR,0,0,84000.0,0,0,0,O63011412,NaN,NaN,NaN,0,NaN,NaN,0,NaN
2,3561007116,9000,F,ZDM6,NaN,9,2022-04-02,GP27215,0000010367,AL13,30,9061.0,641,INR,1.0,NaN,2022-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FOR,JSPL ANGUL SITE DELIVERY,NaN,PO,6K,F,X,NaN,10,"BOLT,HEX,HT 8.8,IS:1364,M24X80MM",000000001000238212,6301,6301,NaN,0.0,300.0,PC,PC,1,1,1,103.0,1,30900.0,30900.0,NaN,2,NaN,0.0,NaN,NaN,NaN,X,X,NaN,X,X,NaN,NaN,3.060013e+09,10,ZSPR,0,0,30900.0,0,0,0,O63011500,NaN,NaN,NaN,0,NaN,NaN,0,NaN
3,3561007116,9000,F,ZDM6,NaN,9,2022-04-02,GP27215,0000010367,AL13,30,9061.0,641,INR,1.0,NaN,2022-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FOR,JSPL ANGUL SITE DELIVERY,NaN,PO,6K,F,X,NaN,20,"BOLT,COUPLING,HT 10.9,M16X70MM",000000001000139084,6301,6301,NaN,0.0,50.0,PC,PC,1,1,1,80.0,1,4000.0,4000.0,NaN,2,NaN,0.0,NaN,NaN,NaN,X,X,NaN,X,X,NaN,NaN,3.060013e+09,30,ZSPR,0,0,4000.0,0,0,0,O63011500,NaN,NaN,NaN,0,NaN,NaN,0,NaN
4,3561007116,9000,F,ZDM6,NaN,9,2022-04-02,GP27215,0000010367,AL13,30,9061.0,641,INR,1.0,NaN,2022-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FOR,JSPL ANGUL SITE DELIVERY,NaN,PO,6K,F,X,NaN,30,"BOLT,COUPLING,HT 10.9,M12X60MM",000000001000147111,6301,6301,NaN,0.0,50.0,PC,PC,1,1,1,65.0,1,3250.0,3250.0,NaN,2,NaN,0.0,NaN,NaN,NaN,X,X,NaN,X,X,NaN,NaN,3.060013e+09,40,ZSPR,0,0,3250.0,0,0,0,O63011500,NaN,NaN,NaN,0,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758424,6170071163,9000,A,ZAN7,NaN,NaN,2023-05-31,PO_JPP,57600,NaN,0,9071.0,SS1,INR,1.0,NaN,2023-05-31,2023-05-20,2023-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,"PADLOCK;LOTO,SS,40X20MM,40MM",1000614144.0,7101,7142,NaN,5.0,5.0,PC,PC,1,1,1,0.0,1,0.0,0.0,NaN,2,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR,0,0,0.0,0,0,0,S71011202,NaN,NaN,NaN,0,NaN,NaN,0,NaN
758425,6170071163,9000,A,ZAN7,NaN,NaN,2023-05-31,PO_JPP,57600,NaN,0,9071.0,SS1,INR,1.0,NaN,2023-05-31,2023-05-20,2023-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,"PADLOCK;LOTO,SS304,40X20X48.20MM,40MM",1000614142.0,7101,7142,NaN,5.0,5.0,PC,PC,1,1,1,0.0,1,0.0,0.0,NaN,2,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR,0,0,0.0,0,0,0,S71011202,NaN,NaN,NaN,0,NaN,NaN,0,NaN
758426,6198000176,9000,A,ZAN9,NaN,A,2023-05-13,PO_JPP,54004,R232,30,9000.0,SS1,INR,1.0,NaN,2023-05-13,2023-05-13,2023-09-13,NaN,NaN,NaN,NaN,NaN,FOR,FOR Free On Road,NaN,NaN,NaN,NaN,NaN,NaN,10,"BOARD;ACRYLIC,4MM,2X2FT2,F/QR CODE DSPLY",1000613191.0,J001,1501,NaN,100.0,100.0,PC,PC,1,1,1,1700.0,1,0.0,170000.0,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR,0,0,170000.0,0,0,0,OJ0019551,NaN,NaN,NaN,0,NaN,NaN,0,NaN
758427,6198000176,9000,A,ZAN9,NaN,A,2023-05-13,PO_JPP,54004,R232,30,9000.0,SS1,INR,1.0,NaN,2023-05-13,2023-05-13,2023-09-13,NaN,NaN,NaN,NaN,NaN,FOR,FOR Free On Road,NaN,NaN,NaN,NaN,NaN,NaN,20,"BOARD;SUN,ECO VINYL,5MM,2X2FT2,F/QR CODE",1000613192.0,J001,1501,NaN,500.0,500.0,PC,PC,1,1,1,470.0,1,0.0,235000.0,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR,0,0,235000.0,0,0,0,OJ0019551,NaN,NaN,NaN,0,NaN,NaN,0,NaN
758428,6198000176,9000,A,ZAN9,NaN,A,2023-05-13,PO_JPP,54004,R232,30,9000.0,SS1,INR,1.0,NaN,2023-05-13,2023-05-13,2023-09-13,NaN,NaN,NaN,NaN,NaN,FOR,FOR Free On Road,NaN,NaN,NaN,NaN,NaN,NaN,30,"BOARD;ACRYLIC,4MM,2X2FT2,F/QR CODE DSPLY",1000613191.0,J001,1501,NaN,100.0,100.0,PC,PC,1,1,1,1700.0,1,0.0,170000.0,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR,0,0,170000.0,0,0,0,OJ0019551,NaN,NaN,NaN,0,NaN,NaN,0,NaN

In [8]:
#df.to_csv("Anomaly_data.csv")

df=df[['AEDAT','ANGNR','BEDAT','BSART','BSTYP','BUKRS','EKGRP','EKORG','ERNAM','FRGGR','FRGKE','FRGSX','FRGZU','IHRAN','INCO1',
'INCO2','KDATB','KDATE','KONNR','KUFIX','LBLIF','LIFNR','LIFRE','RESWK','SHIPCOND','STATU','WAERS','WKURS','ZBD1T','ZTERM',
'ABSKZ','AEDAT','AFNAM','AGDAT','ANFNR','ANGNR','ANGPN','BANFN','BERID','BNFPO','BPRME','BPUMZ','BRTWR','BSTYP','BUKRS','BWTAR','BWTTY','DEP_ID','EBELN','EBELP',
'ELIKZ','IDNLF','INCO1','KOLIF','KONNR','KOSTL','KTMNG','KZWI1','KZWI2','KZWI3','KZWI4','KZWI5','KZWI6','LGORT','LOEKZ','MATNR',
'MEINS','MENGE','MTART','NETPR','NETWR','PEINH','REPOS','SPE_CRM_REF_ITEM','SPE_CRM_REF_SO','SPE_CRM_SO','SPE_CRM_SO_ITEM','STATU',
'TXZ01','UEBTK','UMREN','UMREZ','UNTTO','WEBAZ','WEBRE','WEPOS','WERKS','WEUNB',
]]

In [9]:
#d[['WERKS','MATNR','EBELN','EBELP','LIFNR','MENGE','NETPR','PEINH','NETWR',]]

In [10]:
df['MATNR'].value_counts()

PA_JA35XLNR01_10.01_040X900_4900    1189
TM_FE550D_16.0DIA_TRADE             1017
TM_FE550D_10.0DIA_TRADE              992
TM_FE550D_12.0DIA_TRADE              992
TM_FE550D_20.0DIA_TRADE              889
                                    ...
000000001000599969                     1
000000001000530293                     1
000000001000599967                     1
000000001000599840                     1
1000613192.0                           1
Name: MATNR, Length: 136208, dtype: int64

In [11]:
df['PEINH'].value_counts()

1       758392
0           35
1000         2
Name: PEINH, dtype: int64

In [12]:
df[df['PEINH']==0][['WERKS','MATNR','EBELN','EBELP','LIFNR','MENGE','NETPR','PEINH','NETWR',]]

,WERKS,MATNR,EBELN,EBELP,LIFNR,MENGE,NETPR,PEINH,NETWR
365,2315,000000003000001485,4150009788,10,NaN,3865.7,0.0,0,0.0
26962,6111,000000001000483510,4573019345,10,58746,2.0,0.0,0,0.0
108494,S049,RA_FE550D_8.0DIA_12,4140005879,10,JSPL-6126,50.0,0.0,0,0.0
108495,S049,RA_FE550D_10.0DIA_12,4140005879,20,JSPL-6126,50.0,0.0,0,0.0
108496,S049,RA_FE550D_12.0DIA_12,4140005879,30,JSPL-6126,150.0,0.0,0,0.0
108497,S049,RA_FE550D_16.0DIA_12,4140005879,40,JSPL-6126,200.0,0.0,0,0.0
108498,S049,RA_FE550D_20.0DIA_12,4140005879,50,JSPL-6126,100.0,0.0,0,0.0
108499,S049,RA_FE550D_25.0DIA_12,4140005879,60,JSPL-6126,200.0,0.0,0,0.0
108500,S049,RA_FE550D_32.0DIA_12,4140005879,70,JSPL-6126,100.0,0.0,0,0.0
132797,6101,NaN,4561540553,10,0000082447,1.0,0.0,0,0.0
134296,6301,NaN,4563501993,10,0000084321,1.0,0.0,0,0.0
134297,6301,NaN,4563501993,20,0000084321,1.0,0.0,0,0.0
134298,6301,NaN,4563501993,30,0000084321,1.0,0.0,0,0.0
134299,6301,NaN,4563501993,40,0000084321,1.0,0.0,0,0.0
134300,6301,NaN,4563501993,50,0000084321,1.0,0.0,0,0.0
136935,7126,NaN,4571507481,10,84047,1.0,0.0,0,0.0
136936,7106,NaN,4571507481,20,84047,1.0,0.0,0,0.0
137085,1303,NaN,4572501580,20,921038,1.0,0.0,0,0.0
251304,6110,000000001000572946,4561104674,10,0000012991,1.0,0.0,0,0.0
254398,6103,000000001000294355,4561105955,10,0000022411,69.0,0.0,0,0.0
263037,6107,NaN,4572501636,10,0000924081,1.0,0.0,0,0.0
393330,S049,NaN,4572501651,10,0000063186,1.0,0.0,0,0.0
393331,S049,NaN,4572501651,20,0000063186,1.0,0.0,0,0.0
393332,S049,NaN,4572501651,30,0000063186,1.0,0.0,0,0.0
393333,S049,NaN,4572501651,40,0000063186,1.0,0.0,0,0.0
393334,S049,NaN,4572501651,50,0000063186,1.0,0.0,0,0.0
393335,S049,NaN,4572501651,60,0000063186,1.0,0.0,0,0.0
393336,S049,NaN,4572501651,70,0000063186,1.0,0.0,0,0.0
393337,S049,NaN,4572501651,80,0000063186,1.0,0.0,0,0.0
393338,S049,NaN,4572501651,90,0000063186,1.0,0.0,0,0.0
393339,S049,NaN,4572501651,100,0000063186,1.0,0.0,0,0.0
393340,S049,NaN,4572501651,110,0000063186,1.0,0.0,0,0.0
393341,S049,NaN,4572501651,120,0000063186,1.0,0.0,0,0.0
591118,6156,NaN,4561114460,10,NaN,1.0,0.0,0,0.0
601908,1215,NaN,4581000856,10,0000063464,1.0,0.0,0,0.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758429 entries, 0 to 758428
Data columns (total 81 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EBELN             758429 non-null  int64
 1   BUKRS             758429 non-null  int64
 2   BSTYP             758429 non-null  object
 3   BSART             758429 non-null  object
 4   LOEKZ             2 non-null       object
 5   STATU             326469 non-null  object
 6   AEDAT             758429 non-null  object
 7   ERNAM             758429 non-null  object
 8   LIFNR             739140 non-null  object
 9   ZTERM             309198 non-null  object
 10  ZBD1T             758429 non-null  int64
 11  EKORG             758424 non-null  float64
 12  EKGRP             758424 non-null  object
 13  WAERS             746615 non-null  object
 14  WKURS             758429 non-null  float64
 15  KUFIX             6 non-null       object
 16  BEDAT             758429 non-null  object
 17  KDATB             642664 non-null  object
 18  KDATE             642662 non-null  object
 19  ANGNR             0 non-null       float64
 20  IHRAN             0 non-null       float64
 21  KONNR             219 non-null     float64
 22  RESWK             19300 non-null   object
 23  LBLIF             0 non-null       float64
 24  INCO1             312665 non-null  object
 25  INCO2             305368 non-null  object
 26  LIFRE             4216 non-null    object
 27  FRGGR             185992 non-null  object
 28  FRGSX             185992 non-null  object
 29  FRGKE             185992 non-null  object
 30  FRGZU             178920 non-null  object
 31  SHIPCOND          0 non-null       float64
 32  EBELP             758429 non-null  int64
 33  TXZ01             758376 non-null  object
 34  MATNR             710332 non-null  object
 35  WERKS             758120 non-null  object
 36  LGORT             743415 non-null  object
 37  IDNLF             494 non-null     object
 38  KTMNG             758429 non-null  float64
 39  MENGE             758429 non-null  float64
 40  MEINS             758356 non-null  object
 41  BPRME             752410 non-null  object
 42  BPUMZ             758429 non-null  int64
 43  UMREZ             758429 non-null  int64
 44  UMREN             758429 non-null  int64
 45  NETPR             758429 non-null  float64
 46  PEINH             758429 non-null  int64
 47  NETWR             758429 non-null  float64
 48  BRTWR             758429 non-null  float64
 49  AGDAT             12060 non-null   object
 50  WEBAZ             758429 non-null  int64
 51  UEBTK             35601 non-null   object
 52  UNTTO             758429 non-null  float64
 53  BWTAR             665 non-null     object
 54  BWTTY             4983 non-null    object
 55  ABSKZ             0 non-null       float64
 56  ELIKZ             112284 non-null  object
 57  WEPOS             201094 non-null  object
 58  WEUNB             1 non-null       object
 59  REPOS             181380 non-null  object
 60  WEBRE             178592 non-null  object
 61  KOLIF             0 non-null       float64
 62  ANFNR             96145 non-null   float64
 63  BANFN             181306 non-null  float64
 64  BNFPO             758429 non-null  int64
 65  MTART             710330 non-null  object
 66  KZWI1             758429 non-null  int64
 67  KZWI2             758429 non-null  int64
 68  KZWI3             758429 non-null  float64
 69  KZWI4             758429 non-null  int64
 70  KZWI5             758429 non-null  int64
 71  KZWI6             758429 non-null  int64
 72  AFNAM             747992 non-null  object
 73  BERID             167719 non-null  object
 74  KOSTL             0 non-null       float64
 75  SPE_CRM_SO        0 non-null       float64
 76  SPE_CRM_SO_ITEM   758429 non-null  int64
 77  SPE_CRM_REF_SO    5173 non-null    object
 78  SPE_CRM_REF_ITEM  5173 non-null    float64
 79  ANGPN             758429 non-null  int64
 80  DEP_ID            0 non-null       float64
dtypes: float64(22), int64(17), object(42)
memory usage: 468.7+ MB

In [14]:
#!dir

In [15]:
#df.to_csv("anomaly_all.csv")

In [16]:
df.isna().sum()

EBELN                    0
BUKRS                    0
BSTYP                    0
BSART                    0
LOEKZ               758427
                     ...
SPE_CRM_SO_ITEM          0
SPE_CRM_REF_SO      753256
SPE_CRM_REF_ITEM    753256
ANGPN                    0
DEP_ID              758429
Length: 81, dtype: int64

In [17]:
#!dir

In [18]:
df=df.dropna(axis=1, how='all')#9 column droped (all nan)

In [19]:
df

,EBELN,BUKRS,BSTYP,BSART,LOEKZ,STATU,AEDAT,ERNAM,LIFNR,ZTERM,ZBD1T,EKORG,EKGRP,WAERS,WKURS,KUFIX,BEDAT,KDATB,KDATE,KONNR,RESWK,INCO1,INCO2,LIFRE,FRGGR,FRGSX,FRGKE,FRGZU,EBELP,TXZ01,MATNR,WERKS,LGORT,IDNLF,KTMNG,MENGE,MEINS,BPRME,BPUMZ,UMREZ,UMREN,NETPR,PEINH,NETWR,BRTWR,AGDAT,WEBAZ,UEBTK,UNTTO,BWTAR,BWTTY,ELIKZ,WEPOS,WEUNB,REPOS,WEBRE,ANFNR,BANFN,BNFPO,MTART,KZWI1,KZWI2,KZWI3,KZWI4,KZWI5,KZWI6,AFNAM,BERID,SPE_CRM_SO_ITEM,SPE_CRM_REF_SO,SPE_CRM_REF_ITEM,ANGPN
0,3561007115,9000,F,ZDM6,NaN,9,2022-04-02,GP-36476,0000501277,AL13,30,9061.0,670,INR,1.0,NaN,2022-04-02,NaN,NaN,NaN,NaN,FOR,JSPL Angul Plant Site,NaN,PO,6K,F,X,10,"STEEL ALMIRAH,78X36X21IN",000000001000160592,6301,6312,NaN,0.0,4.0,NO,NO,1,1,1,10800.0,1,43200.0,43200.0,NaN,0,NaN,0.0,NaN,NaN,X,X,NaN,X,X,NaN,3.060013e+09,10,ZSPR,0,0,43200.0,0,0,0,O63011412,NaN,0,NaN,NaN,0
1,3561007115,9000,F,ZDM6,NaN,9,2022-04-02,GP-36476,0000501277,AL13,30,9061.0,670,INR,1.0,NaN,2022-04-02,NaN,NaN,NaN,NaN,FOR,JSPL Angul Plant Site,NaN,PO,6K,F,X,20,"RACK,STEEL",000000001000043086,6301,6312,NaN,0.0,8.0,PC,PC,1,1,1,10500.0,1,84000.0,84000.0,NaN,0,NaN,0.0,NaN,NaN,X,X,NaN,X,X,NaN,3.060013e+09,20,ZSPR,0,0,84000.0,0,0,0,O63011412,NaN,0,NaN,NaN,0
2,3561007116,9000,F,ZDM6,NaN,9,2022-04-02,GP27215,0000010367,AL13,30,9061.0,641,INR,1.0,NaN,2022-04-02,NaN,NaN,NaN,NaN,FOR,JSPL ANGUL SITE DELIVERY,NaN,PO,6K,F,X,10,"BOLT,HEX,HT 8.8,IS:1364,M24X80MM",000000001000238212,6301,6301,NaN,0.0,300.0,PC,PC,1,1,1,103.0,1,30900.0,30900.0,NaN,2,NaN,0.0,NaN,NaN,X,X,NaN,X,X,NaN,3.060013e+09,10,ZSPR,0,0,30900.0,0,0,0,O63011500,NaN,0,NaN,NaN,0
3,3561007116,9000,F,ZDM6,NaN,9,2022-04-02,GP27215,0000010367,AL13,30,9061.0,641,INR,1.0,NaN,2022-04-02,NaN,NaN,NaN,NaN,FOR,JSPL ANGUL SITE DELIVERY,NaN,PO,6K,F,X,20,"BOLT,COUPLING,HT 10.9,M16X70MM",000000001000139084,6301,6301,NaN,0.0,50.0,PC,PC,1,1,1,80.0,1,4000.0,4000.0,NaN,2,NaN,0.0,NaN,NaN,X,X,NaN,X,X,NaN,3.060013e+09,30,ZSPR,0,0,4000.0,0,0,0,O63011500,NaN,0,NaN,NaN,0
4,3561007116,9000,F,ZDM6,NaN,9,2022-04-02,GP27215,0000010367,AL13,30,9061.0,641,INR,1.0,NaN,2022-04-02,NaN,NaN,NaN,NaN,FOR,JSPL ANGUL SITE DELIVERY,NaN,PO,6K,F,X,30,"BOLT,COUPLING,HT 10.9,M12X60MM",000000001000147111,6301,6301,NaN,0.0,50.0,PC,PC,1,1,1,65.0,1,3250.0,3250.0,NaN,2,NaN,0.0,NaN,NaN,X,X,NaN,X,X,NaN,3.060013e+09,40,ZSPR,0,0,3250.0,0,0,0,O63011500,NaN,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758424,6170071163,9000,A,ZAN7,NaN,NaN,2023-05-31,PO_JPP,57600,NaN,0,9071.0,SS1,INR,1.0,NaN,2023-05-31,2023-05-20,2023-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,"PADLOCK;LOTO,SS,40X20MM,40MM",1000614144.0,7101,7142,NaN,5.0,5.0,PC,PC,1,1,1,0.0,1,0.0,0.0,NaN,2,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR,0,0,0.0,0,0,0,S71011202,NaN,0,NaN,NaN,0
758425,6170071163,9000,A,ZAN7,NaN,NaN,2023-05-31,PO_JPP,57600,NaN,0,9071.0,SS1,INR,1.0,NaN,2023-05-31,2023-05-20,2023-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,"PADLOCK;LOTO,SS304,40X20X48.20MM,40MM",1000614142.0,7101,7142,NaN,5.0,5.0,PC,PC,1,1,1,0.0,1,0.0,0.0,NaN,2,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR,0,0,0.0,0,0,0,S71011202,NaN,0,NaN,NaN,0
758426,6198000176,9000,A,ZAN9,NaN,A,2023-05-13,PO_JPP,54004,R232,30,9000.0,SS1,INR,1.0,NaN,2023-05-13,2023-05-13,2023-09-13,NaN,NaN,FOR,FOR Free On Road,NaN,NaN,NaN,NaN,NaN,10,"BOARD;ACRYLIC,4MM,2X2FT2,F/QR CODE DSPLY",1000613191.0,J001,1501,NaN,100.0,100.0,PC,PC,1,1,1,1700.0,1,0.0,170000.0,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR,0,0,170000.0,0,0,0,OJ0019551,NaN,0,NaN,NaN,0
758427,6198000176,9000,A,ZAN9,NaN,A,2023-05-13,PO_JPP,54004,R232,30,9000.0,SS1,INR,1.0,NaN,2023-05-13,2023-05-13,2023-09-13,NaN,NaN,FOR,FOR Free On Road,NaN,NaN,NaN,NaN,NaN,20,"BOARD;SUN,ECO VINYL,5MM,2X2FT2,F/QR CODE",1000613192.0,J001,1501,NaN,500.0,500.0,PC,PC,1,1,1,470.0,1,0.0,235000.0,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR,0,0,235000.0,0,0,0,OJ0019551,NaN,0,NaN,NaN,0
758428,6198000176,9000,A,ZAN9,NaN,A,2023-05-13,PO_JPP,54004,R232,30,9000.0,SS1,INR,1.0,NaN,2023-05-13,2023-05-13,2023-09-13,NaN,NaN,FOR,FOR Free On Road,NaN,NaN,NaN,NaN,NaN,30,"BOARD;ACRYLIC,4MM,2X2FT2,F/QR CODE DSPLY",1000613191.0,J001,1501,NaN,100.0,100.0,PC,PC,1,1,1,1700.0,1,0.0,170000.0,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR,0,0,170000.0,0,0,0,OJ0019551,NaN,0,NaN,NaN,0

In [20]:
df[['WERKS','MATNR','EBELN','EBELP','LIFNR','MENGE','NETPR','PEINH','NETWR',]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758429 entries, 0 to 758428
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   WERKS   758120 non-null  object
 1   MATNR   710332 non-null  object
 2   EBELN   758429 non-null  int64
 3   EBELP   758429 non-null  int64
 4   LIFNR   739140 non-null  object
 5   MENGE   758429 non-null  float64
 6   NETPR   758429 non-null  float64
 7   PEINH   758429 non-null  int64
 8   NETWR   758429 non-null  float64
dtypes: float64(3), int64(3), object(3)
memory usage: 52.1+ MB

In [21]:
#non coded material
df[df['MATNR'].isna()][['WERKS','MATNR','EBELN','EBELP','LIFNR','MENGE','NETPR','PEINH','NETWR',]]

,WERKS,MATNR,EBELN,EBELP,LIFNR,MENGE,NETPR,PEINH,NETWR
114,6301,NaN,3561504551,10,0000034662,1.0,2360000.00,1,2360000.00
115,6301,NaN,3561504551,20,0000034662,1.0,465050.00,1,465050.00
116,6301,NaN,3561504552,10,0000033209,1.0,600000.00,1,600000.00
117,6301,NaN,3561504552,20,0000033209,1.0,1200000.00,1,1200000.00
118,6301,NaN,3561504553,10,0000032614,1.0,252284.18,1,252284.18
...,...,...,...,...,...,...,...,...,...
757602,7126,NaN,6170070833,10,990010,1.0,0.00,1,0.00
757603,7126,NaN,6170070833,20,990010,1.0,0.00,1,0.00
757773,7101,NaN,6170070921,10,39052,1.0,0.00,1,0.00
757774,7101,NaN,6170070921,20,39052,1.0,0.00,1,0.00
757775,7101,NaN,6170070921,30,39052,1.0,0.00,1,0.00

In [22]:
#no vender
df[df['LIFNR'].isna()][['WERKS','MATNR','EBELN','EBELP','LIFNR','MENGE','NETPR','PEINH','NETWR',]]

,WERKS,MATNR,EBELN,EBELP,LIFNR,MENGE,NETPR,PEINH,NETWR
200,1311,000000003000001194,4110001232,10,NaN,7788.0,24814.48,1,1.932552e+08
201,1310,000000003000001367,4110001233,10,NaN,19470.0,19210.44,1,3.740273e+08
202,1311,000000003000001660,4110001234,10,NaN,39666.0,33326.41,1,1.321925e+09
203,1311,000000003000001846,4110001235,10,NaN,7788.0,11723.30,1,9.130106e+07
204,1101,000000003000001284,4110001236,10,NaN,32973.0,15447.38,1,5.093465e+08
...,...,...,...,...,...,...,...,...,...
693266,1310.0,000000002000003533,4416000069,10,NaN,10580.0,3139.01,1,3.321073e+07
693267,1309.0,000000003000000011,4416000070,10,NaN,27258.0,25765.51,1,7.023163e+08
693268,1101.0,000000003000001227,4416000071,10,NaN,82500.0,11060.42,1,9.124846e+08
693269,1309.0,000000003000000011,4416000072,10,NaN,31152.0,21794.16,1,6.789317e+08
693270,1309.0,000000003000000011,4416000073,10,NaN,30866.0,21782.48,1,6.723380e+08

In [23]:
#no plant
df[df['WERKS'].isna()][['WERKS','MATNR','EBELN','EBELP','LIFNR','MENGE','NETPR','PEINH','NETWR',]]

,WERKS,MATNR,EBELN,EBELP,LIFNR,MENGE,NETPR,PEINH,NETWR
3697,NaN,000000001000583363,4460000044,10,0000016488,0.0,0.0,1,0.0
3698,NaN,000000001000583364,4460000044,20,0000016488,0.0,0.0,1,0.0
3699,NaN,000000001000583365,4460000044,30,0000016488,0.0,0.0,1,0.0
3700,NaN,000000001000583366,4460000044,40,0000016488,0.0,0.0,1,0.0
3701,NaN,000000001000583367,4460000044,50,0000016488,0.0,0.0,1,0.0
...,...,...,...,...,...,...,...,...,...
743408,NaN,1000350832.0,6160218154,40,990090,0.0,0.0,1,0.0
743409,NaN,1000350370.0,6160218154,50,990090,0.0,0.0,1,0.0
743410,NaN,1000350384.0,6160218154,60,990090,0.0,0.0,1,0.0
743411,NaN,1000352182.0,6160218154,70,990090,0.0,0.0,1,0.0
743412,NaN,1000350322.0,6160218154,80,990090,0.0,0.0,1,0.0

In [24]:
#no pō
df[df['EBELP'].isna()][['WERKS','MATNR','EBELN','EBELP','LIFNR','MENGE','NETPR','PEINH','NETWR',]]

Empty DataFrame
Columns: [WERKS, MATNR, EBELN, EBELP, LIFNR, MENGE, NETPR, PEINH, NETWR]
Index: []

In [25]:
df[df['MATNR'].isna()][['WERKS','MATNR','EBELN','EBELP','LIFNR','MENGE','NETPR','PEINH','NETWR',]]['NETWR'].sum()

57402227191.0

In [26]:
#df1=df[~((df['MATNR'].isna())|(df['LIFNR'].isna())|(df['WERKS'].isna()))]

In [27]:
df[['WERKS','MATNR','EBELN','EBELP','LIFNR','MENGE','NETPR','PEINH','NETWR',]].info(),len(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758429 entries, 0 to 758428
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   WERKS   758120 non-null  object
 1   MATNR   710332 non-null  object
 2   EBELN   758429 non-null  int64
 3   EBELP   758429 non-null  int64
 4   LIFNR   739140 non-null  object
 5   MENGE   758429 non-null  float64
 6   NETPR   758429 non-null  float64
 7   PEINH   758429 non-null  int64
 8   NETWR   758429 non-null  float64
dtypes: float64(3), int64(3), object(3)
memory usage: 52.1+ MB

(None, 758429)

In [28]:
df[['BUKRS','STATU','ERNAM','ZBD1T','KUFIX','KDATB','KDATE','KONNR','RESWK','LIFRE','FRGGR','FRGKE','LGORT','IDNLF','KTMNG','BPRME','BPUMZ','UMREZ','UMREN','UNTTO','BWTTY','ELIKZ','WEUNB','REPOS','KZWI1','KZWI2','KZWI3','KZWI4','KZWI5','KZWI6','AFNAM','SPE_CRM_SO_ITEM','BERID','SPE_CRM_REF_SO','SPE_CRM_REF_ITEM','ANGPN']]

,BUKRS,STATU,ERNAM,ZBD1T,KUFIX,KDATB,KDATE,KONNR,RESWK,LIFRE,FRGGR,FRGKE,LGORT,IDNLF,KTMNG,BPRME,BPUMZ,UMREZ,UMREN,UNTTO,BWTTY,ELIKZ,WEUNB,REPOS,KZWI1,KZWI2,KZWI3,KZWI4,KZWI5,KZWI6,AFNAM,SPE_CRM_SO_ITEM,BERID,SPE_CRM_REF_SO,SPE_CRM_REF_ITEM,ANGPN
0,9000,9,GP-36476,30,NaN,NaN,NaN,NaN,NaN,NaN,PO,F,6312,NaN,0.0,NO,1,1,1,0.0,NaN,X,NaN,X,0,0,43200.0,0,0,0,O63011412,0,NaN,NaN,NaN,0
1,9000,9,GP-36476,30,NaN,NaN,NaN,NaN,NaN,NaN,PO,F,6312,NaN,0.0,PC,1,1,1,0.0,NaN,X,NaN,X,0,0,84000.0,0,0,0,O63011412,0,NaN,NaN,NaN,0
2,9000,9,GP27215,30,NaN,NaN,NaN,NaN,NaN,NaN,PO,F,6301,NaN,0.0,PC,1,1,1,0.0,NaN,X,NaN,X,0,0,30900.0,0,0,0,O63011500,0,NaN,NaN,NaN,0
3,9000,9,GP27215,30,NaN,NaN,NaN,NaN,NaN,NaN,PO,F,6301,NaN,0.0,PC,1,1,1,0.0,NaN,X,NaN,X,0,0,4000.0,0,0,0,O63011500,0,NaN,NaN,NaN,0
4,9000,9,GP27215,30,NaN,NaN,NaN,NaN,NaN,NaN,PO,F,6301,NaN,0.0,PC,1,1,1,0.0,NaN,X,NaN,X,0,0,3250.0,0,0,0,O63011500,0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758424,9000,NaN,PO_JPP,0,NaN,2023-05-20,2023-07-31,NaN,NaN,NaN,NaN,NaN,7142,NaN,5.0,PC,1,1,1,0.0,NaN,NaN,NaN,NaN,0,0,0.0,0,0,0,S71011202,0,NaN,NaN,NaN,0
758425,9000,NaN,PO_JPP,0,NaN,2023-05-20,2023-07-31,NaN,NaN,NaN,NaN,NaN,7142,NaN,5.0,PC,1,1,1,0.0,NaN,NaN,NaN,NaN,0,0,0.0,0,0,0,S71011202,0,NaN,NaN,NaN,0
758426,9000,A,PO_JPP,30,NaN,2023-05-13,2023-09-13,NaN,NaN,NaN,NaN,NaN,1501,NaN,100.0,PC,1,1,1,0.0,NaN,NaN,NaN,NaN,0,0,170000.0,0,0,0,OJ0019551,0,NaN,NaN,NaN,0
758427,9000,A,PO_JPP,30,NaN,2023-05-13,2023-09-13,NaN,NaN,NaN,NaN,NaN,1501,NaN,500.0,PC,1,1,1,0.0,NaN,NaN,NaN,NaN,0,0,235000.0,0,0,0,OJ0019551,0,NaN,NaN,NaN,0
758428,9000,A,PO_JPP,30,NaN,2023-05-13,2023-09-13,NaN,NaN,NaN,NaN,NaN,1501,NaN,100.0,PC,1,1,1,0.0,NaN,NaN,NaN,NaN,0,0,170000.0,0,0,0,OJ0019551,0,NaN,NaN,NaN,0

In [29]:
df['ANGPN'].value_counts(),df['PEINH'].value_counts(),df['WKURS'].value_counts()#CHECK EXCHANGE

(0    758429
 Name: ANGPN, dtype: int64,
 1       758392
 0           35
 1000         2
 Name: PEINH, dtype: int64,
 1.00     742789
 0.00      11814
 80.90       261
 81.10       193
 82.00       192
           ...
 84.85         1
 81.24         1
 7.84          1
 77.41         1
 11.75         1
 Name: WKURS, Length: 316, dtype: int64)

In [30]:
columns_to_exclude = ['BUKRS', 'STATU', 'ERNAM', 'ZBD1T', 'KUFIX', 'KDATB', 'KDATE', 'KONNR', 'RESWK', 'LIFRE',
                      'FRGGR', 'FRGKE', 'LGORT', 'IDNLF', 'KTMNG', 'BPRME', 'BPUMZ', 'UMREZ', 'UMREN', 'UNTTO',
                      'BWTTY', 'ELIKZ', 'WEUNB', 'REPOS', 'KZWI1', 'KZWI2', 'KZWI3', 'KZWI4', 'KZWI5', 'KZWI6',
                      'AFNAM', 'SPE_CRM_SO_ITEM', 'BERID', 'SPE_CRM_REF_SO', 'SPE_CRM_REF_ITEM', 'ANGPN']

df1 = df.drop(columns=columns_to_exclude)

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758429 entries, 0 to 758428
Data columns (total 36 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   EBELN   758429 non-null  int64
 1   BSTYP   758429 non-null  object
 2   BSART   758429 non-null  object
 3   LOEKZ   2 non-null       object
 4   AEDAT   758429 non-null  object
 5   LIFNR   739140 non-null  object
 6   ZTERM   309198 non-null  object
 7   EKORG   758424 non-null  float64
 8   EKGRP   758424 non-null  object
 9   WAERS   746615 non-null  object
 10  WKURS   758429 non-null  float64
 11  BEDAT   758429 non-null  object
 12  INCO1   312665 non-null  object
 13  INCO2   305368 non-null  object
 14  FRGSX   185992 non-null  object
 15  FRGZU   178920 non-null  object
 16  EBELP   758429 non-null  int64
 17  TXZ01   758376 non-null  object
 18  MATNR   710332 non-null  object
 19  WERKS   758120 non-null  object
 20  MENGE   758429 non-null  float64
 21  MEINS   758356 non-null  object
 22  NETPR   758429 non-null  float64
 23  PEINH   758429 non-null  int64
 24  NETWR   758429 non-null  float64
 25  BRTWR   758429 non-null  float64
 26  AGDAT   12060 non-null   object
 27  WEBAZ   758429 non-null  int64
 28  UEBTK   35601 non-null   object
 29  BWTAR   665 non-null     object
 30  WEPOS   201094 non-null  object
 31  WEBRE   178592 non-null  object
 32  ANFNR   96145 non-null   float64
 33  BANFN   181306 non-null  float64
 34  BNFPO   758429 non-null  int64
 35  MTART   710330 non-null  object
dtypes: float64(8), int64(5), object(23)
memory usage: 208.3+ MB

In [32]:
df1

,EBELN,BSTYP,BSART,LOEKZ,AEDAT,LIFNR,ZTERM,EKORG,EKGRP,WAERS,WKURS,BEDAT,INCO1,INCO2,FRGSX,FRGZU,EBELP,TXZ01,MATNR,WERKS,MENGE,MEINS,NETPR,PEINH,NETWR,BRTWR,AGDAT,WEBAZ,UEBTK,BWTAR,WEPOS,WEBRE,ANFNR,BANFN,BNFPO,MTART
0,3561007115,F,ZDM6,NaN,2022-04-02,0000501277,AL13,9061.0,670,INR,1.0,2022-04-02,FOR,JSPL Angul Plant Site,6K,X,10,"STEEL ALMIRAH,78X36X21IN",000000001000160592,6301,4.0,NO,10800.0,1,43200.0,43200.0,NaN,0,NaN,NaN,X,X,NaN,3.060013e+09,10,ZSPR
1,3561007115,F,ZDM6,NaN,2022-04-02,0000501277,AL13,9061.0,670,INR,1.0,2022-04-02,FOR,JSPL Angul Plant Site,6K,X,20,"RACK,STEEL",000000001000043086,6301,8.0,PC,10500.0,1,84000.0,84000.0,NaN,0,NaN,NaN,X,X,NaN,3.060013e+09,20,ZSPR
2,3561007116,F,ZDM6,NaN,2022-04-02,0000010367,AL13,9061.0,641,INR,1.0,2022-04-02,FOR,JSPL ANGUL SITE DELIVERY,6K,X,10,"BOLT,HEX,HT 8.8,IS:1364,M24X80MM",000000001000238212,6301,300.0,PC,103.0,1,30900.0,30900.0,NaN,2,NaN,NaN,X,X,NaN,3.060013e+09,10,ZSPR
3,3561007116,F,ZDM6,NaN,2022-04-02,0000010367,AL13,9061.0,641,INR,1.0,2022-04-02,FOR,JSPL ANGUL SITE DELIVERY,6K,X,20,"BOLT,COUPLING,HT 10.9,M16X70MM",000000001000139084,6301,50.0,PC,80.0,1,4000.0,4000.0,NaN,2,NaN,NaN,X,X,NaN,3.060013e+09,30,ZSPR
4,3561007116,F,ZDM6,NaN,2022-04-02,0000010367,AL13,9061.0,641,INR,1.0,2022-04-02,FOR,JSPL ANGUL SITE DELIVERY,6K,X,30,"BOLT,COUPLING,HT 10.9,M12X60MM",000000001000147111,6301,50.0,PC,65.0,1,3250.0,3250.0,NaN,2,NaN,NaN,X,X,NaN,3.060013e+09,40,ZSPR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758424,6170071163,A,ZAN7,NaN,2023-05-31,57600,NaN,9071.0,SS1,INR,1.0,2023-05-31,NaN,NaN,NaN,NaN,30,"PADLOCK;LOTO,SS,40X20MM,40MM",1000614144.0,7101,5.0,PC,0.0,1,0.0,0.0,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR
758425,6170071163,A,ZAN7,NaN,2023-05-31,57600,NaN,9071.0,SS1,INR,1.0,2023-05-31,NaN,NaN,NaN,NaN,40,"PADLOCK;LOTO,SS304,40X20X48.20MM,40MM",1000614142.0,7101,5.0,PC,0.0,1,0.0,0.0,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR
758426,6198000176,A,ZAN9,NaN,2023-05-13,54004,R232,9000.0,SS1,INR,1.0,2023-05-13,FOR,FOR Free On Road,NaN,NaN,10,"BOARD;ACRYLIC,4MM,2X2FT2,F/QR CODE DSPLY",1000613191.0,J001,100.0,PC,1700.0,1,0.0,170000.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR
758427,6198000176,A,ZAN9,NaN,2023-05-13,54004,R232,9000.0,SS1,INR,1.0,2023-05-13,FOR,FOR Free On Road,NaN,NaN,20,"BOARD;SUN,ECO VINYL,5MM,2X2FT2,F/QR CODE",1000613192.0,J001,500.0,PC,470.0,1,0.0,235000.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR
758428,6198000176,A,ZAN9,NaN,2023-05-13,54004,R232,9000.0,SS1,INR,1.0,2023-05-13,FOR,FOR Free On Road,NaN,NaN,30,"BOARD;ACRYLIC,4MM,2X2FT2,F/QR CODE DSPLY",1000613191.0,J001,100.0,PC,1700.0,1,0.0,170000.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR

In [33]:
df1.to_csv("anomaly_filtered_data.csv",index=False)

In [33]:
dfx=df[['WERKS','MATNR','EBELN','EBELP','LIFNR','MENGE','NETPR','PEINH','NETWR',]]

# RSF

In [37]:
x1=dfx[dfx['LIFNR']=='0000501277']

In [45]:
dfx=dfx[dfx['NETWR']>0]

In [46]:
dfx.head()

,WERKS,MATNR,EBELN,EBELP,LIFNR,MENGE,NETPR,PEINH,NETWR
0,6301,000000001000160592,3561007115,10,0000501277,4.0,10800.0,1,43200.0
1,6301,000000001000043086,3561007115,20,0000501277,8.0,10500.0,1,84000.0
2,6301,000000001000238212,3561007116,10,0000010367,300.0,103.0,1,30900.0
3,6301,000000001000139084,3561007116,20,0000010367,50.0,80.0,1,4000.0
4,6301,000000001000147111,3561007116,30,0000010367,50.0,65.0,1,3250.0
...,...,...,...,...,...,...,...,...,...
706800,2701,NaN,4925000040,20,0000084679,1.0,271500.0,1,271500.0
706801,2701,NaN,4925000040,30,0000084679,1.0,36000.0,1,36000.0
706802,2701,NaN,4925000040,40,0000084679,1.0,60000.0,1,60000.0
706803,2701,NaN,4925000040,50,0000084679,1.0,17000.0,1,17000.0
706804,2701,NaN,4925000041,10,0000035109,1.0,689700.0,1,689700.0

In [47]:
x1

,WERKS,MATNR,EBELN,EBELP,LIFNR,MENGE,NETPR,PEINH,NETWR
0,6301,000000001000160592,3561007115,10,0000501277,4.0,10800.0,1,43200.0
1,6301,000000001000043086,3561007115,20,0000501277,8.0,10500.0,1,84000.0
98,6301,000000001000043045,3561007156,10,0000501277,10.0,4661.0,1,46610.0
103,6301,000000001000043045,3561007161,10,0000501277,10.0,5400.0,1,54000.0
16508,6111,000000001000043082,4561097272,10,0000501277,4.0,10800.0,1,43200.0
...,...,...,...,...,...,...,...,...,...
701738,6107,000000001000160592,4561116991,10,0000501277,2.0,10800.0,1,21600.0
702216,6301,000000001000028142,4561117251,10,0000501277,2.0,11200.0,1,22400.0
702778,6109,000000001000611880,4561117570,10,0000501277,3.0,9900.0,1,29700.0
702956,6101,000000001000043049,4561117624,10,0000501277,50.0,7350.0,1,367500.0
702957,6101,000000001000534684,4561117624,20,0000501277,100.0,729.0,1,72900.0

In [48]:
#x1['NETWR'].sum(),x1['NETWR_Sum_ByVendor_EBELN'].max()

In [49]:
x1['EBELN'].value_counts()

4561106352    7
4561108145    5
4561097419    5
4561109303    4
4561101437    3
             ..
4561108359    1
4561109099    1
4561109256    1
4561099170    1
4562003475    1
Name: EBELN, Length: 91, dtype: int64

In [50]:
x1[x1['EBELN']==4561106352]#['NETWR'].sum()

,WERKS,MATNR,EBELN,EBELP,LIFNR,MENGE,NETPR,PEINH,NETWR
255314,6101,000000001000598403,4561106352,10,0000501277,1.0,18205.0,1,18205.0
255315,6101,000000001000598404,4561106352,20,0000501277,3.0,17479.0,1,52437.0
255316,6101,000000001000598405,4561106352,30,0000501277,2.0,29530.0,1,59060.0
255317,6101,000000001000598406,4561106352,40,0000501277,3.0,8380.0,1,25140.0
255318,6101,000000001000598407,4561106352,50,0000501277,6.0,19200.0,1,115200.0
255319,6101,000000001000598408,4561106352,60,0000501277,1.0,43330.0,1,43330.0
255320,6101,000000001000598409,4561106352,70,0000501277,1.0,42152.0,1,42152.0

In [51]:
ebeln_count = dfx.groupby('LIFNR')['EBELN'].nunique().reset_index()
ebeln_count.rename(columns={'EBELN': 'EBELN_Count'}, inplace=True)

netwr_sum_by_vendor = dfx.groupby('LIFNR')['NETWR'].sum().reset_index()
netwr_sum_by_vendor.rename(columns={'NETWR': 'NETWR_Sum_ByVendor'}, inplace=True)

netwr_sum_by_vendor_ebeln = dfx.groupby(['LIFNR', 'EBELN'])['NETWR'].sum().reset_index()
netwr_sum_by_vendor_ebeln.rename(columns={'NETWR': 'NETWR_Sum_ByVendor_EBELN'}, inplace=True)


dfx = pd.merge(dfx, ebeln_count, on='LIFNR')
dfx = pd.merge(dfx, netwr_sum_by_vendor, on='LIFNR')
dfx = pd.merge(dfx, netwr_sum_by_vendor_ebeln, on=['LIFNR', 'EBELN'])


netwr_max = dfx.groupby(['LIFNR'])['NETWR_Sum_ByVendor_EBELN'].max().reset_index()
netwr_max.rename(columns={'NETWR_Sum_ByVendor_EBELN': 'netwr_max'}, inplace=True)

dfx = pd.merge(dfx, netwr_max, on='LIFNR')

In [52]:
dfx['Avg_exclu_max']=(dfx['NETWR_Sum_ByVendor']-dfx['netwr_max'])/(dfx['EBELN_Count']-1)

In [53]:
dfx['RSF']=dfx['netwr_max']/dfx['Avg_exclu_max']

In [54]:
dfx

,WERKS,MATNR,EBELN,EBELP,LIFNR,MENGE,NETPR,PEINH,NETWR,EBELN_Count,NETWR_Sum_ByVendor,NETWR_Sum_ByVendor_EBELN,netwr_max,Avg_exclu_max,RSF
0,6301,000000001000160592,3561007115,10,0000501277,4.0,10800.00,1,43200.00,90,12983574.88,127200.0,968400.0,135001.964944,7.173229
1,6301,000000001000043086,3561007115,20,0000501277,8.0,10500.00,1,84000.00,90,12983574.88,127200.0,968400.0,135001.964944,7.173229
2,6301,000000001000043045,3561007156,10,0000501277,10.0,4661.00,1,46610.00,90,12983574.88,46610.0,968400.0,135001.964944,7.173229
3,6301,000000001000043045,3561007161,10,0000501277,10.0,5400.00,1,54000.00,90,12983574.88,54000.0,968400.0,135001.964944,7.173229
4,6111,000000001000043082,4561097272,10,0000501277,4.0,10800.00,1,43200.00,90,12983574.88,121200.0,968400.0,135001.964944,7.173229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180862,6126,NaN,4586000131,10,0000924821,1.0,2000000.00,1,2000000.00,1,2000000.00,2000000.0,2000000.0,NaN,NaN
180863,2701,000000001000535841,4920000020,10,0000922328,1.0,72000.00,1,72000.00,1,72000.00,72000.0,72000.0,NaN,NaN
180864,2701,000000001000603180,4920000022,10,0000502324,2.0,839933.89,1,1679867.77,1,3072000.00,3072000.0,3072000.0,NaN,NaN
180865,2701,000000001000603181,4920000022,20,0000502324,4.0,348033.06,1,1392132.23,1,3072000.00,3072000.0,3072000.0,NaN,NaN
180866,2701,NaN,4925000041,10,0000035109,1.0,689700.00,1,689700.00,1,689700.00,689700.0,689700.0,NaN,NaN

In [55]:
dfx1=dfx[(dfx['EBELN_Count']>5)&(dfx['RSF']>10)]

In [67]:
dfx1.to_csv("RSF_ekko_ekpo_after_excluding_zero.csv")

In [57]:
#!dir

In [64]:
dfx1

,WERKS,MATNR,EBELN,EBELP,LIFNR,MENGE,NETPR,PEINH,NETWR,EBELN_Count,NETWR_Sum_ByVendor,NETWR_Sum_ByVendor_EBELN,netwr_max,Avg_exclu_max,RSF
140,6301,000000001000238212,3561007116,10,0000010367,300.0,103.0,1,30900.0,329,15766664.15,38150.0,1013260.0,44979.89070121951,22.526955584010082
141,6301,000000001000139084,3561007116,20,0000010367,50.0,80.0,1,4000.0,329,15766664.15,38150.0,1013260.0,44979.89070121951,22.526955584010082
142,6301,000000001000147111,3561007116,30,0000010367,50.0,65.0,1,3250.0,329,15766664.15,38150.0,1013260.0,44979.89070121951,22.526955584010082
143,1309,000000001000580700,4511072057,10,0000010367,60.0,980.0,1,58800.0,329,15766664.15,167250.0,1013260.0,44979.89070121951,22.526955584010082
144,1309,000000001000580719,4511072057,20,0000010367,60.0,1125.0,1,67500.0,329,15766664.15,167250.0,1013260.0,44979.89070121951,22.526955584010082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177441,6110,000000001000043783,4562003824,10,0000084219,700.0,400.0,1,280000.0,7,5886988.00,280000.0,3818400.0,344764.6666666667,11.075380887832665
177442,6122,000000001000043783,4562003942,10,0000084219,500.0,400.0,1,200000.0,7,5886988.00,200000.0,3818400.0,344764.6666666667,11.075380887832665
177443,6101,NaN,4561544056,10,0000084219,1.0,2089200.0,1,2089200.0,7,5886988.00,3818400.0,3818400.0,344764.6666666667,11.075380887832665
177444,6101,NaN,4561544056,20,0000084219,1.0,1729200.0,1,1729200.0,7,5886988.00,3818400.0,3818400.0,344764.6666666667,11.075380887832665
177445,6122,000000001000043783,4562004044,10,0000084219,500.0,400.0,1,200000.0,7,5886988.00,200000.0,3818400.0,344764.6666666667,11.075380887832665

In [59]:
dfx1[dfx1['LIFNR']=='0000010367']#['EBELN'].nunique()

,WERKS,MATNR,EBELN,EBELP,LIFNR,MENGE,NETPR,PEINH,NETWR,EBELN_Count,NETWR_Sum_ByVendor,NETWR_Sum_ByVendor_EBELN,netwr_max,Avg_exclu_max,RSF
140,6301,000000001000238212,3561007116,10,0000010367,300.0,103.0,1,30900.0,329,15766664.15,38150.0,1013260.0,44979.890701,22.526956
141,6301,000000001000139084,3561007116,20,0000010367,50.0,80.0,1,4000.0,329,15766664.15,38150.0,1013260.0,44979.890701,22.526956
142,6301,000000001000147111,3561007116,30,0000010367,50.0,65.0,1,3250.0,329,15766664.15,38150.0,1013260.0,44979.890701,22.526956
143,1309,000000001000580700,4511072057,10,0000010367,60.0,980.0,1,58800.0,329,15766664.15,167250.0,1013260.0,44979.890701,22.526956
144,1309,000000001000580719,4511072057,20,0000010367,60.0,1125.0,1,67500.0,329,15766664.15,167250.0,1013260.0,44979.890701,22.526956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,6115,000000001000528982,4561117596,10,0000010367,100.0,31.0,1,3100.0,329,15766664.15,3100.0,1013260.0,44979.890701,22.526956
1132,7101,000000001000050321,4571037467,10,0000010367,2.0,3630.0,1,7260.0,329,15766664.15,7260.0,1013260.0,44979.890701,22.526956
1133,7126,000000001000217979,4571037526,10,0000010367,100.0,88.0,1,8800.0,329,15766664.15,8800.0,1013260.0,44979.890701,22.526956
1134,7101,000000001000035042,4571037779,10,0000010367,200.0,23.1,1,4620.0,329,15766664.15,4620.0,1013260.0,44979.890701,22.526956
1135,7126,000000001000136247,4571037780,10,0000010367,500.0,1.0,1,500.0,329,15766664.15,500.0,1013260.0,44979.890701,22.526956

In [60]:
dfx1[dfx1['LIFNR']==10367]#['EBELN'].nunique()

,WERKS,MATNR,EBELN,EBELP,LIFNR,MENGE,NETPR,PEINH,NETWR,EBELN_Count,NETWR_Sum_ByVendor,NETWR_Sum_ByVendor_EBELN,netwr_max,Avg_exclu_max,RSF
73904,1101,1000035080.0,4511074659,10,10367,50.0,940.0,1,47000.0,61,4199604.5,47000.0,2114520.0,34751.408333,60.84703
73905,6102,000000001000200758,4561098274,10,10367,500.0,100.0,1,50000.0,61,4199604.5,2114520.0,2114520.0,34751.408333,60.84703
73906,6102,000000001000206567,4561098274,20,10367,500.0,96.0,1,48000.0,61,4199604.5,2114520.0,2114520.0,34751.408333,60.84703
73907,6102,000000001000539747,4561098274,30,10367,2000.0,30.0,1,60000.0,61,4199604.5,2114520.0,2114520.0,34751.408333,60.84703
73908,6102,000000001000553312,4561098274,40,10367,1000.0,21.0,1,21000.0,61,4199604.5,2114520.0,2114520.0,34751.408333,60.84703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74117,7126,000000001000190997,4571037133,10,10367,250.0,11.5,1,2875.0,61,4199604.5,2875.0,2114520.0,34751.408333,60.84703
74118,7101,000000001000050319,4571037206,10,10367,2.0,2400.0,1,4800.0,61,4199604.5,4800.0,2114520.0,34751.408333,60.84703
74119,7106,000000001000182401,4571037277,10,10367,250.0,25.0,1,6250.0,61,4199604.5,6250.0,2114520.0,34751.408333,60.84703
74120,7106,000000001000156401,4571037318,10,10367,5.0,20.0,1,100.0,61,4199604.5,100.0,2114520.0,34751.408333,60.84703
74121,7126,000000001000409205,4571037341,10,10367,100.0,10.0,1,1000.0,61,4199604.5,1000.0,2114520.0,34751.408333,60.84703

In [61]:
dfx1['Avg_exclu_max']=dfx1['Avg_exclu_max'].astype(str)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8400\4218280016.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfx1['Avg_exclu_max']=dfx1['Avg_exclu_max'].astype(str)

In [62]:
dfx1['RSF']=dfx1['RSF'].astype(str)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8400\3795102142.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfx1['RSF']=dfx1['RSF'].astype(str)

In [63]:
dfx1[dfx1['LIFNR']==500805]

Empty DataFrame
Columns: [WERKS, MATNR, EBELN, EBELP, LIFNR, MENGE, NETPR, PEINH, NETWR, EBELN_Count, NETWR_Sum_ByVendor, NETWR_Sum_ByVendor_EBELN, netwr_max, Avg_exclu_max, RSF]
Index: []

In [53]:
#df[df['LIFNR']==10367]#['EBELN'].nunique()

In [54]:
dfx=df[['WERKS','MATNR','EBELN','EBELP','LIFNR','MENGE','NETPR','PEINH','NETWR',]]

In [55]:
dfx

,WERKS,MATNR,EBELN,EBELP,LIFNR,MENGE,NETPR,PEINH,NETWR
0,6301,000000001000160592,3561007115,10,0000501277,4.0,10800.0,1,43200.0
1,6301,000000001000043086,3561007115,20,0000501277,8.0,10500.0,1,84000.0
2,6301,000000001000238212,3561007116,10,0000010367,300.0,103.0,1,30900.0
3,6301,000000001000139084,3561007116,20,0000010367,50.0,80.0,1,4000.0
4,6301,000000001000147111,3561007116,30,0000010367,50.0,65.0,1,3250.0
...,...,...,...,...,...,...,...,...,...
758424,7101,1000614144.0,6170071163,30,57600,5.0,0.0,1,0.0
758425,7101,1000614142.0,6170071163,40,57600,5.0,0.0,1,0.0
758426,J001,1000613191.0,6198000176,10,54004,100.0,1700.0,1,0.0
758427,J001,1000613192.0,6198000176,20,54004,500.0,470.0,1,0.0
758428,J001,1000613191.0,6198000176,30,54004,100.0,1700.0,1,0.0

In [59]:
#dfx1[dfx1['Avg_exclu_max']<=0]

In [57]:
dfx1[dfx1['LIFNR']==500805]#['EBELN'].nunique()

,WERKS,MATNR,EBELN,EBELP,LIFNR,MENGE,NETPR,PEINH,NETWR,EBELN_Count,NETWR_Sum_ByVendor,NETWR_Sum_ByVendor_EBELN,netwr_max,Avg_exclu_max,RSF
624265,1206,1000028297.0,6110191493,10,500805,2.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624266,1309,1000028297.0,6110196553,10,500805,4.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624267,1406,1000028297.0,6110199860,10,500805,2.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624268,1317,1000028297.0,6110200270,10,500805,1.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624269,3102,000000001000600085,4531046418,10,500805,1.0,19491.52,1,19491.52,17,69661.01,69661.01,69661.01,9.094947017729282e-13,7.659309049762021e+16
624270,3102,000000001000600084,4531046418,20,500805,1.0,50169.49,1,50169.49,17,69661.01,69661.01,69661.01,9.094947017729282e-13,7.659309049762021e+16
624271,2601,1000043075.0,6110211067,10,500805,18.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624272,2601,1000043047.0,6110211067,20,500805,2.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624273,2601,1000043046.0,6110211067,30,500805,8.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624274,1115,1000028297.0,6110211822,10,500805,1.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624275,1115,1000558419.0,6110211892,10,500805,10.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624276,1315,1000028297.0,6110221679,10,500805,1.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624277,1215,1000299129.0,6110224592,10,500805,35.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624278,1115,1000028297.0,6110229162,10,500805,45.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624279,2315,1000488011.0,6120015222,10,500805,2.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624280,1115,1000043096.0,6110243792,10,500805,2.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624281,1115,1000043061.0,6110243792,20,500805,15.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624282,1115,1000043146.0,6110243792,30,500805,1.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624283,1115,1000043146.0,6110246564,10,500805,1.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624284,1115,1000043096.0,6110246564,20,500805,1.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624285,1115,1000043061.0,6110246564,30,500805,1.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624286,1215,1000578052.0,6110253182,10,500805,1.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624287,1153,1000043146.0,6110261830,10,500805,4.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16
624288,1115,1000395941.0,6110276679,10,500805,14.0,0.00,1,0.00,17,69661.01,0.00,69661.01,9.094947017729282e-13,7.659309049762021e+16

# pdf

In [76]:
import pandas as pd
import numpy as np
from scipy.stats import norm
import pandas as pd
import numpy as np
from scipy.stats import norm
import matplotlib.pyplot as plt

In [72]:
norm.pdf(dfx['NETWR'], dfx['NETWR'].mean(), dfx['NETWR'].std())

array([6.69408947e-09, 6.69437852e-09, 6.69411375e-09, ...,
       6.70321916e-09, 6.70198086e-09, 6.69830033e-09])

In [73]:


# Apply the Gaussian PDF to the 'NETWR' column
dfx['NETWR_PDF'] = norm.pdf(dfx['NETWR'], dfx['NETWR'].mean(), dfx['NETWR'].std())

from scipy.stats import norm
import plotly.express as px

# Plot the PDF values using a bar chart
fig = px.bar(df, x='NETWR', y='NETWR_PDF', labels={'NETWR': 'NETWR', 'NETWR_PDF': 'PDF'})

# Show the plot
fig.show()


fig.write_html("plot.html")


# Plot the Pdfx values using Matplotlib
plt.figure()
plt.bar(dfx['NETWR'], dfx['NETWR_PDF'])
plt.xlabel('NETWR')
plt.ylabel('Pdf')
plt.title('Probability Density Function (Pdfx) of NETWR')
plt.show()

In [79]:
dfx['NETWR_PDF'].mode()

0    6.693780e-09
Name: NETWR_PDF, dtype: float64

In [70]:
int(1.191892e-08)

0

In [81]:
dfx.to_csv("check.csv")

import pandas as pd
from sklearn.ensemble import IsolationForest
from sklearn.preprocessing import OneHotEncoder

# Load your dataset into a pandas DataFrame
data = df2

# Select the columns you want to use for anomaly detection
columns = ['EBELN', 'BSTYP', 'BSART', 'LOEKZ', 'AEDAT', 'LIFNR', 'ZTERM', 'EKORG',
           'EKGRP', 'WAERS', 'WKURS', 'BEDAT', 'INCO1', 'INCO2', 'FRGSX', 'FRGZU',
           'EBELP', 'TXZ01', 'MATNR', 'WERKS', 'MENGE', 'MEINS', 'NETPR', 'PEINH',
           'NETWR', 'BRTWR', 'AGDAT', 'WEBAZ', 'UEBTK', 'BWTAR', 'WEPOS', 'WEBRE',
           'ANFNR', 'BANFN', 'BNFPO', 'MTART']

# Extract the selected columns from the data
X = data[columns]

# Convert numeric columns to strings
numeric_cols = ['EBELN', 'AEDAT', 'WKURS', 'EBELP', 'MENGE', 'NETPR', 'PEINH', 'NETWR',
                'BRTWR', 'AGDAT', 'WEBAZ', 'UEBTK', 'BANFN', 'BNFPO']
X[numeric_cols] = X[numeric_cols].astype(str)

# Convert categorical columns to numerical using one-hot encoding
categorical_cols = ['BSTYP', 'BSART', 'LOEKZ', 'LIFNR', 'ZTERM', 'EKORG', 'EKGRP', 'WAERS',
                    'INCO1', 'INCO2', 'FRGSX', 'FRGZU', 'MATNR', 'WERKS', 'MEINS', 'BWTAR',
                    'ANFNR', 'MTART']
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
X_encoded = pd.DataFrame(encoder.fit_transform(X[categorical_cols]))
X_encoded.columns = encoder.get_feature_names(categorical_cols)
X = pd.concat([X.drop(columns=categorical_cols), X_encoded], axis=1)

# Create an instance of the Isolation Forest algorithm
model = IsolationForest(contamination=0.05)  # Adjust contamination parameter as needed

# Fit the model to the data
model.fit(X)

# Predict the anomalies (outliers)
predictions = model.predict(X)

# Add the predictions to the original DataFrame
data['Anomaly'] = predictions

# Print the rows flagged as anomalies
anomalies = data

# Add the predictions to the original DataFrame
data['Anomaly'] = predictions

# Print the rows flagged as anomalies
anomalies = data[data['Anomaly'] == -1]

In [ ]:
anomalies

# IF

In [ ]:

# Import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.ensemble import IsolationForest
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [ ]:
df3=df2[['WERKS','MATNR','EBELN','EBELP','LIFNR','MENGE','NETPR','PEINH','NETWR',]].head(6000)

In [ ]:
df3.head(1)

In [ ]:
import plotly.express as px
import pandas as pd

# Create the scatter plot
fig = px.scatter(df3, x='MENGE', y='NETPR', color='MATNR')

# Display the plot
fig.show()

In [ ]:
df3.plot(kind="box",subplots=True,layout=(7,2),figsize=(15,20));

In [ ]:
import warnings
warnings.filterwarnings('ignore')
plt.figure(figsize=(16,5))
plt.subplot(1,2,1)
sns.distplot(df3['NETPR'])
plt.subplot(1,2,2)
sns.distplot(df3['MENGE'])
plt.show()

In [ ]:
print("Highest allowed",df3['NETPR'].mean() + 3*df3['NETPR'].std())
print("Lowest allowed",df3['NETPR'].mean() - 3*df3['NETPR'].std())

In [ ]:
df3['NETPR'].min(),df3['NETPR'].max()

In [ ]:
df[(df['NETPR'] > 2087558.53) | (df['NETPR'] < -1957401.64)]

In [ ]:
df3[(df3['NETPR'] > 2087558.53) | (df3['NETPR'] < -1957401.64)]

In [ ]:
upper_limit = df3['NETPR'].mean() + 3*df3['NETPR'].std()
lower_limit = df3['NETPR'].mean() - 3*df3['NETPR'].std()

In [ ]:
lower_limit,upper_limit

# Step-1: Import necessary dependencies

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
plt.figure(figsize=(16,5))
plt.subplot(1,2,1)



sns.distplot(df3['MENGE'])
plt.subplot(1,2,2)
sns.distplot(df3['NETPR'])
plt.show()

In [ ]:
sns.boxplot(df3['NETPR'])

In [ ]:
#Step-5: Finding the IQR
percentile25 = df3['NETPR'].quantile(0.25)

percentile75 = df3['NETPR'].quantile(0.75)

In [ ]:
percentile25

In [ ]:
percentile75

#Step-6: Finding the upper and lower limits
upper_limit = percentile75 + 1.5 * iqr
lower_limit = percentile25 - 1.5 * iqr


#Step-7: Finding outliers
df[df['placement_exam_marks'] > upper_limit]
df[df['placement_exam_marks'] < lower_limit]
#Step-8: Trimming outliers
new_df = df[df['placement_exam_marks'] < upper_limit]
new_df.shape

 # Z score

In [ ]:
df2

In [ ]:
df3['NETPR']=(df3['NETPR']-df3['NETPR'].mean())/df3['NETPR'].std()

In [ ]:
(df3['NETPR'] - df3['NETPR'].mean())/df3['NETPR'].std()

In [ ]:
df3[(df3['NETPR']>-3) & (df3['NETPR']<3)]

In [ ]:
from scipy.stats import zscore

In [ ]:
zscore(df3['NETPR'])

# categorical variable

In [ ]:
df3

In [ ]:
# chi square test

In [ ]:
import pandas as pd
from scipy.stats import chi2_contingency


contingency_table = pd.crosstab(df3['MENGE'], df3['NETPR'])

chi2, p, dof, expected = chi2_contingency(contingency_table)

print(f"Chi-square statistic: {chi2}")
print(f"P-value: {p}")
print(f"Degrees of freedom: {dof}")
print("Expected frequencies:")
print(expected)

In [ ]:
df.describe()

The results of the chi-square test indicate the following:

Chi-square statistic: The chi-square statistic value is 0.0. This statistic measures the discrepancy between the observed and expected frequencies in the contingency table. In this case, since the chi-square statistic is 0.0, it suggests that there is no significant association between the variables "WERKS" and "MATNR".

P-value: The p-value associated with the chi-square statistic is 1.0. The p-value represents the probability of obtaining the observed data or more extreme data if the null hypothesis is true. In this case, a p-value of 1.0 suggests that there is no evidence to reject the null hypothesis, and any observed association between "WERKS" and "MATNR" is likely due to chance.

Degrees of freedom: The degrees of freedom for the chi-square test is 0. Since the variables "WERKS" and "MATNR" have only one unique value each in the given data, there is no variability to estimate the association between them. Hence, the degrees of freedom are 0.

Expected frequencies: The expected frequencies table shows the expected counts under the assumption of independence between the variables. In this case, all expected frequencies are 1.0, indicating that each combination of "WERKS" and "MATNR" would have an equal expected frequency if there were no association between them.

Based on these results, we can conclude that there is no significant association between the variables "WERKS" and "MATNR" in the given data. The observed association, if any, is likely due to random chance.

In [ ]:
import numpy as np
from scipy.stats import ttest_ind

group1 = df3['MENGE']
group2 =  df3['NETPR']

t_statistic, p_value = ttest_ind(group1, group2)

print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

In [ ]:
df3['MENGE'], df3['NETPR']


The results of the t-test indicate the following:

T-statistic: The calculated t-statistic value is 4.192856281455801. This statistic measures the difference between the means of the two groups relative to the variability within each group. A larger absolute t-value suggests a stronger difference between the groups.

P-value: The p-value associated with the t-statistic is 2.774409848611053e-05, which is very small. The p-value represents the probability of obtaining the observed data or more extreme data if the null hypothesis is true. In this case, the small p-value suggests strong evidence against the null hypothesis. It indicates that the difference between the means of the two groups is statistically significant.

Based on these results, we can conclude that there is a statistically significant difference between the means of the two groups being compared in the t-test.

# anova

In [ ]:
import numpy as np
from scipy.stats import f_oneway

group1 = df3['MENGE'].values
group2 = df3['NETPR'].values
group3 = df3['PEINH'].values

f_statistic, p_value = f_oneway(group1, group2, group3)

print(f"F-statistic: {f_statistic}")
print(f"P-value: {p_value}")

Based on the results of the one-way ANOVA test:

F-statistic: The calculated F-statistic value is 17.572834869501683. This statistic measures the ratio of the variability between the groups to the variability within the groups. A larger F-statistic suggests a stronger difference between the group means relative to the variability within each group.

P-value: The p-value associated with the F-statistic is 2.374963893960708e-08, which is very small. The p-value represents the probability of obtaining the observed data or more extreme data if the null hypothesis is true. In this case, the small p-value suggests strong evidence against the null hypothesis. It indicates that there is a statistically significant difference between the means of the groups.

Based on these results, we can conclude that there is a statistically significant difference among the means of the groups being compared in the one-way ANOVA test.

In [ ]:
from sklearn.svm import OneClassSVM

# Create a dataframe with your dataset
data = {
    'WERKS': [6301, 6301, 6301, 6301],
    'MATNR': [1000160592, 1000043086, 1000238212, 1000139084],
    'EBELN': [3561007115, 3561007115, 3561007116, 3561007116],
    'EBELP': [10, 20, 10, 20],
    'LIFNR': [501277, 501277, 10010367, 10010367],
    'MENGE': [4.0, 8.0, 300.0, 50.0],
    'NETPR': [-0.080513, -0.080958, -0.096380, -0.096414],
    'PEINH': [1, 1, 1, 1],
    'NETWR': [43200.0, 84000.0, 30900.0, 4000.0]
}

import pandas as pd

df = pd.DataFrame(data)

numerical_features = ['MENGE', 'NETPR', 'NETWR']


# Fit the One-Class SVM model
svm_model = OneClassSVM(nu=0.05)  # Adjust the nu parameter as needed
svm_model.fit(df3[numerical_features])

# Predict outliers
outlier_predictions = svm_model.predict(df[numerical_features])

# Retrieve the indices of outliers
outlier_indices = df.index[outlier_predictions == -1]

# Print the outlier observations
outliers = df.loc[outlier_indices]
print(outliers)

In [ ]:
df

In [ ]:
df3[numerical_features]

In [ ]:
from sklearn.ensemble import IsolationForest

# Create a dataframe with your dataset
data = {
    'WERKS': [6301, 6301, 6301, 6301],
    'MATNR': [1000160592, 1000043086, 1000238212, 1000139084],
    'EBELN': [3561007115, 3561007115, 3561007116, 3561007116],
    'EBELP': [10, 20, 10, 20],
    'LIFNR': [501277, 501277, 10010367, 10010367],
    'MENGE': [4.0, 8.0, 300.0, 50.0],
    'NETPR': [-0.080513, -0.080958, -0.096380, -0.096414],
    'PEINH': [1, 1, 1, 1],
    'NETWR': [43200.0, 84000.0, 30900.0, 4000.0]
}

import pandas as pd

df = pd.DataFrame(data)

numerical_features = ['MENGE', 'NETPR', 'NETWR']

# Apply feature scaling if required (e.g., using MinMaxScaler or StandardScaler)

# Fit the Isolation Forest model
isolation_forest = IsolationForest(contamination=0.05)  # Adjust the contamination parameter as needed
isolation_forest.fit(df[numerical_features])

# Predict outliers
outlier_predictions = isolation_forest.predict(df[numerical_features])

# Retrieve the indices of outliers
outlier_indices = df.index[outlier_predictions == -1]

outliers = df.loc[outlier_indices]
print(outliers)

# Anomaly detection – hierarchical clustering

In [ ]:
# import numpy as np
from sklearn.cluster import AgglomerativeClustering

# Create a dataframe with your dataset
data = {
    'WERKS': [6301, 6301, 6301, 6301],
    'MATNR': [1000160592, 1000043086, 1000238212, 1000139084],
    'EBELN': [3561007115, 3561007115, 3561007116, 3561007116],
    'EBELP': [10, 20, 10, 20],
    'LIFNR': [501277, 501277, 10010367, 10010367],
    'MENGE': [4.0, 8.0, 300.0, 50.0],
    'NETPR': [-0.080513, -0.080958, -0.096380, -0.096414],
    'PEINH': [1, 1, 1, 1],
    'NETWR': [43200.0, 84000.0, 30900.0, 4000.0]
}

import pandas as pd

df = pd.DataFrame(data)

# Select the numerical features for anomaly detection
numerical_features = ['MENGE', 'NETPR', 'NETWR']

# Apply feature scaling if required (e.g., using MinMaxScaler or StandardScaler)

# Convert dataframe to numpy array
X = df[numerical_features].values

clustering = AgglomerativeClustering(n_clusters=None, distance_threshold=2.0)  # Adjust the distance_threshold as needed
clustering.fit(X)

labels = clustering.labels_

outlier_indices = np.where(labels == -1)[0]

outliers = df.iloc[outlier_indices]
print(outliers)

In [1]:
dfx

NameError: name 'dfx' is not defined

# pycaret

In [ ]:
from pycaret.utils import version
from pycaret.datasets import get_data
from sklearn.ensemble import IsolationForest
from sklearn.preprocessing import StandardScaler

In [ ]:
# Check PyCaret version (should be 2.3.1 or above)
print(version())

In [ ]:
#import pandas as pd

In [ ]:
#df = pd.read_csv(r"C:\Users\LENOVO\Downloads\column to be identified.csv" ,encoding='latin1',)

In [ ]:
#df.isna().sum().to_csv('null.csv')

In [286]:
lfa1_c = pd.read_excel(r"C:\Users\LENOVO\Downloads\LFA1 as on 01-06-23.XLSX", )

In [287]:
lfa1_c['LIFNR'].nunique()

68649

In [288]:
lfa1['LIFNR'].nunique()

22964

before deletion indicato-68649
after removing deletion indicator ['LOEVM','NODEL','SPERM','SPERQ','SPERR','SPERZ']-22964

In [340]:
#lfa1.to_csv("after_excludind_x.csv")

# vendor

In [1]:
import pandas as pd
lfa1 = pd.read_excel(r"C:\Users\LENOVO\Downloads\LFA1 as on 01-06-23.XLSX", )
lfb1 = pd.read_csv(r"C:\Users\LENOVO\Downloads\LFB1.csv",encoding='latin1', low_memory=False)
lfbk = pd.read_excel(r"C:\Users\LENOVO\Downloads\LFBK as on 12-06-23.XLSX", )
lfm1 = pd.read_excel(r"C:\Users\LENOVO\Downloads\LFM1 as on 12-06-23.XLSX", )
lfbw = pd.read_excel(r"C:\Users\LENOVO\Downloads\LFBW as on 12-06-23.XLSX", )
bnks = pd.read_excel(r"C:\Users\LENOVO\Downloads\BNKS.xlsx",header=1 )
Vendor_acc = pd.read_excel(r"C:\Users\LENOVO\Downloads\VEndor type group desc.xlsx",header=1)
j_1 = pd.read_excel(r"C:\Users\LENOVO\Downloads\J_1IMOVEND as on 12-06-23.XLSX", )
t005t = pd.read_excel(r"C:\Users\LENOVO\Downloads\T005T.XLSX", )
adrc = pd.read_excel(r"C:\Users\LENOVO\Downloads\ADRC 01.XLSX",)
adr6 = pd.read_excel(r"C:\Users\LENOVO\Downloads\Adr6.XLSX",)

In [248]:
bnka = pd.read_csv(r"C:\Users\LENOVO\Downloads\BNKA.csv",encoding='latin1', low_memory=False )

In [398]:
j_1

,MANDT,LIFNR,J_1IEXCD,J_1IEXRN,J_1IEXRG,J_1IEXDI,J_1IEXCO,J_1ICSTNO,J_1ILSTNO,J_1IPANNO,J_1IEXCIVE,J_1ISSIST,J_1IVTYP,J_1IVENCRE,AEDAT,USNAM,J_1ISERN,J_1IPANREF,J_1IPANVALDT,J_1I_CUSTOMS,J_1IDEDREF,VEN_CLASS
0,900,0000010000,NaN,AAACA3038KXM002,PERUNGUDI,CHENNAI,CHENNAI-IV,TIN:33250922036,TIN:33250922036,AAACA3038K,1.0,NaN,M,NaN,2017-11-13,S13245,ALLPB0629G SD001,NaN,NaT,NaN,NaN,NaN
1,900,0000010001,DUMMY,DUMMY,-,-,-,TIN:19541032278,TIN:19541032278,AAFFA3334E,1.0,NaN,M,NaN,2017-11-13,S13245,ST/M&R/MMS/R-ST/RPR/93/2004 DT.29.11.04,AAFFA3334E,NaT,NaN,NaN,NaN
2,900,0000010002,DUMMY,NaN,NaN,NaN,NaN,5709 (MK) C,MK/9650,NaN,1.0,NaN,FD,NaN,2017-12-14,7361,NaN,NaN,NaT,NaN,NaN,0.0
3,900,0000010003,DUMMY,DUMMY,DUMMY,DUMMY,DUMMY,19280172118,19280172215,AAIFA7903J,1.0,NaN,FD,X,2017-11-13,S13245,NaN,NaN,NaT,NaN,NaN,NaN
4,900,0000010004,AAACB4122FXM001,2/CH-84/R-3/H/95DT.24.04.95,KOLKATA,KOLKATA,KOLKATTA,FBD/CST/1202156 DT. 19.04.66,FBD/HGST/1202156 DT. 19.04.66,AAACB4122F,1.0,NaN,M,NaN,2017-12-14,7361,NaN,NaN,NaT,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65203,900,Z10000206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-14,7361,NaN,NaN,NaT,NaN,NaN,0.0
65204,900,Z10000982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-14,7361,NaN,NaN,NaT,NaN,NaN,0.0
65205,900,Z10001002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-14,7361,NaN,NaN,NaT,NaN,NaN,0.0
65206,900,Z10001276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-14,7361,NaN,NaN,NaT,NaN,NaN,0.0
65207,900,Z10001291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-14,7361,NaN,NaN,NaT,NaN,NaN,0.0

LFA1	LOEVM
LFA1	NODEL
LFA1	SPERM
LFA1	SPERQ
LFA1	SPERR
LFA1	SPERZ
LFB1	NODEL
LFB1	SPERR
LFB1	ZAHLS
LFB1	LOEVM

In [7]:
lfa1=lfa1[~(lfa1['LOEVM']=='X')]

In [11]:
lfa1=lfa1[~(lfa1['NODEL']=='X')]

In [16]:
lfa1=lfa1[~(lfa1['SPERM']=='X')]

In [21]:
lfa1=lfa1[~(lfa1['SPERQ']=='X')]

In [24]:
lfa1=lfa1[~(lfa1['SPERR']=='X')]

In [28]:
lfa1=lfa1[~(lfa1['SPERZ']=='X')]

In [285]:
lfa1['LIFNR'].nunique()

22964

In [29]:
lfa1[['LOEVM','NODEL','SPERM','SPERQ','SPERR','SPERZ']]

      LOEVM NODEL SPERM  SPERQ SPERR SPERZ
0       NaN   NaN   NaN    NaN   NaN   NaN
1       NaN   NaN   NaN    NaN   NaN   NaN
3       NaN   NaN   NaN    NaN   NaN   NaN
7       NaN   NaN   NaN    NaN   NaN   NaN
8       NaN   NaN   NaN    NaN   NaN   NaN
...     ...   ...   ...    ...   ...   ...
68643   NaN   NaN   NaN    NaN   NaN   NaN
68644   NaN   NaN   NaN    NaN   NaN   NaN
68646   NaN   NaN   NaN    NaN   NaN   NaN
68647   NaN   NaN   NaN    NaN   NaN   NaN
68648   NaN   NaN   NaN    NaN   NaN   NaN

[38089 rows x 6 columns]

In [30]:
lfa1[['LOEVM','NODEL','SPERM','SPERQ','SPERR','SPERZ']]['SPERQ'].unique()

array([nan, 99.,  9.,  2.,  7.,  8.,  3.,  6.,  1.,  4.])

In [31]:
lfb1[['NODEL','SPERR','ZAHLS','LOEVM']]

      NODEL SPERR ZAHLS LOEVM
0       NaN   NaN   NaN   NaN
1       NaN   NaN   NaN   NaN
2       NaN     X   NaN   NaN
3       NaN   NaN   NaN   NaN
4       NaN     X   NaN   NaN
...     ...   ...   ...   ...
68644   NaN   NaN   NaN   NaN
68645   NaN     X   NaN   NaN
68646   NaN   NaN   NaN   NaN
68647   NaN   NaN   NaN   NaN
68648   NaN   NaN   NaN   NaN

[68649 rows x 4 columns]

In [38]:
lfb1=lfb1[~(lfb1['NODEL']=='X')]

In [42]:
lfb1=lfb1[~(lfb1['SPERR']=='X')]

In [45]:
lfb1=lfb1[~(lfb1['ZAHLS']=='X')]

In [49]:
lfb1=lfb1[~(lfb1['LOEVM']=='X')]

In [50]:
lfa1[(lfa1['NAME1'].isna())]

,MANDT,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,...,ESCRIT,DVALSS,FRMCSS,CODCAE,AUSDIV,TRANSPORT_CHAIN,STAGING_TIME,SCHEDULING_TYPE,SUBMI_RELEVANT,ZZSEND_PORTAL
42714,900,0000371386,IN,NaN,NaN,NaN,NaN,Kendujhar,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
42729,900,0000371408,IN,NaN,NaN,NaN,NaN,Kendujhar,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
42730,900,0000371409,IN,NaN,NaN,NaN,NaN,Kendujhar,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
45397,900,0000618890,IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
49661,900,0000923587,IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
51302,900,0003202411,IN,NaN,NaN,NaN,NaN,Delhi,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN

In [51]:
nan_value=lfa1[(lfa1['NAME1'].isna())]

In [52]:
nan_value.to_csv("vendor_with_name1_null.csv")

In [53]:
nan_value

,MANDT,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,...,ESCRIT,DVALSS,FRMCSS,CODCAE,AUSDIV,TRANSPORT_CHAIN,STAGING_TIME,SCHEDULING_TYPE,SUBMI_RELEVANT,ZZSEND_PORTAL
42714,900,0000371386,IN,NaN,NaN,NaN,NaN,Kendujhar,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
42729,900,0000371408,IN,NaN,NaN,NaN,NaN,Kendujhar,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
42730,900,0000371409,IN,NaN,NaN,NaN,NaN,Kendujhar,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
45397,900,0000618890,IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
49661,900,0000923587,IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
51302,900,0003202411,IN,NaN,NaN,NaN,NaN,Delhi,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN

In [54]:
lfa1=lfa1[~(lfa1['NAME1'].isna())]

In [55]:
lfa1[lfa1['NAME1'].str.contains('*', regex=False)]

Empty DataFrame
Columns: [MANDT, LIFNR, LAND1, NAME1, NAME2, NAME3, NAME4, ORT01, ORT02, PFACH, PSTL2, PSTLZ, REGIO, SORTL, STRAS, ADRNR, MCOD1, MCOD2, MCOD3, ANRED, BAHNS, BBBNR, BBSNR, BEGRU, BRSCH, BUBKZ, DATLT, DTAMS, DTAWS, ERDAT, ERNAM, ESRNR, KONZS, KTOKK, KUNNR, LNRZA, LOEVM, SPERR, SPERM, SPRAS, STCD1, STCD2, STKZA, STKZU, TELBX, TELF1, TELF2, TELFX, TELTX, TELX1, XCPDK, XZEMP, VBUND, FISKN, STCEG, STKZN, SPERQ, GBORT, GBDAT, SEXKZ, KRAUS, REVDB, QSSYS, KTOCK, PFORT, WERKS, LTSNA, WERKR, PLKAL, DUEFL, TXJCD, SPERZ, SCACD, SFRGR, LZONE, XLFZA, DLGRP, FITYP, STCDT, REGSS, ACTSS, STCD3, STCD4, STCD5, STCD6, IPISP, TAXBS, PROFS, STGDL, EMNFR, LFURL, J_1KFREPRE, J_1KFTBUS, J_1KFTIND, CONFS, UPDAT, UPTIM, NODEL, QSSYSDAT, PODKZB, ...]
Index: []

[0 rows x 196 columns]

In [56]:
lfa1[lfa1['NAME1'].str.contains('*', regex=False)].to_csv("vendor_with_name1_contains_star.csv")

In [57]:
lf=pd.merge(lfa1, lfb1, on='LIFNR', how='inner')

### Number of one time vendor account

In [58]:
lf['NAME1'].nunique(),len(lf)

(32242, 37755)

In [59]:
x2=pd.DataFrame(lf['NAME1'].value_counts()).reset_index()

In [60]:
x2

                               index  NAME1
0      JINDAL STEEL & POWER LIMITED,     81
1       JINDAL STEEL & POWER LIMITED     59
2                         Amit Kumar     23
3         CJ DARCL LOGISTICS LIMITED     18
4                         AMIT KUMAR     17
...                              ...    ...
32237               RINKU KUMAR GARG      1
32238                  ANJANADRI INC      1
32239                  JAI DEO GUPTA      1
32240        U & V CANCURE PVT. LTD.      1
32241                   Zeeshan Alvi      1

[32242 rows x 2 columns]

In [61]:
x2[x2['NAME1']==1]

                         index  NAME1
4276   Harshvardhan Dhar Diwan      1
4277             PUSHKAR DHARA      1
4278       Hemant Kumar Basena      1
4279        Hemanta Kumar Jena      1
4280        Harshwardhan Singh      1
...                        ...    ...
32237         RINKU KUMAR GARG      1
32238            ANJANADRI INC      1
32239            JAI DEO GUPTA      1
32240  U & V CANCURE PVT. LTD.      1
32241             Zeeshan Alvi      1

[27966 rows x 2 columns]

In [62]:
#one time vendor
lf[lf['XCPDK']=='X']

,MANDT_x,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,...,US_W8_RECVDATE,US_W9_RECVDATE,US_TIN_NOTICE,US_PARTNERSHIP_IND,US_FATCA_IND,PREPAY_RELEVANT,ASSIGN_TEST,ZRELATION,ZFROM_DATE,ZTO_DATE
10450,900,0000090001,IN,ONE TIME VENDOR,NaN,NaN,NaN,.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,20-08-2014,31-12-9999
10451,900,0000090379,IN,Employees- Fuels,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
10452,900,0000091649,IN,FIBRETEK COMMUNICATION PVT LTD,NaN,NaN,NaN,BANGALORE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
10453,900,0000091854,IN,LCL LOGISTICS INDIA PVT LTD,NaN,NaN,NaN,MUMBAI,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
10454,900,0000091855,IN,BALMER LAWRIE & CO LTD,NaN,NaN,NaN,NAVI-MUMBAI,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21631,900,0000990320,IN,IDBI BANK LTD,NaN,NaN,NaN,BELAPUR,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21632,900,0000990321,IN,STATE BANK OF INDIA,NaN,NaN,NaN,HYDERABAD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21633,900,0000990322,IN,Greenwich Meridian Logistics (I) Pv,NaN,NaN,NaN,Mumbai,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
21634,900,0000990323,IN,UNIFIER CONSOL SERVICES PVT LTD,NaN,NaN,NaN,MUMBAI,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21635,900,0000990324,IN,AIX CONNECT PVT LTD,NaN,NaN,NaN,CHENNAI,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
#one time vendor
lf[lf['XCPDK']=='X'].to_csv("one_time_vendor.csv")#['LIFNR'].value_counts()

In [64]:
lf[lf['NAME1'].fillna('xyz').str.contains('One')]['XCPDK']

Series([], Name: XCPDK, dtype: object)

In [65]:
lf[lf['NAME1'].fillna('xyz').str.contains('One')]#['XCPDK']

Empty DataFrame
Columns: [MANDT_x, LIFNR, LAND1, NAME1, NAME2, NAME3, NAME4, ORT01, ORT02, PFACH, PSTL2, PSTLZ, REGIO, SORTL, STRAS, ADRNR, MCOD1, MCOD2, MCOD3, ANRED, BAHNS, BBBNR, BBSNR, BEGRU_x, BRSCH_x, BUBKZ, DATLT, DTAMS, DTAWS, ERDAT_x, ERNAM_x, ESRNR, KONZS, KTOKK, KUNNR, LNRZA, LOEVM_x, SPERR_x, SPERM, SPRAS, STCD1, STCD2, STKZA, STKZU, TELBX, TELF1, TELF2, TELFX, TELTX, TELX1, XCPDK, XZEMP, VBUND, FISKN, STCEG, STKZN, SPERQ, GBORT, GBDAT, SEXKZ, KRAUS, REVDB, QSSYS, KTOCK, PFORT, WERKS, LTSNA, WERKR, PLKAL, DUEFL, TXJCD, SPERZ, SCACD, SFRGR, LZONE, XLFZA, DLGRP, FITYP, STCDT, REGSS, ACTSS, STCD3, STCD4, STCD5, STCD6, IPISP, TAXBS, PROFS, STGDL, EMNFR, LFURL, J_1KFREPRE, J_1KFTBUS, J_1KFTIND, CONFS_x, UPDAT_x, UPTIM_x, NODEL_x, QSSYSDAT, PODKZB, ...]
Index: []

[0 rows x 295 columns]

In [66]:
lf[lf['NAME1'].fillna('xyz').str.contains('1')]

,MANDT_x,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,...,US_W8_RECVDATE,US_W9_RECVDATE,US_TIN_NOTICE,US_PARTNERSHIP_IND,US_FATCA_IND,PREPAY_RELEVANT,ASSIGN_TEST,ZRELATION,ZFROM_DATE,ZTO_DATE
4187,900,0000050754,IN,PYROTECH ELECTRONICS PVT LTD UNIT-1,NaN,NaN,NaN,UDAIPUR,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
6026,900,0000059109,IN,ALPHA91 KP SOLUTIONS,NaN,NaN,NaN,HYDERABAD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
11144,900,0000094148,IN,A-1 STATIONERS & PRINTERS,NaN,NaN,NaN,MUMBAI,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
11519,900,0000094788,IN,TV18 BROADCAST LTD,NaN,NaN,NaN,NEW DELHI,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
11687,900,0000095274,IN,Airtel A/c. No.-120-100095832,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33052,900,S00007038,IN,SACHIN SINGH (A/c No. 30312049144),NaN,NaN,NaN,RAIGARH,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33923,900,S00014052,IN,SAURABH GARG (A/c No.20064107622),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33938,900,S00014127,IN,Samanta Mali (A/c No.30217713774),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35412,900,TAM-2201,IN,TAMNAR COAL WASHERY-PLANT 2201,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
36176,900,V00012616,IN,RAVI RANJAN (A/c No.31837908602),NaN,NaN,NaN,Raigarh,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
lf[lf['NAME1']=='1']

Empty DataFrame
Columns: [MANDT_x, LIFNR, LAND1, NAME1, NAME2, NAME3, NAME4, ORT01, ORT02, PFACH, PSTL2, PSTLZ, REGIO, SORTL, STRAS, ADRNR, MCOD1, MCOD2, MCOD3, ANRED, BAHNS, BBBNR, BBSNR, BEGRU_x, BRSCH_x, BUBKZ, DATLT, DTAMS, DTAWS, ERDAT_x, ERNAM_x, ESRNR, KONZS, KTOKK, KUNNR, LNRZA, LOEVM_x, SPERR_x, SPERM, SPRAS, STCD1, STCD2, STKZA, STKZU, TELBX, TELF1, TELF2, TELFX, TELTX, TELX1, XCPDK, XZEMP, VBUND, FISKN, STCEG, STKZN, SPERQ, GBORT, GBDAT, SEXKZ, KRAUS, REVDB, QSSYS, KTOCK, PFORT, WERKS, LTSNA, WERKR, PLKAL, DUEFL, TXJCD, SPERZ, SCACD, SFRGR, LZONE, XLFZA, DLGRP, FITYP, STCDT, REGSS, ACTSS, STCD3, STCD4, STCD5, STCD6, IPISP, TAXBS, PROFS, STGDL, EMNFR, LFURL, J_1KFREPRE, J_1KFTBUS, J_1KFTIND, CONFS_x, UPDAT_x, UPTIM_x, NODEL_x, QSSYSDAT, PODKZB, ...]
Index: []

[0 rows x 295 columns]

In [69]:
lf[lf['NAME1']=='1'].to_csv("vendor_with_name1_1.csv")

In [70]:
lf['NAME1']

0           A BOND STRANDS PRIVATE LIMITED
1                AG INDUSTRIAL CORPORATION
2                       AK JAIN & BROTHERS
3                       ADITYA ELECTRONICS
4        ADVANCE REFRIGERATION CORPORATION
                       ...
37750                        ZORAWAR SINGH
37751                          Zahid Anwar
37752                       Zahir Siddiqui
37753                  MD Zafar Iqbal Khan
37754                         Zeeshan Alvi
Name: NAME1, Length: 37755, dtype: object

In [71]:
lf[['NAME1','HBKID']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37755 entries, 0 to 37754
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAME1   37755 non-null  object
 1   HBKID   17 non-null     object
dtypes: object(2)
memory usage: 884.9+ KB

In [74]:
lfbk[['BANKN','BANKS']].dropna()

                BANKN BANKS
0           422162746    IN
1      95921210000037    IN
2         30916007243    IN
3      90170500000001    IN
4         56393001828    IN
...               ...   ...
39547     20064103945    IN
39548  19691140009467    IN
39549     20143418299    IN
39550     20212447018    IN
39551     32579587274    IN

[39534 rows x 2 columns]

In [75]:
lfbk['BANKN'].value_counts()

0000786000         25
10253805989        18
000205001002       16
00040120000233     12
70011010           11
                   ..
50421010004958      1
00030400000018      1
181505001745        1
039102000014289     1
32579587274         1
Name: BANKN, Length: 36161, dtype: int64

### Changes in vendor bank account

In [76]:
lfbk['BANKS'].value_counts()

IN    39552
Name: BANKS, dtype: int64

In [77]:
lfbk[['LIFNR','BANKN']].dropna()

            LIFNR           BANKN
0      0000010000       422162746
1      0000010001  95921210000037
2      0000010003     30916007243
3      0000010007  90170500000001
4      0000010008     56393001828
...           ...             ...
39547   Z00014034     20064103945
39548   Z00015118  19691140009467
39549   Z10000982     20143418299
39550   Z10001002     20212447018
39551   Z10001291     32579587274

[39534 rows x 2 columns]

In [78]:
series_data=lfbk.groupby('LIFNR')['BANKN'].nunique()

x1=pd.DataFrame({'BANKN': series_data})

x1=x1.rename(columns={'BANKN': 'count_BankN'},)

x1=x1.reset_index()

In [79]:
x1

            LIFNR  count_BankN
0      0000010000            1
1      0000010001            1
2      0000010003            1
3      0000010007            1
4      0000010008            1
...           ...          ...
39508   Z00014034            1
39509   Z00015118            1
39510   Z10000982            1
39511   Z10001002            1
39512   Z10001291            1

[39513 rows x 2 columns]

In [80]:
lfbk[lfbk['LIFNR']== '0000010252']

,MANDT,LIFNR,BANKS,BANKL,BANKN,BKONT,BVTYP,XEZER,BKREF,KOINH,EBPP_ACCNAME,EBPP_BVSTATUS,KOVON,KOBIS
139,900,0000010252,IN,HDFC0000240,301812541790,NaN,RAIG,NaN,HDFC0000240,HINDUSTAN PETROLEUM CORPORATION LTD,NaN,NaN,NaN,NaN
140,900,0000010252,IN,HDFC0000240,301813454701,NaN,DCPP,NaN,NaN,HINDUSTAN PETROLEUM CORPORATION LTD,NaN,NaN,NaN,NaN
141,900,0000010252,IN,HDFC0000240,HPCLAV12529730,NaN,0001,NaN,HDFC0000240,HINDUSTAN PETROLEUM CORPORATION LTD,NaN,NaN,NaN,NaN

In [81]:
lfbk[lfbk['LIFNR']=='0000010252']

,MANDT,LIFNR,BANKS,BANKL,BANKN,BKONT,BVTYP,XEZER,BKREF,KOINH,EBPP_ACCNAME,EBPP_BVSTATUS,KOVON,KOBIS
139,900,0000010252,IN,HDFC0000240,301812541790,NaN,RAIG,NaN,HDFC0000240,HINDUSTAN PETROLEUM CORPORATION LTD,NaN,NaN,NaN,NaN
140,900,0000010252,IN,HDFC0000240,301813454701,NaN,DCPP,NaN,NaN,HINDUSTAN PETROLEUM CORPORATION LTD,NaN,NaN,NaN,NaN
141,900,0000010252,IN,HDFC0000240,HPCLAV12529730,NaN,0001,NaN,HDFC0000240,HINDUSTAN PETROLEUM CORPORATION LTD,NaN,NaN,NaN,NaN

In [82]:
lfbk[lfbk['LIFNR']=='0000010253']

,MANDT,LIFNR,BANKS,BANKL,BANKN,BKONT,BVTYP,XEZER,BKREF,KOINH,EBPP_ACCNAME,EBPP_BVSTATUS,KOVON,KOBIS
142,900,0000010253,IN,HDFC0000240,301812541790,NaN,RAIG,NaN,HDFC0000240,HINDUSTAN PETROLEUM CORPORATION LTD,NaN,NaN,NaN,NaN
143,900,0000010253,IN,HDFC0000240,301813360210,NaN,NaN,NaN,HDFC0000240,HINDUSTAN PETROLEUM CORPORATION LTD,NaN,NaN,NaN,NaN

In [83]:
l1=list(x1[x1['count_BankN']>1]['LIFNR'])

In [84]:
x1[x1['count_BankN']>1]

            LIFNR  count_BankN
139    0000010252            3
140    0000010253            2
155    0000010278            2
772    0000011328            2
1216   0000012446            2
1537   0000013225            3
1568   0000013290            2
2759   0000018155            3
5331   0000032598            2
13055  0000057202            2
21962  0000095731            2
24737  0000502072            2
27227  0000923102            2

In [85]:
x1[x1['count_BankN']>1]#.to_csv("more_than_one_account.csv")

            LIFNR  count_BankN
139    0000010252            3
140    0000010253            2
155    0000010278            2
772    0000011328            2
1216   0000012446            2
1537   0000013225            3
1568   0000013290            2
2759   0000018155            3
5331   0000032598            2
13055  0000057202            2
21962  0000095731            2
24737  0000502072            2
27227  0000923102            2

In [86]:
lfbk[lfbk['LIFNR'].isin(l1)].to_csv("more_than_one_account.csv")

In [87]:
lfbk

,MANDT,LIFNR,BANKS,BANKL,BANKN,BKONT,BVTYP,XEZER,BKREF,KOINH,EBPP_ACCNAME,EBPP_BVSTATUS,KOVON,KOBIS
0,900,0000010000,IN,IDIB000C032,422162746,NaN,0001,NaN,IDIB000C032,A BOND STRANDS PRIVATE LIMITED,NaN,NaN,NaN,NaN
1,900,0000010001,IN,SYNB0009592,95921210000037,NaN,NaN,NaN,SYNB0009592,AG INDUSTRIAL CORPORATION,NaN,NaN,NaN,NaN
2,900,0000010003,IN,SBIN0001218,30916007243,NaN,NaN,NaN,SBIN0001218,AK JAIN & BROTHERS,NaN,NaN,NaN,NaN
3,900,0000010007,IN,UCBA0002098,90170500000001,NaN,0001,NaN,UCBA0002098,ADITYA ELECTRONICS,NaN,NaN,NaN,NaN
4,900,0000010008,IN,SBIN0060393,56393001828,NaN,NaN,NaN,SBIN0060393,ADVANCE REFRIGERATION CORPORATION,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39547,900,Z00014034,IN,SBIN0000007,20064103945,NaN,NaN,NaN,SBIN0000007,Zulqurnan Imam,NaN,NaN,NaN,NaN
39548,900,Z00015118,IN,HDFC0001969,19691140009467,NaN,NaN,NaN,HDFC0001969,Zarir Sorabji Katpitia,NaN,NaN,NaN,NaN
39549,900,Z10000982,IN,SBIN0000090,20143418299,NaN,NaN,NaN,SBIN0000090,MOHAMMAD ZAHID IQBAL,NaN,NaN,NaN,NaN
39550,900,Z10001002,IN,SBIN0005238,20212447018,NaN,NaN,NaN,SBIN0005238,MOHAMMED ZAHIR SIDDIQUI,NaN,NaN,NaN,NaN
39551,900,Z10001291,IN,SBIN0013004,32579587274,NaN,NaN,NaN,SBIN0013004,Zeeshan Alvi,NaN,NaN,NaN,NaN

### Vendor details matching with employee (common address, common bank account, common PAN)

In [88]:
@@@@@@@@@@@@@@@@@@@@@@@@@@@

SyntaxError: invalid syntax (1022768812.py, line 1)

In [89]:
lfa1

,MANDT,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,...,ESCRIT,DVALSS,FRMCSS,CODCAE,AUSDIV,TRANSPORT_CHAIN,STAGING_TIME,SCHEDULING_TYPE,SUBMI_RELEVANT,ZZSEND_PORTAL
0,900,0000010000,IN,A BOND STRANDS PRIVATE LIMITED,NaN,NaN,NaN,CHENNAI,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X
1,900,0000010001,IN,AG INDUSTRIAL CORPORATION,NaN,NaN,NaN,KOLKATA,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X
3,900,0000010003,IN,AK JAIN & BROTHERS,NaN,NaN,NaN,KOLKATA,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X
7,900,0000010007,IN,ADITYA ELECTRONICS,NaN,NaN,NaN,DURG,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X
8,900,0000010008,IN,ADVANCE REFRIGERATION CORPORATION,NaN,NaN,NaN,KOLKATA,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68643,900,Z10000074,IN,ZORAWAR SINGH,NaN,NaN,NaN,GURGAON,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
68644,900,Z10000206,IN,Zahid Anwar,NaN,NaN,NaN,PATRATU,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
68646,900,Z10001002,IN,Zahir Siddiqui,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
68647,900,Z10001276,IN,MD Zafar Iqbal Khan,NaN,NaN,NaN,PATRATU,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
68648,900,Z10001291,IN,Zeeshan Alvi,NaN,NaN,NaN,Angul,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN

In [90]:
lfa1[['LIFNR','KTOKK',]]

            LIFNR KTOKK
0      0000010000  9001
1      0000010001  9001
3      0000010003  9001
7      0000010007  9001
8      0000010008  9001
...           ...   ...
68643   Z10000074  9013
68644   Z10000206  9013
68646   Z10001002  9013
68647   Z10001276  9013
68648   Z10001291  9013

[38083 rows x 2 columns]

In [91]:
lfa1['KTOKK']=lfa1['KTOKK'].str.replace("'", "")

In [92]:
lfa1['KTOKK'].unique()

array(['9001', '9002', '9003', '9004', '9006', '9007', '9008', '9009',
       '9010', '9015', '9016', '9200', '8000', '9100', '9101', '1500',
       '7000', '9013', '9005', '9011', '9014', 'N001'], dtype=object)

In [93]:
lfa1['KTOKK'].str.replace("'", "")

0        9001
1        9001
3        9001
7        9001
8        9001
         ...
68643    9013
68644    9013
68646    9013
68647    9013
68648    9013
Name: KTOKK, Length: 38083, dtype: object

In [94]:
lfa1.loc[:, 'KTOKK'] = lfa1['KTOKK'].str.replace("'", "")

In [95]:
#pd.to_numeric(lfa1['KTOKK'])

In [96]:
lfa1['KTOKK']=lfa1['KTOKK'].astype(str)

In [97]:
Vendor_acc['Group']=Vendor_acc['Group'].astype(str)

In [98]:
lfa1['KTOKK'].unique()

array(['9001', '9002', '9003', '9004', '9006', '9007', '9008', '9009',
       '9010', '9015', '9016', '9200', '8000', '9100', '9101', '1500',
       '7000', '9013', '9005', '9011', '9014', 'N001'], dtype=object)

In [99]:
Vendor_acc['Group'].unique()

array(['nan', '1', '2', '3', '4', '5', '6', '7', '12', '100', '1500',
       '7000', '8000', '9000', '9001', '9002', '9003', '9004', '9005',
       '9006', '9007', '9008', '9009', '9010', '9011', '9012', '9013',
       '9014', '9015', '9016', '9100', '9101', '9200', 'CPD', 'CPDL',
       'DARL', 'HOL', 'KRED', 'LIEF', 'MNFR', 'N001', 'REIS', 'VERT'],
      dtype=object)

In [100]:
Vendor_acc['Group'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 43 entries, 0 to 42
Series name: Group
Non-Null Count  Dtype
--------------  -----
43 non-null     object
dtypes: object(1)
memory usage: 472.0+ bytes

In [101]:
lfa1['KTOKK'].info()

<class 'pandas.core.series.Series'>
Int64Index: 38083 entries, 0 to 68648
Series name: KTOKK
Non-Null Count  Dtype
--------------  -----
38083 non-null  object
dtypes: object(1)
memory usage: 595.0+ KB

In [102]:
lfa1_vd=pd.merge(lfa1, Vendor_acc, left_on='KTOKK',right_on='Group', how='left')

In [103]:
lfa1_vd

,MANDT,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,...,TRANSPORT_CHAIN,STAGING_TIME,SCHEDULING_TYPE,SUBMI_RELEVANT,ZZSEND_PORTAL,Group,NR,OTA,Unnamed: 3,Name
0,900,0000010000,IN,A BOND STRANDS PRIVATE LIMITED,NaN,NaN,NaN,CHENNAI,NaN,NaN,...,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
1,900,0000010001,IN,AG INDUSTRIAL CORPORATION,NaN,NaN,NaN,KOLKATA,NaN,NaN,...,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
2,900,0000010003,IN,AK JAIN & BROTHERS,NaN,NaN,NaN,KOLKATA,NaN,NaN,...,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
3,900,0000010007,IN,ADITYA ELECTRONICS,NaN,NaN,NaN,DURG,NaN,NaN,...,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
4,900,0000010008,IN,ADVANCE REFRIGERATION CORPORATION,NaN,NaN,NaN,KOLKATA,NaN,NaN,...,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38078,900,Z10000074,IN,ZORAWAR SINGH,NaN,NaN,NaN,GURGAON,NaN,NaN,...,NaN,0,NaN,NaN,NaN,9013,5,NaN,NaN,JSPL Employee
38079,900,Z10000206,IN,Zahid Anwar,NaN,NaN,NaN,PATRATU,NaN,NaN,...,NaN,0,NaN,NaN,NaN,9013,5,NaN,NaN,JSPL Employee
38080,900,Z10001002,IN,Zahir Siddiqui,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,9013,5,NaN,NaN,JSPL Employee
38081,900,Z10001276,IN,MD Zafar Iqbal Khan,NaN,NaN,NaN,PATRATU,NaN,NaN,...,NaN,0,NaN,NaN,NaN,9013,5,NaN,NaN,JSPL Employee
38082,900,Z10001291,IN,Zeeshan Alvi,NaN,NaN,NaN,Angul,NaN,NaN,...,NaN,0,NaN,NaN,NaN,9013,5,NaN,NaN,JSPL Employee

In [104]:
#lfa1_vd[['LIFNR','LAND1','NAME1','ORT01','STRAS','STCD3','Name',]]

In [105]:
# need to filter block vendor # change

In [106]:
lfbk.head(1)

,MANDT,LIFNR,BANKS,BANKL,BANKN,BKONT,BVTYP,XEZER,BKREF,KOINH,EBPP_ACCNAME,EBPP_BVSTATUS,KOVON,KOBIS
0,900,0000010000,IN,IDIB000C032,422162746,NaN,0001,NaN,IDIB000C032,A BOND STRANDS PRIVATE LIMITED,NaN,NaN,NaN,NaN

In [107]:
lfa1_vd_j=pd.merge(lfa1_vd, j_1, on='LIFNR', how='left')

In [108]:
lfa1_vd_j.head(1)

,MANDT_x,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,...,J_1IVTYP_y,J_1IVENCRE_y,AEDAT_y,USNAM_y,J_1ISERN_y,J_1IPANREF_y,J_1IPANVALDT_y,J_1I_CUSTOMS_y,J_1IDEDREF_y,VEN_CLASS_y
0,900,0000010000,IN,A BOND STRANDS PRIVATE LIMITED,NaN,NaN,NaN,CHENNAI,NaN,NaN,...,M,NaN,2017-11-13,S13245,ALLPB0629G SD001,NaN,NaT,NaN,NaN,NaN

In [109]:
lfa1_vd_j_lfbk=pd.merge(lfa1_vd_j, lfbk, on='LIFNR', how='left')

In [110]:
lfa1_vd_j_lfbk['J_1IPANNO_y']

0        AAACA3038K
1        AAFFA3334E
2        AAIFA7903J
3        ACCPC0164F
4        ALAPS8403N
            ...
38093           NaN
38094           NaN
38095           NaN
38096           NaN
38097           NaN
Name: J_1IPANNO_y, Length: 38098, dtype: object

In [111]:
lfa1_vd_j_lfbk['BANKN']

0             422162746
1        95921210000037
2           30916007243
3        90170500000001
4           56393001828
              ...
38093               NaN
38094               NaN
38095       20212447018
38096               NaN
38097       32579587274
Name: BANKN, Length: 38098, dtype: object

In [112]:
Vendor_acc['Name']

0                                NaN
1                             Vendor
2                     Goods supplier
3                  Alternative payee
4                    Invoicing Party
5                   Forwarding agent
6                   Ordering address
7                             Plants
8                     Hierarchy Node
9         Vendor distribution center
10                  JSPL HO Internal
11                      Bank Vendors
12     JSPL Vendor - Pension Payment
13                               NaN
14      JSPL Vendor - Store Material
15        JSPL Vendor - Raw Material
16                   JSPL Contractor
17    JSPL For & Clg/Comm/Conv Agent
18                       JSPL Plants
19                  JSPL Transporter
20                   JSPL Consultant
21               JSPL Goods Supplier
22              JSPL One time vendor
23                       JSPL Others
24            JSPL Alternative payee
25     JSPL Dunning Notice Receipent
26                     JSPL Employee
27       JSPL Vendor - Inter Company
28                 JSPL Land Owner's
29     JSPL Vendor - Body Corp Loan.
30             JSPL Statutory Vendor
31         JSPL Non-Statutory Vendor
32    JSPL PARTY TRANSPORT-EWAY BILL
33    One-time vend.(int.no.assgnmt)
34    One-time vend.(ext.no.assgnmt)
35                            Lender
36         Handover Location Address
37      Vendor (int.number assgnmnt)
38      Vendor (ext.number assgnmnt)
39    Manufacturer (ext.no.assgnmnt)
40                     NSPL Employee
41              Commercial traveller
42                    Representative
Name: Name, dtype: object

In [113]:
lfa1_vd_j1=lfa1_vd_j_lfbk[['LIFNR','LAND1','NAME1','ORT01','STRAS','STCD3','Name','BANKN','J_1IPANNO_x','J_1IPANNO_y']]

In [114]:
lfa1_vd_j1['Name'].unique()

array(['JSPL Vendor - Store Material', 'JSPL Vendor - Raw Material',
       'JSPL Contractor', 'JSPL For & Clg/Comm/Conv Agent',
       'JSPL Transporter', 'JSPL Consultant', 'JSPL Goods Supplier',
       'JSPL One time vendor', 'JSPL Others', "JSPL Land Owner's",
       'JSPL Vendor - Body Corp Loan.', 'JSPL PARTY TRANSPORT-EWAY BILL',
       'JSPL Vendor - Pension Payment', 'JSPL Statutory Vendor',
       'JSPL Non-Statutory Vendor', 'JSPL HO Internal', 'Bank Vendors',
       'JSPL Employee', 'JSPL Plants', 'JSPL Alternative payee',
       'JSPL Vendor - Inter Company', 'NSPL Employee'], dtype=object)

In [115]:
emp=lfa1_vd_j1[lfa1_vd_j1['Name'].str.contains('Empl')]

In [116]:
vendor=lfa1_vd_j1[~(lfa1_vd_j1['Name'].str.contains('Empl'))]

In [117]:
emp.head(1)

,LIFNR,LAND1,NAME1,ORT01,STRAS,STCD3,Name,BANKN,J_1IPANNO_x,J_1IPANNO_y
22700,A00000016,IN,ARVIND DAVE,CALCUTTA,"MANIKTALA MAIN ROAD,B/13-6 PURBASHA",NaN,JSPL Employee,NaN,AGKPD1520C,AGKPD1520C

In [118]:
vendor.head(1)

,LIFNR,LAND1,NAME1,ORT01,STRAS,STCD3,Name,BANKN,J_1IPANNO_x,J_1IPANNO_y
0,0000010000,IN,A BOND STRANDS PRIVATE LIMITED,CHENNAI,"164-C INSTRONICS CAMPUS,PHASE-II,PE",33AAACA3038K1Z0,JSPL Vendor - Store Material,422162746,AAACA3038K,AAACA3038K

In [119]:
lfa1[lfa1['NAME1']=='ARVIND DAVE']

,MANDT,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,...,ESCRIT,DVALSS,FRMCSS,CODCAE,AUSDIV,TRANSPORT_CHAIN,STAGING_TIME,SCHEDULING_TYPE,SUBMI_RELEVANT,ZZSEND_PORTAL
52286,900,A00000016,IN,ARVIND DAVE,NaN,NaN,NaN,CALCUTTA,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN

In [120]:
52569 +16080

68649

##### common bank account,

In [121]:
#null bank account
lfa1_vd_j1[lfa1_vd_j1['BANKN'].isna()]#['LIFNR'].nunique()

,LIFNR,LAND1,NAME1,ORT01,STRAS,STCD3,Name,BANKN,J_1IPANNO_x,J_1IPANNO_y
37,0000010107,SE,BROKK AB,SKELLEFTEA,BOX 730,NaN,JSPL Vendor - Store Material,NaN,-,-
45,0000010156,DE,EICH ROLLENLAGER GMBH,HATTINGEN,"WEG ZUM WASSERWERK 16,",NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
47,0000010161,IN,ELECTRICAL MICANITE CORPORATION,KOLKATA,"11 7th FLOOR,POLLOCK STREET",19AAAFE6839P1ZR,JSPL Vendor - Store Material,NaN,AAAFE6839P,AAAFE6839P
64,0000010207,IN,FOAM HOUSE,RAIGARH,"SHOP NO:32-33,",22ABZPC6034C1ZY,JSPL Vendor - Store Material,NaN,ABZPC6034C,ABZPC6034C
72,0000010225,DE,Alpine Metal Tech Germany GmbH,Dillingen/Saar,Kochstrasse 2,NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
38089,Z00009342,IN,Zeeshan Adil,"M.S.College, E.Champaran, Bihar","Motihari C/o-MD.Quasim, Dept. of Zo",NaN,JSPL Employee,NaN,NaN,NaN
38090,Z00009835,IN,ZULQUNAN IMAM,ANGUL,NaN,NaN,JSPL Employee,NaN,NaN,NaN
38093,Z10000074,IN,ZORAWAR SINGH,GURGAON,JINDAL CENTRE,NaN,JSPL Employee,NaN,NaN,NaN
38094,Z10000206,IN,Zahid Anwar,PATRATU,PATRATU JSPL,NaN,JSPL Employee,NaN,NaN,NaN
38096,Z10001276,IN,MD Zafar Iqbal Khan,PATRATU,PATRATU JSPL,NaN,JSPL Employee,NaN,NaN,NaN

In [123]:
lfa1_vd_j1[lfa1_vd_j1['BANKN'].isna()]

,LIFNR,LAND1,NAME1,ORT01,STRAS,STCD3,Name,BANKN,J_1IPANNO_x,J_1IPANNO_y
37,0000010107,SE,BROKK AB,SKELLEFTEA,BOX 730,NaN,JSPL Vendor - Store Material,NaN,-,-
45,0000010156,DE,EICH ROLLENLAGER GMBH,HATTINGEN,"WEG ZUM WASSERWERK 16,",NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
47,0000010161,IN,ELECTRICAL MICANITE CORPORATION,KOLKATA,"11 7th FLOOR,POLLOCK STREET",19AAAFE6839P1ZR,JSPL Vendor - Store Material,NaN,AAAFE6839P,AAAFE6839P
64,0000010207,IN,FOAM HOUSE,RAIGARH,"SHOP NO:32-33,",22ABZPC6034C1ZY,JSPL Vendor - Store Material,NaN,ABZPC6034C,ABZPC6034C
72,0000010225,DE,Alpine Metal Tech Germany GmbH,Dillingen/Saar,Kochstrasse 2,NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
38089,Z00009342,IN,Zeeshan Adil,"M.S.College, E.Champaran, Bihar","Motihari C/o-MD.Quasim, Dept. of Zo",NaN,JSPL Employee,NaN,NaN,NaN
38090,Z00009835,IN,ZULQUNAN IMAM,ANGUL,NaN,NaN,JSPL Employee,NaN,NaN,NaN
38093,Z10000074,IN,ZORAWAR SINGH,GURGAON,JINDAL CENTRE,NaN,JSPL Employee,NaN,NaN,NaN
38094,Z10000206,IN,Zahid Anwar,PATRATU,PATRATU JSPL,NaN,JSPL Employee,NaN,NaN,NaN
38096,Z10001276,IN,MD Zafar Iqbal Khan,PATRATU,PATRATU JSPL,NaN,JSPL Employee,NaN,NaN,NaN

In [124]:
lfa1_vd_j1[lfa1_vd_j1['BANKN'].isna()].to_csv("null_bank_account.csv")

In [125]:
lfbk[lfbk['LIFNR']=='A00000016']

Empty DataFrame
Columns: [MANDT, LIFNR, BANKS, BANKL, BANKN, BKONT, BVTYP, XEZER, BKREF, KOINH, EBPP_ACCNAME, EBPP_BVSTATUS, KOVON, KOBIS]
Index: []

In [126]:
emp[['LIFNR','BANKN']]#.dropna()

           LIFNR             BANKN
22700  A00000016               NaN
22701  A00000088  0412000400079186
22702  A00000162  0412000400105942
22703  A00000182               NaN
22704  A00000194               NaN
...          ...               ...
38093  Z10000074               NaN
38094  Z10000206               NaN
38095  Z10001002       20212447018
38096  Z10001276               NaN
38097  Z10001291       32579587274

[15119 rows x 2 columns]

In [127]:
vendor[['LIFNR','BANKN']]

            LIFNR           BANKN
0      0000010000       422162746
1      0000010001  95921210000037
2      0000010003     30916007243
3      0000010007  90170500000001
4      0000010008     56393001828
...           ...             ...
32522    RPR-3102             NaN
34829    S101-IMP             NaN
34833    S106-IMP             NaN
35492    TAM-2101             NaN
35493    TAM-2201             NaN

[22979 rows x 2 columns]

In [128]:
table1_bankn_set = set(vendor['BANKN'])
employee_bankn_set = set(emp['BANKN'])

common_bankn = table1_bankn_set.intersection(employee_bankn_set)

for bankn in common_bankn:
    print(bankn)

10326048905
19691140000528
11187458535
37807488293
10511285243
30409567473
911010033277129
19691140007246
10511333231
10511286858
500010044724
10511327921
06781140001068
025301579585
024010100331869
06781140001058
10511287658
10511336935
10511284806
30402618586
20391687406
33207047054
064001001376
19691140010188
036492000003822
20454011109
6781000100026283
20105024071
10511244320
10511200846
0412000400096439
32908349114
910010023286136
20078981540
07641140004238
11008894373
20289385480
50100077922640
520101057336144
016801517341
0412000400149867
07641050001513
19691140004051
10511286950
34421084276
19691140006756
54017510478
10657981763
910010003255754
10511335160
10511240960
912010049227553
30180130891
916010039018040
02821050023450
910010043856935
20140392134
10511214963
106001501288
10511288969
910010012251208
19691140004871
10511288313
10511227665
288010100163002
10104007528
30217586766
10511264186
20101732328
nan
20054167026
916010042071799
106310021002392
10638422628
19691140011882
33680626084
20024009803
33858507522
0249101298957
30469120436
912010034530110
31657427593
10511281408
30024332639
10638416444
00271000044811
39715545809
918010066045303
10755067790
20064105647
30930773344
04111140093585
20064103402
20249295898
50100046343424
0412000400095403
31190047857
10104239866
024010100330664
07920110038055
20097781774
10451114396
30180130664
10511300352
003010100387781
10511198950
288010100069696
20064106210
31581915062
263901501850
30180131908
465102010963200
0412000100220037
10511241205
20064107452
910010041265555
19691140010274
911010020157791
025301595038
03010110003251
35116832565
30983744028
000701024003
30205591350
910010033781427
000701509610
20017736872
3756486248
10511256696
120001511011

In [129]:
len(common_bankn)

130

In [130]:
emp[emp[['LIFNR','BANKN']]['BANKN']=='10511343400']

,LIFNR,LAND1,NAME1,ORT01,STRAS,STCD3,Name,BANKN,J_1IPANNO_x,J_1IPANNO_y
32230,R10002617,IN,Rajeev Chouhan,NaN,CHHATTISGARH,NaN,JSPL Employee,10511343400,NaN,NaN

In [131]:
vendor[vendor[['LIFNR','BANKN']]['BANKN']=='10511343400']

Empty DataFrame
Columns: [LIFNR, LAND1, NAME1, ORT01, STRAS, STCD3, Name, BANKN, J_1IPANNO_x, J_1IPANNO_y]
Index: []

In [132]:
lfa1_vd_j1[lfa1_vd_j1['BANKN'].isin(common_bankn)]#['BANKN'].nunique()

,LIFNR,LAND1,NAME1,ORT01,STRAS,STCD3,Name,BANKN,J_1IPANNO_x,J_1IPANNO_y
37,0000010107,SE,BROKK AB,SKELLEFTEA,BOX 730,NaN,JSPL Vendor - Store Material,NaN,-,-
45,0000010156,DE,EICH ROLLENLAGER GMBH,HATTINGEN,"WEG ZUM WASSERWERK 16,",NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
47,0000010161,IN,ELECTRICAL MICANITE CORPORATION,KOLKATA,"11 7th FLOOR,POLLOCK STREET",19AAAFE6839P1ZR,JSPL Vendor - Store Material,NaN,AAAFE6839P,AAAFE6839P
64,0000010207,IN,FOAM HOUSE,RAIGARH,"SHOP NO:32-33,",22ABZPC6034C1ZY,JSPL Vendor - Store Material,NaN,ABZPC6034C,ABZPC6034C
72,0000010225,DE,Alpine Metal Tech Germany GmbH,Dillingen/Saar,Kochstrasse 2,NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
38089,Z00009342,IN,Zeeshan Adil,"M.S.College, E.Champaran, Bihar","Motihari C/o-MD.Quasim, Dept. of Zo",NaN,JSPL Employee,NaN,NaN,NaN
38090,Z00009835,IN,ZULQUNAN IMAM,ANGUL,NaN,NaN,JSPL Employee,NaN,NaN,NaN
38093,Z10000074,IN,ZORAWAR SINGH,GURGAON,JINDAL CENTRE,NaN,JSPL Employee,NaN,NaN,NaN
38094,Z10000206,IN,Zahid Anwar,PATRATU,PATRATU JSPL,NaN,JSPL Employee,NaN,NaN,NaN
38096,Z10001276,IN,MD Zafar Iqbal Khan,PATRATU,PATRATU JSPL,NaN,JSPL Employee,NaN,NaN,NaN

In [133]:
lfa1_vd_j1[lfa1_vd_j1['BANKN'].isin(common_bankn)].dropna(subset=['BANKN']).to_csv("bank_account_matching_with_emp.csv")

#####  common PAN

In [134]:
#null PAN
lfa1_vd_j1[lfa1_vd_j1['J_1IPANNO_x'].isna()]#['LIFNR']

,LIFNR,LAND1,NAME1,ORT01,STRAS,STCD3,Name,BANKN,J_1IPANNO_x,J_1IPANNO_y
45,0000010156,DE,EICH ROLLENLAGER GMBH,HATTINGEN,"WEG ZUM WASSERWERK 16,",NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
72,0000010225,DE,Alpine Metal Tech Germany GmbH,Dillingen/Saar,Kochstrasse 2,NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
295,0000010779,GB,DON VALLEY ENGINEERING CO PVT LTD,SOUTH YORKSHIRE,"SANDALL STONES ROAD,KIRK SANDALL,DO",NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
329,0000010878,DE,SGGT HYDRAULIK GMBH,NEUNKIRCHEN,BETZENHOLLE 24,NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
365,0000010979,IT,TACCHI GIACOMO E FIGLI SPA,MILANO,"VIA CARSO,19/21,CASTANO,PRIMO",NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
38093,Z10000074,IN,ZORAWAR SINGH,GURGAON,JINDAL CENTRE,NaN,JSPL Employee,NaN,NaN,NaN
38094,Z10000206,IN,Zahid Anwar,PATRATU,PATRATU JSPL,NaN,JSPL Employee,NaN,NaN,NaN
38095,Z10001002,IN,Zahir Siddiqui,NaN,CHHATTISGARH,NaN,JSPL Employee,20212447018,NaN,NaN
38096,Z10001276,IN,MD Zafar Iqbal Khan,PATRATU,PATRATU JSPL,NaN,JSPL Employee,NaN,NaN,NaN
38097,Z10001291,IN,Zeeshan Alvi,Angul,"Jindal Steel & Power Ltd., Nisha",NaN,JSPL Employee,32579587274,NaN,NaN

In [135]:
lfa1_vd_j1[lfa1_vd_j1['J_1IPANNO_x'].isna()].to_csv("null_pan_account.csv")

In [136]:
emp[emp[['LIFNR','J_1IPANNO_x']]['J_1IPANNO_x']=='AFIPN2491R']

,LIFNR,LAND1,NAME1,ORT01,STRAS,STCD3,Name,BANKN,J_1IPANNO_x,J_1IPANNO_y
35285,T00004026,IN,T.A. NARASIMHAM,BALAGHAT,MOHBATTA,NaN,JSPL Employee,10511286858,AFIPN2491R,AFIPN2491R

In [137]:
vendor[vendor[['LIFNR','J_1IPANNO_x']]['J_1IPANNO_x']=='AFIPN2491R']

,LIFNR,LAND1,NAME1,ORT01,STRAS,STCD3,Name,BANKN,J_1IPANNO_x,J_1IPANNO_y
8090,0000073410,IN,T.A. NARASINHAM,Raigarh,Jindal Steel & Power LTD,NaN,JSPL Consultant,10511286858,AFIPN2491R,AFIPN2491R

In [139]:
table1_bankn_set = set(vendor['J_1IPANNO_x'])
employee_bankn_set = set(emp['J_1IPANNO_x'])

common_J_1IPANNO_x = table1_bankn_set.intersection(employee_bankn_set)

for bankn in common_J_1IPANNO_x:
    print(bankn)

ALKPR1174K
AQFPP5415M
AHYPD2261K
nan
ACAPP6081A
ABCPJ4802A
AHOPP9380K
AQSPP5740Q
AZNPS2815H
AEOPD2065E
AFXPJ7705D
AEYPJ7886F
AUBPS5902N
ACIPA0281H
AJFPS6890L
ADBPG5765C
AAKPO1494J
ATTPS8791C
BFIPS4984P
ALAPP7550P
AEJPC2948G
ALBPB4938N
AEHPG3638M
AEXPV8872N
AEQPP1825G
ATPPS5823B
ABBPU2872L
ABKPM5684R
AIOPM7065K
AHKPR2357N
AQIPS8518F
ADZPT4958N
AXOPS9698B
ABFPM4317E
AFIPN2491R
DUMMY
AJFPS6920F

In [140]:
lfa1_vd_j1['J_1IPANNO_x']

0        AAACA3038K
1        AAFFA3334E
2        AAIFA7903J
3        ACCPC0164F
4        ALAPS8403N
            ...
38093           NaN
38094           NaN
38095           NaN
38096           NaN
38097           NaN
Name: J_1IPANNO_x, Length: 38098, dtype: object

In [141]:
lfa1_vd_j1[lfa1_vd_j1['BANKN'].isin(common_bankn)].dropna(subset=['BANKN']).to_csv("bank_account_matching_with_emp.csv")

In [142]:
lfa1_vd_j1[lfa1_vd_j1['J_1IPANNO_x'].isin(common_J_1IPANNO_x)].dropna(subset=['J_1IPANNO_x']).to_csv("pan_account_matching_with_emp.csv")

In [143]:
lfa1_vd_j1[lfa1_vd_j1['J_1IPANNO_x'].isna()]

,LIFNR,LAND1,NAME1,ORT01,STRAS,STCD3,Name,BANKN,J_1IPANNO_x,J_1IPANNO_y
45,0000010156,DE,EICH ROLLENLAGER GMBH,HATTINGEN,"WEG ZUM WASSERWERK 16,",NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
72,0000010225,DE,Alpine Metal Tech Germany GmbH,Dillingen/Saar,Kochstrasse 2,NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
295,0000010779,GB,DON VALLEY ENGINEERING CO PVT LTD,SOUTH YORKSHIRE,"SANDALL STONES ROAD,KIRK SANDALL,DO",NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
329,0000010878,DE,SGGT HYDRAULIK GMBH,NEUNKIRCHEN,BETZENHOLLE 24,NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
365,0000010979,IT,TACCHI GIACOMO E FIGLI SPA,MILANO,"VIA CARSO,19/21,CASTANO,PRIMO",NaN,JSPL Vendor - Store Material,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
38093,Z10000074,IN,ZORAWAR SINGH,GURGAON,JINDAL CENTRE,NaN,JSPL Employee,NaN,NaN,NaN
38094,Z10000206,IN,Zahid Anwar,PATRATU,PATRATU JSPL,NaN,JSPL Employee,NaN,NaN,NaN
38095,Z10001002,IN,Zahir Siddiqui,NaN,CHHATTISGARH,NaN,JSPL Employee,20212447018,NaN,NaN
38096,Z10001276,IN,MD Zafar Iqbal Khan,PATRATU,PATRATU JSPL,NaN,JSPL Employee,NaN,NaN,NaN
38097,Z10001291,IN,Zeeshan Alvi,Angul,"Jindal Steel & Power Ltd., Nisha",NaN,JSPL Employee,32579587274,NaN,NaN

##### common address

In [145]:
#null PAN
lfa1_vd_j1[lfa1_vd_j1['STRAS'].isna()].to_csv("null_address.csv")

In [146]:
emp[emp[['LIFNR','STRAS']]['STRAS']=='241-B, Ashok Path, Ashok Nagar']

,LIFNR,LAND1,NAME1,ORT01,STRAS,STCD3,Name,BANKN,J_1IPANNO_x,J_1IPANNO_y
23114,A00007280,IN,Anal Kumar Sinha,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,AGRPS4735P,AGRPS4735P
23115,A00007283,IN,Anup Kumar,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,31063396929,AUEPM4767C,AUEPM4767C
23116,A00007286,IN,Arun Kumar,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,NaN,NaN
23134,A00007530,IN,Avijit Ghosh,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,ACEPG2922R,ACEPG2922R
23253,A00009045,IN,Atanu Kumar Gupta,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
35314,T00007281,IN,Tanmay Priyadarshi,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,AMSPP8486B,AMSPP8486B
35530,U00007291,IN,Umesh Sharma,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,NaN,NaN
35540,U00009026,IN,Ujjwal Kumar Mandal,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,11731812794,NaN,NaN
35542,U00009228,IN,Upendra Kumar,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,NaN,NaN
35543,U00009229,IN,Ujjwal Deep,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,NaN,NaN

In [147]:
emp[emp[['LIFNR','STRAS']]['STRAS']=='241-B, Ashok Path, Ashok Nagar']

,LIFNR,LAND1,NAME1,ORT01,STRAS,STCD3,Name,BANKN,J_1IPANNO_x,J_1IPANNO_y
23114,A00007280,IN,Anal Kumar Sinha,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,AGRPS4735P,AGRPS4735P
23115,A00007283,IN,Anup Kumar,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,31063396929,AUEPM4767C,AUEPM4767C
23116,A00007286,IN,Arun Kumar,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,NaN,NaN
23134,A00007530,IN,Avijit Ghosh,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,ACEPG2922R,ACEPG2922R
23253,A00009045,IN,Atanu Kumar Gupta,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
35314,T00007281,IN,Tanmay Priyadarshi,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,AMSPP8486B,AMSPP8486B
35530,U00007291,IN,Umesh Sharma,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,NaN,NaN
35540,U00009026,IN,Ujjwal Kumar Mandal,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,11731812794,NaN,NaN
35542,U00009228,IN,Upendra Kumar,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,NaN,NaN
35543,U00009229,IN,Ujjwal Deep,Ranchi,"241-B, Ashok Path, Ashok Nagar",NaN,JSPL Employee,NaN,NaN,NaN

In [148]:
len(common_J_1IPANNO_x)

37

In [149]:
table1_bankn_set = set(vendor['STRAS'])
employee_bankn_set = set(emp['STRAS'])

common_J_1IPANNO_x = table1_bankn_set.intersection(employee_bankn_set)

for bankn in common_J_1IPANNO_x:
    print(bankn)

Jindal Steel & Power Ltd
CHAKRADHAR NAGAR
Barbil
Delhi
JAMSHEDPUR
Raigarh
REFACTORY
POWER HOUSE ROAD
Haryana
RAIGARH
TAMNAR
BALKUDRA
JINDAL STEEL AND POWER LTD
PFP
.
nan
MILLAN VILLA, SIMILIPADA
PATRAPALI
Raipur
Balkudra
12
PATRATU
SIMILIPADA
BALPUR
Jharkhand
JANJGIR
SARAIPALI
JSPL
ROURKELA
NALCO NAGAR
BAZAR CHOWK
Odisha
Tensa
NEW MARKET,
RAMGARH
GOPALPUR
BHATGAON
168
KIRODIMAL NAGAR
DELHI
JINDAL CENTRE 12, BHIKAIJI CAMA PLA
haldia
BHAGWANPUR
MAIN ROAD,
raigarh
RANCHI
DCM BUILDING
SAHID NAGAR
241-B, Ashok Path, Ashok Nagar
BANK STREET,
NANDELI
BEHIND POWER HOUSE
HOUSING BOARD COLONY
RAGHUNATHPUR
KHETRAJPUR
JINDAL STEEL & POWER LTD
Simlipada
RAM NAGAR
Angul
DCPP
Patratu
CIVIL
JAJPUR
ANGUL
REFRACTORY
jindal center
KOLKATA
SUSUDA
RAIPUR
JAGATPUR

In [150]:
lfa1_vd_j1[lfa1_vd_j1['STRAS'].isin(common_J_1IPANNO_x)].dropna(subset=['STRAS']).to_csv("address_matching_with_emp.csv")

### Dormant vendor

In [151]:
#do it from knime workflow

### Vendor bank account is in different country or city than the country or city registered with---@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

BANKS	BANKL

In [239]:
lfa1_vd_j_lfbk.head(1)

,MANDT_x,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,PSTL2,PSTLZ,REGIO,SORTL,STRAS,ADRNR,MCOD1,MCOD2,MCOD3,ANRED,BAHNS,BBBNR,BBSNR,BEGRU,BRSCH,BUBKZ,DATLT,DTAMS,DTAWS,ERDAT,ERNAM,ESRNR,KONZS,KTOKK,KUNNR,LNRZA,LOEVM,SPERR,SPERM,SPRAS,STCD1,STCD2,STKZA,STKZU,TELBX,TELF1,TELF2,TELFX,TELTX,TELX1,XCPDK,XZEMP,VBUND,FISKN,STCEG,STKZN,SPERQ,GBORT,GBDAT,SEXKZ,KRAUS,REVDB,QSSYS,KTOCK,PFORT,WERKS,LTSNA,WERKR,PLKAL,DUEFL,TXJCD,SPERZ,SCACD,SFRGR,LZONE,XLFZA,DLGRP,FITYP,STCDT,REGSS,ACTSS,STCD3,STCD4,STCD5,STCD6,IPISP,TAXBS,PROFS,STGDL,EMNFR,LFURL,J_1KFREPRE,J_1KFTBUS,J_1KFTIND,CONFS,UPDAT,UPTIM,NODEL,QSSYSDAT,PODKZB,FISKU,STENR,CARRIER_CONF,MIN_COMP,TERM_LI,CRC_NUM,CVP_XBLCK,WEORA,RG,EXP,UF,RGDATE,RIC,RNE,RNEDATE,CNAE,LEGALNAT,CRTN,ICMSTAXPAY,INDTYP,TDT,COMSIZE,DECREGPC,ALLOWANCE_TYPE,LFA1_EEW_SUPP,J_SC_CAPITAL,J_SC_CURRENCY,ALC,PMT_OFFICE,PPA_RELEVANT,SAM_UE_ID,SAM_EFT_IND,PSOFG,PSOIS,PSON1,PSON2,PSON3,PSOVN,PSOTL,PSOHS,PSOST,BORGR_DATUN,BORGR_YEAUN,AU_CARRYING_ENT,AU_IND_UNDER_18,AU_PAYMENT_NOT_EXCEED_75,AU_WHOLLY_INP_TAXED,AU_PARTNER_WITHOUT_GAIN,AU_NOT_ENTITLED_ABN,AU_PAYMENT_EXEMPT,AU_PRIVATE_HOBBY,AU_DOMESTIC_NATURE,ADDR2_STREET,ADDR2_HOUSE_NUM,ADDR2_POST,ADDR2_CITY,ADDR2_COUNTRY,CATEG,PARTNER_NAME,PARTNER_UTR,STATUS,VFNUM,VFNID,CRN,FR_OCCUPATION,J_1IEXCD_x,J_1IEXRN_x,J_1IEXRG_x,J_1IEXDI_x,J_1IEXCO_x,J_1ICSTNO_x,J_1ILSTNO_x,J_1IPANNO_x,J_1IEXCIVE_x,J_1ISSIST_x,J_1IVTYP_x,J_1IVENCRE_x,AEDAT_x,USNAM_x,J_1ISERN_x,J_1IPANREF_x,J_1IPANVALDT_x,J_1I_CUSTOMS_x,J_1IDEDREF_x,VEN_CLASS_x,ENTPUB,ESCRIT,DVALSS,FRMCSS,CODCAE,AUSDIV,TRANSPORT_CHAIN,STAGING_TIME,SCHEDULING_TYPE,SUBMI_RELEVANT,ZZSEND_PORTAL,Group,NR,OTA,Unnamed: 3,Name,MANDT_y,J_1IEXCD_y,J_1IEXRN_y,J_1IEXRG_y,J_1IEXDI_y,J_1IEXCO_y,J_1ICSTNO_y,J_1ILSTNO_y,J_1IPANNO_y,J_1IEXCIVE_y,J_1ISSIST_y,J_1IVTYP_y,J_1IVENCRE_y,AEDAT_y,USNAM_y,J_1ISERN_y,J_1IPANREF_y,J_1IPANVALDT_y,J_1I_CUSTOMS_y,J_1IDEDREF_y,VEN_CLASS_y,MANDT,BANKS,BANKL,BANKN,BKONT,BVTYP,XEZER,BKREF,KOINH,EBPP_ACCNAME,EBPP_BVSTATUS,KOVON,KOBIS
0,900,0000010000,IN,A BOND STRANDS PRIVATE LIMITED,NaN,NaN,NaN,CHENNAI,NaN,NaN,NaN,600096,22,MANUFACTUR,"164-C INSTRONICS CAMPUS,PHASE-II,PE",23986.0,A BOND STRANDS PRIVATE LI,NaN,CHENNAI,Company,NaN,0,0,NaN,9164,0,NaN,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAACA3038K,33250922036,NaN,NaN,NaN,4443406400,9941004252,4443406425,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33AAACA3038K1Z0,TN08B0009008,TN/6954A,NaN,NaN,0,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-15,09:01:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACA3038KXM002,PERUNGUDI,CHENNAI,CHENNAI-IV,TIN:33250922036,TIN:33250922036,AAACA3038K,1.0,NaN,M,NaN,2022-07-27,S13245,ALLPB0629G SD001,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material,900.0,NaN,AAACA3038KXM002,PERUNGUDI,CHENNAI,CHENNAI-IV,TIN:33250922036,TIN:33250922036,AAACA3038K,1.0,NaN,M,NaN,2017-11-13,S13245,ALLPB0629G SD001,NaN,NaT,NaN,NaN,NaN,900.0,IN,IDIB000C032,422162746,NaN,0001,NaN,IDIB000C032,A BOND STRANDS PRIVATE LIMITED,NaN,NaN,NaN,NaN

In [253]:
bnka.head(1)

,BANKS,BANKL,ERDAT,ERNAM,BANKA,PROVZ,STRAS,ORT01,SWIFT,BGRUP,XPGRO,LOEVM,BNKLZ,PSKTO,ADRNR,BRNCH,CHKME,VERS,IBAN_RULE,SDD_B2B,SDD_COR1,SDD_RTRANS,ZNOCHECK,ZACC_LEN,ZRES1,ZRES2,ZRES3,ZRES4,ZRES5,ZRES6,ZRES7,ZRES8,ZRES9,ZRES10,BICKY,RCCODE,ZZBKREF
0,AR,0,01.07.98,DEIKE,Banco Cash,NaN,NaN,Buenos Aires,NaN,NaN,NaN,NaN,0,NaN,161.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [254]:
bnka['BANKS']

0         AR
1         AR
2         AR
3         AT
4         AT
          ..
116825    UA
116826    VE
116827    VE
116828    VE
116829    ZA
Name: BANKS, Length: 116830, dtype: object

In [255]:
lfa1_vd_j_lfbk['BANKL']

0        IDIB000C032
1        SYNB0009592
2        SBIN0001218
3        UCBA0002098
4        SBIN0060393
            ...
38093            NaN
38094            NaN
38095    SBIN0005238
38096            NaN
38097    SBIN0013004
Name: BANKL, Length: 38098, dtype: object

In [306]:
lfa1_vd_j_lfbk['BANKL']

0        IDIB000C032
1        SYNB0009592
2        SBIN0001218
3        UCBA0002098
4        SBIN0060393
            ...
38093            NaN
38094            NaN
38095    SBIN0005238
38096            NaN
38097    SBIN0013004
Name: BANKL, Length: 38098, dtype: object

In [326]:
lfa1_vd_j_lfbk_bnka=pd.merge(lfa1_vd_j_lfbk, bnka, left_on=['BANKL','BANKS'],right_on=['BANKL','BANKS'], how='left')

In [327]:
#pd.merge(lfa1_vd_j_lfbk, bnka, left_on='BANKL',right_on='BANKL', how='left')

lfa1['ORT01'] #register city
bnks['ORT01'] # bank acc city

In [328]:
lfa1_vd_j_lfbk[['BANKL','BANKS']]

             BANKL BANKS
0      IDIB000C032    IN
1      SYNB0009592    IN
2      SBIN0001218    IN
3      UCBA0002098    IN
4      SBIN0060393    IN
...            ...   ...
38093          NaN   NaN
38094          NaN   NaN
38095  SBIN0005238    IN
38096          NaN   NaN
38097  SBIN0013004    IN

[38098 rows x 2 columns]

In [329]:
bnka[['BANKL','BANKS']]

           BANKL BANKS
0              0    AR
1              1    AR
2              2    AR
3          10010    AT
4          11225    AT
...          ...   ...
116825    654321    UA
116826         0    VE
116827  21000089    VE
116828  12345678    VE
116829    603251    ZA

[116830 rows x 2 columns]

In [330]:
bnka['BANKS']

0         AR
1         AR
2         AR
3         AT
4         AT
          ..
116825    UA
116826    VE
116827    VE
116828    VE
116829    ZA
Name: BANKS, Length: 116830, dtype: object

In [331]:
bnka['BANKL']

0                0
1                1
2                2
3            10010
4            11225
            ...
116825      654321
116826           0
116827    21000089
116828    12345678
116829      603251
Name: BANKL, Length: 116830, dtype: object

In [333]:
#lfa1_vd_j_lfbk_bnka['BANKS_x']

In [358]:
lfa1_vd_j_lfbk_bnka[['LIFNR','NAME1','ORT01_x','ORT01_y',]] #to be check with Manmohan

             LIFNR                              NAME1  ORT01_x  ORT01_y
0       0000010000     A BOND STRANDS PRIVATE LIMITED  CHENNAI  CHENNAI
1       0000010001          AG INDUSTRIAL CORPORATION  KOLKATA  KOLKATA
2       0000010003                 AK JAIN & BROTHERS  KOLKATA  KOLKATA
3       0000010007                 ADITYA ELECTRONICS     DURG     DURG
4       0000010008  ADVANCE REFRIGERATION CORPORATION  KOLKATA  KOLKATA
...            ...                                ...      ...      ...
467108   Z10001276                MD Zafar Iqbal Khan  PATRATU        0
467109   Z10001276                MD Zafar Iqbal Khan  PATRATU        0
467110   Z10001276                MD Zafar Iqbal Khan  PATRATU        0
467111   Z10001276                MD Zafar Iqbal Khan  PATRATU        0
467112   Z10001291                       Zeeshan Alvi    Angul   RAIPUR

[467113 rows x 4 columns]

In [360]:
lfa1_vd_j_lfbk_bnka_1=lfa1_vd_j_lfbk_bnka[['LIFNR','NAME1','ORT01_x','ORT01_y',]].drop_duplicates(subset=['LIFNR','NAME1','ORT01_x','ORT01_y',])

In [296]:
lfa1_vd_j_lfbk_bnka['ORT01_x'].nunique()

3675

In [297]:
lfa1_vd_j_lfbk_bnka['ORT01_y'].n4unique()

1

In [264]:
lfa1_vd_j_lfbk_bnka[['LIFNR','NAME1','ORT01_x','ORT01_y',]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 467113 entries, 0 to 467112
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   LIFNR    467113 non-null  object
 1   NAME1    467113 non-null  object
 2   ORT01_x  433831 non-null  object
 3   ORT01_y  429015 non-null  object
dtypes: object(4)
memory usage: 17.8+ MB

In [262]:
[col for col in lfa1_vd_j_lfbk_bnka.columns if col.startswith('ORT01')]

['ORT01_x', 'ORT01_y']

In [361]:
lfa1_vd_j_lfbk_bnka_1

             LIFNR                              NAME1  ORT01_x  ORT01_y
0       0000010000     A BOND STRANDS PRIVATE LIMITED  CHENNAI  CHENNAI
1       0000010001          AG INDUSTRIAL CORPORATION  KOLKATA  KOLKATA
2       0000010003                 AK JAIN & BROTHERS  KOLKATA  KOLKATA
3       0000010007                 ADITYA ELECTRONICS     DURG     DURG
4       0000010008  ADVANCE REFRIGERATION CORPORATION  KOLKATA  KOLKATA
...            ...                                ...      ...      ...
467052   Z10000206                        Zahid Anwar  PATRATU      NaN
467073   Z10001002                     Zahir Siddiqui      NaN  RAIGARH
467074   Z10001276                MD Zafar Iqbal Khan  PATRATU        0
467091   Z10001276                MD Zafar Iqbal Khan  PATRATU      NaN
467112   Z10001291                       Zeeshan Alvi    Angul   RAIPUR

[49679 rows x 4 columns]

In [ ]:
lfa1['ORT01'] #register city
bnks['ORT01'] # bank acc city

,LIFNR,NAME1,register city,bank acc city
0,0000010000,A BOND STRANDS PRIVATE LIMITED,CHENNAI,CHENNAI
1,0000010001,AG INDUSTRIAL CORPORATION,KOLKATA,KOLKATA
2,0000010003,AK JAIN & BROTHERS,KOLKATA,KOLKATA
3,0000010007,ADITYA ELECTRONICS,DURG,DURG
4,0000010008,ADVANCE REFRIGERATION CORPORATION,KOLKATA,KOLKATA
...,...,...,...,...
467052,Z10000206,Zahid Anwar,PATRATU,NaN
467073,Z10001002,Zahir Siddiqui,NaN,RAIGARH
467074,Z10001276,MD Zafar Iqbal Khan,PATRATU,0
467091,Z10001276,MD Zafar Iqbal Khan,PATRATU,NaN
467112,Z10001291,Zeeshan Alvi,Angul,RAIPUR

In [364]:
lfa1_vd_j_lfbk_bnka_1['same'] = lfa1_vd_j_lfbk_bnka_1.apply(lambda row: 1 if row['ORT01_x'] == row['ORT01_y'] else 0, axis=1)

In [365]:
lfa1_vd_j_lfbk_bnka_1=lfa1_vd_j_lfbk_bnka_1.rename(columns={'ORT01_x':'register city','ORT01_y':' bank acc city'})

In [376]:
lfa1_vd_j_lfbk_bnka_1=lfa1_vd_j_lfbk_bnka_1[lfa1_vd_j_lfbk_bnka_1['same']==0]

,LIFNR,NAME1,register city,bank acc city,same
5,0000010009,ADVANCE COOLING TOWERS PRIVATE LIMI,KILLA PARDI,ATUL,0

In [379]:
lf=lfa1_vd_j_lfbk_bnka_1

In [380]:
lf.head(1)

,LIFNR,NAME1,register city,bank acc city,same
5,0000010009,ADVANCE COOLING TOWERS PRIVATE LIMI,KILLA PARDI,ATUL,0

In [381]:
import fuzzywuzzy.fuzz as fuzz

def fuzzy_similarity(entity1, entity2):
    
    similarity1 = fuzz.token_sort_ratio(entity1['attribute1'], entity2['attribute1'])
    similarity2 = fuzz.partial_ratio(entity1['attribute2'], entity2['attribute2'])
    similarity3 = fuzz.token_set_ratio(entity1['attribute3'], entity2['attribute3'])
    
    overall_similarity = (similarity1 * weight1 + similarity2 * weight2 + similarity3 * weight3) / (weight1 + weight2 + weight3)
    
    return overall_similarity

In [384]:
lf.head(1)

,LIFNR,NAME1,register city,bank acc city,same
5,0000010009,ADVANCE COOLING TOWERS PRIVATE LIMI,KILLA PARDI,ATUL,0

In [389]:
lf[['register city',' bank acc city']]

       register city  bank acc city
5        KILLA PARDI           ATUL
7          NEW DELHI        KOLKATA
8        NAVI MUMBAI         MUMBAI
10        JAMSHEDPUR      ADITYAPUR
15              KOTA            NaN
...              ...            ...
467052       PATRATU            NaN
467073           NaN        RAIGARH
467074       PATRATU              0
467091       PATRATU            NaN
467112         Angul         RAIPUR

[43294 rows x 2 columns]

In [401]:
import pandas as pd
from fuzzywuzzy import fuzz


def fuzzy_similarity(row):
    city1 = str(row['register city'])
    city2 = str(row[' bank acc city'])
    
    if city1 != 'nan' and city2 != 'nan': 
        similarity = fuzz.ratio(city1, city2)
    else:
        similarity = 0
    
    return similarity

lf['similarity'] = lf.apply(fuzzy_similarity, axis=1)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\1869005176.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lf['similarity'] = lf.apply(fuzzy_similarity, axis=1)

import pandas as pd
from fuzzywuzzy import fuzz

# Assuming you have your dataset stored in a pandas DataFrame called 'df'
# and the columns are named 'register city' and 'bank acc city'

def fuzzy_similarity(row):
    city1 = str(row['register city'])
    city2 = str(row[' bank acc city'])
    similarity = fuzz.ratio(city1, city2)
    return similarity

# Apply fuzzy_similarity function to calculate similarity for each row
lf['similarity'] = lf.apply(fuzzy_similarity, axis=1)

In [399]:
lf

,LIFNR,NAME1,register city,bank acc city,same,similarity
5,0000010009,ADVANCE COOLING TOWERS PRIVATE LIMI,KILLA PARDI,ATUL,0,13
7,0000010017,AIMIL LIMITED,NEW DELHI,KOLKATA,0,12
8,0000010018,AIR HYDRAULIC SYSTEMS & CONTROLS,NAVI MUMBAI,MUMBAI,0,71
10,0000010023,ALLIED INSTRUMENTS & THERMOCOUPLES,JAMSHEDPUR,ADITYAPUR,0,53
15,0000010033,ANALYSER INSTRUMENT COMPANY,KOTA,NaN,0,0
...,...,...,...,...,...,...
467052,Z10000206,Zahid Anwar,PATRATU,NaN,0,0
467073,Z10001002,Zahir Siddiqui,NaN,RAIGARH,0,0
467074,Z10001276,MD Zafar Iqbal Khan,PATRATU,0,0,0
467091,Z10001276,MD Zafar Iqbal Khan,PATRATU,NaN,0,0
467112,Z10001291,Zeeshan Alvi,Angul,RAIPUR,0,18

In [397]:
lf[lf['similarity']>70]

,LIFNR,NAME1,register city,bank acc city,same,similarity
8,0000010018,AIR HYDRAULIC SYSTEMS & CONTROLS,NAVI MUMBAI,MUMBAI,0,71
19,0000010047,ABB INDIA LIMITED,BANGLORE,BANGALORE,0,94
31,0000010088,BHARAT HEAVY ELECTRICALS LIMITED,TIRUCHIRAPALLI,TIRUCHIRAPPALLI,0,97
78,0000010137,DATTA ELECTRICAL ENGINEERING WORKS,BHILAI,BHILAINAGAR,0,71
162,0000010168,KAKKU E AND P CONTROL PVT LTD,BHILAI,BHILAINAGAR,0,71
...,...,...,...,...,...,...
464760,V10001305,Sandeep Raj,NaN,NaN,0,100
465177,V10002875,Surendra Bahadur Karki,NaN,NaN,0,100
465296,V11100511,Vijay Kumar Sahu,NaN,NaN,0,100
465617,W0626,ISHWAR SINGH,NaN,NaN,0,100
466511,Y00011539,YATIRAJULA RAJAMANNAR,NaN,NaN,0,100

In [403]:
lf[lf['LIFNR']=='Y00011539']

,LIFNR,NAME1,register city,bank acc city,same,similarity
466494,Y00011539,YATIRAJULA RAJAMANNAR,NaN,0,0,0
466511,Y00011539,YATIRAJULA RAJAMANNAR,NaN,NaN,0,0

In [402]:
lf[lf['similarity']>0]

,LIFNR,NAME1,register city,bank acc city,same,similarity
8,0000010018,AIR HYDRAULIC SYSTEMS & CONTROLS,NAVI MUMBAI,MUMBAI,0,71
19,0000010047,ABB INDIA LIMITED,BANGLORE,BANGALORE,0,94
31,0000010088,BHARAT HEAVY ELECTRICALS LIMITED,TIRUCHIRAPALLI,TIRUCHIRAPPALLI,0,97
78,0000010137,DATTA ELECTRICAL ENGINEERING WORKS,BHILAI,BHILAINAGAR,0,71
162,0000010168,KAKKU E AND P CONTROL PVT LTD,BHILAI,BHILAINAGAR,0,71
...,...,...,...,...,...,...
409960,S11100957,SHUBHAM JAIN,JHUMRI TILAIYA,JHUMRITILAIYA,0,96
410016,S11101344,Suraj Kiran Dash,BALANGIR,BOLANGIR,0,88
416016,T00010919,TUSHARANSHU GUHA,PATRATU.,PATRATU,0,93
419177,V000011122,Vijay Gautam,NEW DELHI,DELHI,0,71
421280,V00004216,VINOD KUMAR,PRATAPGARH,RAIGARH,0,71

In [404]:
lf.to_csv('Vendor bank account is in different  city than  city registered_updated.csv')

In [367]:
lfa1_vd_j_lfbk_bnka_1.to_csv('Vendor bank account is in different  city than  city registered.csv')

###  Vendor belongs to country in Africa, Turkey, Bangkok etc

In [152]:
lfa1['LAND1'].unique()

array(['IN', 'SE', 'DE', 'IT', 'GB', 'AT', 'FR', 'NL', 'ZA', 'RU', 'CH',
       'CN', 'KR', 'SG', 'UA', 'US', 'ES', 'JP', 'TW', 'BE', 'CZ', 'CA',
       'HK', 'BT', 'AE', 'MZ', 'MU', 'AU', 'MY', 'OM', 'VN', 'NZ', 'ID',
       'MX', 'SA', 'LK', 'BR', 'SI', 'LU', 'FI', 'TR', 'IE', 'PL', 'GE',
       'NP', 'TH', 'BD', 'DK', 'NO', 'HU', 'IL', 'VE', 'BO', 'BS', 'BB',
       'SZ', 'MT', 'EG', 'EU', 'UN', 'CD', 'MN', 'GG', 'VG', 'MG', 'MW'],
      dtype=object)

In [153]:
t005t

,MANDT,SPRAS,LAND1,LANDX,NATIO,LANDX50,NATIO50,PRQ_SPREGT
0,900,D,AD,Andorra,andorranisch,Andorra,andorranisch,NaN
1,900,D,AE,Ver.Arab.Emir.,d. Verein. Arab,Vereinigte Arabische Emirate,v.d. Vereinigten Arabischen Emiraten,NaN
2,900,D,AF,Afghanistan,afghanisch,Afghanistan,afghanisch,NaN
3,900,D,AG,Antigua/Barbuda,antiguanisch,Antigua und Barbuda,antiguanisch,NaN
4,900,D,AI,Anguilla,Anguilla,Anguilla,anguillanisch,NaN
...,...,...,...,...,...,...,...,...
704,900,S,SE,Suecia,sueca,NaN,NaN,NaN
705,900,S,SY,NaN,NaN,NaN,NaN,NaN
706,900,S,US,NaN,NaN,NaN,NaN,NaN
707,900,S,UY,NaN,NaN,NaN,NaN,NaN
708,900,S,VE,NaN,NaN,NaN,NaN,NaN

In [154]:
series_data=t005t.groupby('LAND1')['LANDX'].value_counts()

In [155]:
series_data

LAND1  LANDX
AD     Andorra           1
       Andorran          1
       Andorre           1
AE     Emir.arab.unis    1
       Utd.Arab Emir.    1
                        ..
ZM     Sambia            1
       Zambia            1
       Zambie            1
ZW     Zimbabwe          2
       Simbabwe          1
Name: LANDX, Length: 513, dtype: int64

In [156]:
pd.DataFrame({'BANKN': series_data})

                      BANKN
LAND1 LANDX
AD    Andorra             1
      Andorran            1
      Andorre             1
AE    Emir.arab.unis      1
      Utd.Arab Emir.      1
...                     ...
ZM    Sambia              1
      Zambia              1
      Zambie              1
ZW    Zimbabwe            2
      Simbabwe            1

[513 rows x 1 columns]

In [157]:
x1=pd.DataFrame({'BANKN': series_data})

x1=x1.rename(columns={'BANKN': 'count_BankN'},)

x1=x1.reset_index()

In [158]:
x1[x1['count_BankN']>1]

    LAND1            LANDX  count_BankN
6      AF      Afghanistan            3
7      AG  Antigua/Barbuda            3
8      AI         Anguilla            2
17     AO           Angola            3
25     AT          Austria            3
..    ...              ...          ...
495    VN          Vietnam            2
497    VU          Vanuatu            2
498    WF    Wallis,Futuna            3
504    YT          Mayotte            2
511    ZW         Zimbabwe            2

[116 rows x 3 columns]

In [159]:
x1[x1['LANDX'].str.contains('Wallis')]

    LAND1          LANDX  count_BankN
498    WF  Wallis,Futuna            3

In [160]:
t005t

,MANDT,SPRAS,LAND1,LANDX,NATIO,LANDX50,NATIO50,PRQ_SPREGT
0,900,D,AD,Andorra,andorranisch,Andorra,andorranisch,NaN
1,900,D,AE,Ver.Arab.Emir.,d. Verein. Arab,Vereinigte Arabische Emirate,v.d. Vereinigten Arabischen Emiraten,NaN
2,900,D,AF,Afghanistan,afghanisch,Afghanistan,afghanisch,NaN
3,900,D,AG,Antigua/Barbuda,antiguanisch,Antigua und Barbuda,antiguanisch,NaN
4,900,D,AI,Anguilla,Anguilla,Anguilla,anguillanisch,NaN
...,...,...,...,...,...,...,...,...
704,900,S,SE,Suecia,sueca,NaN,NaN,NaN
705,900,S,SY,NaN,NaN,NaN,NaN,NaN
706,900,S,US,NaN,NaN,NaN,NaN,NaN
707,900,S,UY,NaN,NaN,NaN,NaN,NaN
708,900,S,VE,NaN,NaN,NaN,NaN,NaN

In [161]:
t005t[t005t['LAND1']=='IN']

     MANDT SPRAS LAND1          LANDX     NATIO LANDX50  NATIO50  PRQ_SPREGT
104    900     D    IN         Indien   indisch  Indien  indisch         NaN
351    900     E    IN          India    Indian   India   Indian         NaN
562    900     F    IN  Inde + Sikkim  indienne     NaN      NaN         NaN

In [162]:
#t005t[t005t['LAND1'].str.contains('IN')]

In [163]:
t005t.groupby('LAND1')['LANDX'].value_counts()

LAND1  LANDX
AD     Andorra           1
       Andorran          1
       Andorre           1
AE     Emir.arab.unis    1
       Utd.Arab Emir.    1
                        ..
ZM     Sambia            1
       Zambia            1
       Zambie            1
ZW     Zimbabwe          2
       Simbabwe          1
Name: LANDX, Length: 513, dtype: int64

In [164]:
t005t.groupby('LAND1')['LANDX50'].value_counts()#.reset_index()

LAND1  LANDX50
AD     Andorra                         2
AE     United Arab Emirates            1
       Vereinigte Arabische Emirate    1
AF     Afghanistan                     2
AG     Antigua and Barbuda             1
                                      ..
ZA     Südafrika                       1
ZM     Sambia                          1
       Zambia                          1
ZW     Simbabwe                        1
       Zimbabwe                        1
Name: LANDX50, Length: 399, dtype: int64

In [165]:
ltf=pd.merge(lfa1, t005t, on='LAND1', how='left')

In [166]:
ltf[['LIFNR','LAND1','LANDX','LANDX50','NATIO','NATIO50']]

             LIFNR LAND1          LANDX LANDX50     NATIO  NATIO50
0       0000010000    IN         Indien  Indien   indisch  indisch
1       0000010000    IN          India   India    Indian   Indian
2       0000010000    IN  Inde + Sikkim     NaN  indienne      NaN
3       0000010001    IN         Indien  Indien   indisch  indisch
4       0000010001    IN          India   India    Indian   Indian
...            ...   ...            ...     ...       ...      ...
115002   Z10001276    IN          India   India    Indian   Indian
115003   Z10001276    IN  Inde + Sikkim     NaN  indienne      NaN
115004   Z10001291    IN         Indien  Indien   indisch  indisch
115005   Z10001291    IN          India   India    Indian   Indian
115006   Z10001291    IN  Inde + Sikkim     NaN  indienne      NaN

[115007 rows x 6 columns]

In [167]:
ltf1=ltf[['LIFNR','LAND1','LANDX50']]

In [168]:
ltf1

             LIFNR LAND1 LANDX50
0       0000010000    IN  Indien
1       0000010000    IN   India
2       0000010000    IN     NaN
3       0000010001    IN  Indien
4       0000010001    IN   India
...            ...   ...     ...
115002   Z10001276    IN   India
115003   Z10001276    IN     NaN
115004   Z10001291    IN  Indien
115005   Z10001291    IN   India
115006   Z10001291    IN     NaN

[115007 rows x 3 columns]

In [169]:
 #  'Africa', 'Turkey', 'Bangkok'

In [170]:
filter_values = ['Africa', 'Turkey', 'Bangkok','Thailand','Colombia','Madagascar',
                 'British Virgin Islands','Gournsey (Kanalinsel)','Andorra','Colombia','Cyprus',
                 'Iceland','Lithuania','Argentina']

In [171]:
list(ltf1[ltf1['LANDX50'].isin(filter_values)]['LIFNR'])

['0000058490',
 '0000059822',
 '0000059827',
 '0000093693',
 '0000093693',
 '0000500748',
 '0000501202',
 '0000920637',
 'IC8200',
 'IC8200',
 'IC8220',
 'IC8260']

In [172]:
#lfa1['LIFNR']

In [177]:
ltf1[ltf1['LANDX50'].isin(filter_values)]

            LIFNR LAND1                 LANDX50
17690  0000058490    TR                  Turkey
19593  0000059822    TR                  Turkey
19605  0000059827    TR                  Turkey
33127  0000093693    TH                Thailand
33128  0000093693    TH                Thailand
42654  0000500748    TR                  Turkey
43845  0000501202    TR                  Turkey
53967  0000920637    TR                  Turkey
82178      IC8200    GG                 Andorra
82179      IC8200    GG   Gournsey (Kanalinsel)
82182      IC8220    VG  British Virgin Islands
82186      IC8260    MG              Madagascar

In [263]:
ltf1[ltf1['LANDX50'].isin(filter_values)]#.to_csv("suspicious_country.csv")

            LIFNR LAND1                 LANDX50
17690  0000058490    TR                  Turkey
19593  0000059822    TR                  Turkey
19605  0000059827    TR                  Turkey
33127  0000093693    TH                Thailand
33128  0000093693    TH                Thailand
42654  0000500748    TR                  Turkey
43845  0000501202    TR                  Turkey
53967  0000920637    TR                  Turkey
82178      IC8200    GG                 Andorra
82179      IC8200    GG   Gournsey (Kanalinsel)
82182      IC8220    VG  British Virgin Islands
82186      IC8260    MG              Madagascar

In [174]:
ltf1['LANDX50'].value_counts()[-40:]

Vereinigte Nationen                 3
United Nations                      3
Mexiko                              3
Mosambik                            3
Mexico                              3
New Zealand                         3
Neuseeland                          3
Mozambique                          3
Swaziland                           2
Barbados                            2
Russische Föderation                2
Russian Federation                  2
Democratic Republic of the Congo    2
Republik Kongo                      2
Bhutan                              2
European Union                      2
Europäische Union                   2
Malta                               2
Swasiland                           2
Malawi                              2
Bahamas                             2
Slovenia                            2
Thailand                            2
Finland                             2
Luxembourg                          2
Luxemburg                           2
Finnland                            2
Slowenien                           2
Sri Lanka                           2
Venezuela                           2
Egypt                               1
Polen                               1
Ägypten                             1
Andorra                             1
Gournsey (Kanalinsel)               1
Britische Jungferninseln            1
British Virgin Islands              1
Madagaskar                          1
Madagascar                          1
Poland                              1
Name: LANDX50, dtype: int64

In [175]:
filter_country=ltf1[ltf1['LANDX50'].isin(filter_values)]

In [176]:
filter_country['LANDX50'].value_counts()

Turkey                    6
Thailand                  2
Andorra                   1
Gournsey (Kanalinsel)     1
British Virgin Islands    1
Madagascar                1
Name: LANDX50, dtype: int64

In [178]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is F866-B8A7

 Directory of C:\Users\LENOVO

19-06-2023  16:05    <DIR>          .
28-04-2023  11:05    <DIR>          ..
13-05-2023  18:06    <DIR>          .cache
24-02-2022  17:27    <DIR>          .dbus-keyrings
29-05-2023  09:59    <DIR>          .docker
28-10-2022  08:44    <DIR>          .EasyOCR
05-12-2022  14:48    <DIR>          .equo
20-05-2023  18:43                29 .gitconfig
13-06-2023  15:53    <DIR>          .ipynb_checkpoints
10-08-2022  17:11    <DIR>          .ipython
18-03-2023  16:26    <DIR>          .jupyter
31-03-2023  09:27    <DIR>          .keras
26-05-2023  19:32    <DIR>          .malfrats
19-09-2022  18:13    <DIR>          .matplotlib
01-07-2022  18:16    <DIR>          .ms-ad
10-05-2023  10:45                80 .python_history
16-07-2021  20:48    <DIR>          .swt
29-05-2023  09:56    <DIR>          .VirtualBox
04-02-2023  20:15    <DIR>          .vscode
19-05-2023  10:35    <DIR>          .vscode-cli
02-12-2021  10:37    <DIR>          3D Objects
06-12-2022  18:36        45,471,308 a2.csv
19-06-2023  16:05           114,847 address_matching_with_emp.csv
13-06-2023  15:36       256,891,151 anomaly_all.csv
13-06-2023  15:39        22,494,779 anomaly_all.zip
13-06-2023  10:08         6,657,075 Anomaly_data.csv
13-06-2023  19:19       126,858,644 anomaly_filtered_data.csv
19-06-2023  16:04            28,421 bank_account_matching_with_emp.csv
20-05-2023  19:00    <DIR>          basic-scrapy-project
07-11-2022  12:50             8,508 Bot revo.ipynb
23-08-2022  17:17         3,715,304 check-318-GRN.html
23-08-2022  17:17         3,720,810 check-318.html
24-08-2022  15:21         3,709,819 check-318b-v4.html
23-08-2022  17:17         3,709,343 check-318b.html
23-08-2022  18:03         3,709,401 check-318_v4.html
24-08-2022  14:42         3,708,610 check-318_v4H.html
18-08-2022  10:15         3,715,709 check.html
18-08-2022  18:14         3,711,605 check1.html
18-08-2022  12:50         3,709,528 check2.html
18-08-2022  12:06         3,709,528 check3.html
18-08-2022  12:17         3,709,087 check4.html
18-08-2022  13:08         3,709,298 check5.html
19-08-2022  11:50         3,708,518 check6.html
18-08-2022  18:06         3,709,528 check7.html
22-08-2022  11:08         3,710,946 check_all.html
22-08-2022  12:47         3,710,459 check_all_POs.html
22-08-2022  12:06         3,710,946 check_all_po_lifecycle.html
28-10-2022  09:46             1,257 check_page.png
28-04-2023  11:11    <DIR>          Contacts
16-06-2023  17:27    <DIR>          Desktop
28-04-2023  11:11    <DIR>          Documents
19-06-2023  11:29    <DIR>          Downloads
17-06-2023  14:22           263,140 dup_vendor.csv
06-12-2022  11:37           261,591 eo_grc.ipynb
28-04-2023  11:11    <DIR>          Favorites
05-12-2022  20:17         4,359,989 file_name.xlsx
04-01-2023  00:13            16,457 final_dlr_odin.ipynb
15-02-2022  12:33         2,609,803 get-pip.py
25-05-2023  16:14    <DIR>          GHunt
20-12-2022  11:12           187,672 GRN_to_finish.ipynb
19-06-2023  16:05           385,543 jindal_data.ipynb
02-01-2023  11:42             8,729 jodhpur_automations.ipynb
03-12-2022  11:00    <DIR>          knime-workspace
05-12-2022  14:49    <DIR>          knime-workspace1
27-12-2022  12:56    <DIR>          knime-workspace2
22-12-2022  14:49           242,359 Lead_time_from_po_creation_to_consumption.ipynb
28-04-2023  11:11    <DIR>          Links
06-08-2022  23:39    <DIR>          Microsoft
19-06-2023  16:03             3,043 more_than_one_account.csv
28-04-2023  11:11    <DIR>          Music
19-06-2023  15:43        17,818,684 not private limited or public limited or LLP.csv
16-06-2023  18:22             4,961 null.csv
19-06-2023  16:04           333,682 null_address.csv
19-06-2023  16:04         1,105,605 null_bank_account.csv
19-06-2023  16:04         1,428,051 null_pan_account.csv
02-11-2022  10:53         4,643,608 ocr revoquant.ipynb
28-03-2023  13:12    <DIR>          OneDrive
19-06-2023  16:02            84,286 one_time_vendor.csv
02-01-2023  11:41            25,573 open excel.ipynb
19-06-2023  16:04             9,559 pan_account_matching_with_emp.csv
30-11-2022  19:24            27,891 pdf_to_excel.ipynb
28-04-2023  11:11    <DIR>          Pictures
14-03-2023  14:07    <DIR>          Postman Agent
10-03-2023  15:17    <DIR>          PycharmProjects
11-11-2022  11:37    <DIR>          Pywinauto recorder
19-06-2023  12:58         2,397,293 regex.ipynb
24-08-2022  16:20           976,270 revo_final_data.csv
16-12-2022  13:44           901,449 rev_p1.ipynb
16-12-2022  12:26            39,550 sale.ipynb
28-04-2023  11:11    <DIR>          Saved Games
20-05-2023  19:11    <DIR>          scrapy
28-04-2023  11:11    <DIR>          Searches
01-12-2022  13:19            47,850 similar_name.csv
01-12-2022  13:19            47,850 similar_NAME_TEXTC.csv
04-02-2023  19:47    <DIR>          source
19-06-2023  16:05               382 suspicious_country.csv
01-12-2022  16:09           103,117 UNAME_AGRNAME_NAMETEXTC.csv
03-12-2022  10:26                 0 untitled.txt
10-08-2022  17:16               807 Untitled1.ipynb
19-06-2023  15:37           341,732 vendor_having_null_email.csv
19-06-2023  15:42           654,706 vendor_unofficial_email.csv
19-06-2023  16:02             2,397 vendor_with_name1_1.csv
19-06-2023  16:01             1,579 vendor_with_name1_contains_star.csv
19-06-2023  16:01             3,495 vendor_with_name1_null.csv
20-05-2023  19:01    <DIR>          venv
28-04-2023  11:11    <DIR>          Videos
26-05-2023  20:11    <DIR>          VirtualBox VMs
05-12-2022  20:16            15,810 xyz.xlsx
08-01-2023  17:35    <DIR>          YandexDisk
              64 File(s)    560,969,051 bytes
              45 Dir(s)   7,667,027,968 bytes free

In [179]:
pd.set_option('display.max_columns', 500)

###  Vendor having email address domain as gmail, yahoomail, Hotmail, rediffmail etc

In [180]:
lfb1['AD_HASH'].unique()

array([nan])

In [181]:
#lfa1['SZA1_D0100'].unique()

In [182]:
#lfb1['SMTP_ADDR'].unique()

In [183]:
lfa1.head(1)

,MANDT,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,PSTL2,PSTLZ,REGIO,SORTL,STRAS,ADRNR,MCOD1,MCOD2,MCOD3,ANRED,BAHNS,BBBNR,BBSNR,BEGRU,BRSCH,BUBKZ,DATLT,DTAMS,DTAWS,ERDAT,ERNAM,ESRNR,KONZS,KTOKK,KUNNR,LNRZA,LOEVM,SPERR,SPERM,SPRAS,STCD1,STCD2,STKZA,STKZU,TELBX,TELF1,TELF2,TELFX,TELTX,TELX1,XCPDK,XZEMP,VBUND,FISKN,STCEG,STKZN,SPERQ,GBORT,GBDAT,SEXKZ,KRAUS,REVDB,QSSYS,KTOCK,PFORT,WERKS,LTSNA,WERKR,PLKAL,DUEFL,TXJCD,SPERZ,SCACD,SFRGR,LZONE,XLFZA,DLGRP,FITYP,STCDT,REGSS,ACTSS,STCD3,STCD4,STCD5,STCD6,IPISP,TAXBS,PROFS,STGDL,EMNFR,LFURL,J_1KFREPRE,J_1KFTBUS,J_1KFTIND,CONFS,UPDAT,UPTIM,NODEL,QSSYSDAT,PODKZB,FISKU,STENR,CARRIER_CONF,MIN_COMP,TERM_LI,CRC_NUM,CVP_XBLCK,WEORA,RG,EXP,UF,RGDATE,RIC,RNE,RNEDATE,CNAE,LEGALNAT,CRTN,ICMSTAXPAY,INDTYP,TDT,COMSIZE,DECREGPC,ALLOWANCE_TYPE,LFA1_EEW_SUPP,J_SC_CAPITAL,J_SC_CURRENCY,ALC,PMT_OFFICE,PPA_RELEVANT,SAM_UE_ID,SAM_EFT_IND,PSOFG,PSOIS,PSON1,PSON2,PSON3,PSOVN,PSOTL,PSOHS,PSOST,BORGR_DATUN,BORGR_YEAUN,AU_CARRYING_ENT,AU_IND_UNDER_18,AU_PAYMENT_NOT_EXCEED_75,AU_WHOLLY_INP_TAXED,AU_PARTNER_WITHOUT_GAIN,AU_NOT_ENTITLED_ABN,AU_PAYMENT_EXEMPT,AU_PRIVATE_HOBBY,AU_DOMESTIC_NATURE,ADDR2_STREET,ADDR2_HOUSE_NUM,ADDR2_POST,ADDR2_CITY,ADDR2_COUNTRY,CATEG,PARTNER_NAME,PARTNER_UTR,STATUS,VFNUM,VFNID,CRN,FR_OCCUPATION,J_1IEXCD,J_1IEXRN,J_1IEXRG,J_1IEXDI,J_1IEXCO,J_1ICSTNO,J_1ILSTNO,J_1IPANNO,J_1IEXCIVE,J_1ISSIST,J_1IVTYP,J_1IVENCRE,AEDAT,USNAM,J_1ISERN,J_1IPANREF,J_1IPANVALDT,J_1I_CUSTOMS,J_1IDEDREF,VEN_CLASS,ENTPUB,ESCRIT,DVALSS,FRMCSS,CODCAE,AUSDIV,TRANSPORT_CHAIN,STAGING_TIME,SCHEDULING_TYPE,SUBMI_RELEVANT,ZZSEND_PORTAL
0,900,0000010000,IN,A BOND STRANDS PRIVATE LIMITED,NaN,NaN,NaN,CHENNAI,NaN,NaN,NaN,600096,22,MANUFACTUR,"164-C INSTRONICS CAMPUS,PHASE-II,PE",23986.0,A BOND STRANDS PRIVATE LI,NaN,CHENNAI,Company,NaN,0,0,NaN,9164,0,NaN,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAACA3038K,33250922036,NaN,NaN,NaN,4443406400,9941004252,4443406425,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33AAACA3038K1Z0,TN08B0009008,TN/6954A,NaN,NaN,0,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-15,09:01:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACA3038KXM002,PERUNGUDI,CHENNAI,CHENNAI-IV,TIN:33250922036,TIN:33250922036,AAACA3038K,1.0,NaN,M,NaN,2022-07-27,S13245,ALLPB0629G SD001,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X

In [184]:
adrc['FLAGCOMM6'].unique()

array(['X', nan], dtype=object)

In [185]:
#adr6['addrnumber']

In [186]:
adr6.head(1)

,Cl.,Addr. No.,Person,From,ID,#,Do Not Use Communication Number,Hm,E-Mail Address,E-Mail Address.1,Standard recipient,SAP,Coding,TNEF,Valid From,Valid To,Data Filter Value for Data Aging
0,900,22601,40117.0,0001-01-01,1,X,NaN,X,pradeepagarwal@jspl.com,PRADEEPAGARWAL@JSPL.,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [187]:
lfa1['ADRNR'] = pd.to_numeric(lfa1['ADRNR'], errors='coerce', downcast='float')

In [188]:
adr6['Addr. No.']=adr6['Addr. No.'].astype(float)

In [189]:
#lfa1['ADRNR']=lfa1['ADRNR'].astype(int)

In [190]:
lfa1['ADRNR'].info()

<class 'pandas.core.series.Series'>
Int64Index: 38083 entries, 0 to 68648
Series name: ADRNR
Non-Null Count  Dtype
--------------  -----
38083 non-null  float32
dtypes: float32(1)
memory usage: 446.3 KB

In [191]:
adr6['Addr. No.'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 384503 entries, 0 to 384502
Series name: Addr. No.
Non-Null Count   Dtype
--------------   -----
384503 non-null  float64
dtypes: float64(1)
memory usage: 2.9 MB

In [192]:
#adr6['Addr. No.']=adr6['Addr. No.'].astype(str)

In [193]:
adr6['Addr. No.'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 384503 entries, 0 to 384502
Series name: Addr. No.
Non-Null Count   Dtype
--------------   -----
384503 non-null  float64
dtypes: float64(1)
memory usage: 2.9 MB

In [194]:
lfa1.head(1)

,MANDT,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,PSTL2,PSTLZ,REGIO,SORTL,STRAS,ADRNR,MCOD1,MCOD2,MCOD3,ANRED,BAHNS,BBBNR,BBSNR,BEGRU,BRSCH,BUBKZ,DATLT,DTAMS,DTAWS,ERDAT,ERNAM,ESRNR,KONZS,KTOKK,KUNNR,LNRZA,LOEVM,SPERR,SPERM,SPRAS,STCD1,STCD2,STKZA,STKZU,TELBX,TELF1,TELF2,TELFX,TELTX,TELX1,XCPDK,XZEMP,VBUND,FISKN,STCEG,STKZN,SPERQ,GBORT,GBDAT,SEXKZ,KRAUS,REVDB,QSSYS,KTOCK,PFORT,WERKS,LTSNA,WERKR,PLKAL,DUEFL,TXJCD,SPERZ,SCACD,SFRGR,LZONE,XLFZA,DLGRP,FITYP,STCDT,REGSS,ACTSS,STCD3,STCD4,STCD5,STCD6,IPISP,TAXBS,PROFS,STGDL,EMNFR,LFURL,J_1KFREPRE,J_1KFTBUS,J_1KFTIND,CONFS,UPDAT,UPTIM,NODEL,QSSYSDAT,PODKZB,FISKU,STENR,CARRIER_CONF,MIN_COMP,TERM_LI,CRC_NUM,CVP_XBLCK,WEORA,RG,EXP,UF,RGDATE,RIC,RNE,RNEDATE,CNAE,LEGALNAT,CRTN,ICMSTAXPAY,INDTYP,TDT,COMSIZE,DECREGPC,ALLOWANCE_TYPE,LFA1_EEW_SUPP,J_SC_CAPITAL,J_SC_CURRENCY,ALC,PMT_OFFICE,PPA_RELEVANT,SAM_UE_ID,SAM_EFT_IND,PSOFG,PSOIS,PSON1,PSON2,PSON3,PSOVN,PSOTL,PSOHS,PSOST,BORGR_DATUN,BORGR_YEAUN,AU_CARRYING_ENT,AU_IND_UNDER_18,AU_PAYMENT_NOT_EXCEED_75,AU_WHOLLY_INP_TAXED,AU_PARTNER_WITHOUT_GAIN,AU_NOT_ENTITLED_ABN,AU_PAYMENT_EXEMPT,AU_PRIVATE_HOBBY,AU_DOMESTIC_NATURE,ADDR2_STREET,ADDR2_HOUSE_NUM,ADDR2_POST,ADDR2_CITY,ADDR2_COUNTRY,CATEG,PARTNER_NAME,PARTNER_UTR,STATUS,VFNUM,VFNID,CRN,FR_OCCUPATION,J_1IEXCD,J_1IEXRN,J_1IEXRG,J_1IEXDI,J_1IEXCO,J_1ICSTNO,J_1ILSTNO,J_1IPANNO,J_1IEXCIVE,J_1ISSIST,J_1IVTYP,J_1IVENCRE,AEDAT,USNAM,J_1ISERN,J_1IPANREF,J_1IPANVALDT,J_1I_CUSTOMS,J_1IDEDREF,VEN_CLASS,ENTPUB,ESCRIT,DVALSS,FRMCSS,CODCAE,AUSDIV,TRANSPORT_CHAIN,STAGING_TIME,SCHEDULING_TYPE,SUBMI_RELEVANT,ZZSEND_PORTAL
0,900,0000010000,IN,A BOND STRANDS PRIVATE LIMITED,NaN,NaN,NaN,CHENNAI,NaN,NaN,NaN,600096,22,MANUFACTUR,"164-C INSTRONICS CAMPUS,PHASE-II,PE",23986.0,A BOND STRANDS PRIVATE LI,NaN,CHENNAI,Company,NaN,0,0,NaN,9164,0,NaN,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAACA3038K,33250922036,NaN,NaN,NaN,4443406400,9941004252,4443406425,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33AAACA3038K1Z0,TN08B0009008,TN/6954A,NaN,NaN,0,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-15,09:01:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACA3038KXM002,PERUNGUDI,CHENNAI,CHENNAI-IV,TIN:33250922036,TIN:33250922036,AAACA3038K,1.0,NaN,M,NaN,2022-07-27,S13245,ALLPB0629G SD001,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X

In [195]:
lfad=pd.merge(lfa1, adr6, left_on='ADRNR',right_on='Addr. No.', how='left')

In [196]:
lfad[['ADRNR','Addr. No.']]

          ADRNR  Addr. No.
0       23986.0    23986.0
1       23986.0    23986.0
2       23987.0    23987.0
3       23989.0    23989.0
4       23989.0    23989.0
...         ...        ...
42463  190895.0        NaN
42464  227331.0        NaN
42465  232060.0        NaN
42466  271615.0        NaN
42467  270164.0        NaN

[42468 rows x 2 columns]

In [197]:
#lfa1_vd_j1[lfa1_vd_j1['Name'].str.contains('Empl')]

In [198]:
#0lfad[lfad['Name'].str.contains('Empl')]

In [199]:
lfad=pd.merge(lfad, Vendor_acc, left_on='KTOKK',right_on='Group', how='left')

len(lfad)

lfad=lfad[~(lfad['Name'].str.contains('Empl'))]

In [200]:
lfad['Name']

0        JSPL Vendor - Store Material
1        JSPL Vendor - Store Material
2        JSPL Vendor - Store Material
3        JSPL Vendor - Store Material
4        JSPL Vendor - Store Material
                     ...
36892                     JSPL Plants
39199                     JSPL Plants
39203                     JSPL Plants
39862                     JSPL Plants
39863                     JSPL Plants
Name: Name, Length: 27349, dtype: object

In [201]:
lfad

,MANDT,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,PSTL2,PSTLZ,REGIO,SORTL,STRAS,ADRNR,MCOD1,MCOD2,MCOD3,ANRED,BAHNS,BBBNR,BBSNR,BEGRU,BRSCH,BUBKZ,DATLT,DTAMS,DTAWS,ERDAT,ERNAM,ESRNR,KONZS,KTOKK,KUNNR,LNRZA,LOEVM,SPERR,SPERM,SPRAS,STCD1,STCD2,STKZA,STKZU,TELBX,TELF1,TELF2,TELFX,TELTX,TELX1,XCPDK,XZEMP,VBUND,FISKN,STCEG,STKZN,SPERQ,GBORT,GBDAT,SEXKZ,KRAUS,REVDB,QSSYS,KTOCK,PFORT,WERKS,LTSNA,WERKR,PLKAL,DUEFL,TXJCD,SPERZ,SCACD,SFRGR,LZONE,XLFZA,DLGRP,FITYP,STCDT,REGSS,ACTSS,STCD3,STCD4,STCD5,STCD6,IPISP,TAXBS,PROFS,STGDL,EMNFR,LFURL,J_1KFREPRE,J_1KFTBUS,J_1KFTIND,CONFS,UPDAT,UPTIM,NODEL,QSSYSDAT,PODKZB,FISKU,STENR,CARRIER_CONF,MIN_COMP,TERM_LI,CRC_NUM,CVP_XBLCK,WEORA,RG,EXP,UF,RGDATE,RIC,RNE,RNEDATE,CNAE,LEGALNAT,CRTN,ICMSTAXPAY,INDTYP,TDT,COMSIZE,DECREGPC,ALLOWANCE_TYPE,LFA1_EEW_SUPP,J_SC_CAPITAL,J_SC_CURRENCY,ALC,PMT_OFFICE,PPA_RELEVANT,SAM_UE_ID,SAM_EFT_IND,PSOFG,PSOIS,PSON1,PSON2,PSON3,PSOVN,PSOTL,PSOHS,PSOST,BORGR_DATUN,BORGR_YEAUN,AU_CARRYING_ENT,AU_IND_UNDER_18,AU_PAYMENT_NOT_EXCEED_75,AU_WHOLLY_INP_TAXED,AU_PARTNER_WITHOUT_GAIN,AU_NOT_ENTITLED_ABN,AU_PAYMENT_EXEMPT,AU_PRIVATE_HOBBY,AU_DOMESTIC_NATURE,ADDR2_STREET,ADDR2_HOUSE_NUM,ADDR2_POST,ADDR2_CITY,ADDR2_COUNTRY,CATEG,PARTNER_NAME,PARTNER_UTR,STATUS,VFNUM,VFNID,CRN,FR_OCCUPATION,J_1IEXCD,J_1IEXRN,J_1IEXRG,J_1IEXDI,J_1IEXCO,J_1ICSTNO,J_1ILSTNO,J_1IPANNO,J_1IEXCIVE,J_1ISSIST,J_1IVTYP,J_1IVENCRE,AEDAT,USNAM,J_1ISERN,J_1IPANREF,J_1IPANVALDT,J_1I_CUSTOMS,J_1IDEDREF,VEN_CLASS,ENTPUB,ESCRIT,DVALSS,FRMCSS,CODCAE,AUSDIV,TRANSPORT_CHAIN,STAGING_TIME,SCHEDULING_TYPE,SUBMI_RELEVANT,ZZSEND_PORTAL,Cl.,Addr. No.,Person,From,ID,#,Do Not Use Communication Number,Hm,E-Mail Address,E-Mail Address.1,Standard recipient,SAP,Coding,TNEF,Valid From,Valid To,Data Filter Value for Data Aging,Group,NR,OTA,Unnamed: 3,Name
0,900,0000010000,IN,A BOND STRANDS PRIVATE LIMITED,NaN,NaN,NaN,CHENNAI,NaN,NaN,NaN,600096,22,MANUFACTUR,"164-C INSTRONICS CAMPUS,PHASE-II,PE",23986.0,A BOND STRANDS PRIVATE LI,NaN,CHENNAI,Company,NaN,0,0,NaN,9164,0,NaN,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAACA3038K,33250922036,NaN,NaN,NaN,4443406400,9941004252,4443406425,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33AAACA3038K1Z0,TN08B0009008,TN/6954A,NaN,NaN,0,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-15,09:01:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACA3038KXM002,PERUNGUDI,CHENNAI,CHENNAI-IV,TIN:33250922036,TIN:33250922036,AAACA3038K,1.0,NaN,M,NaN,2022-07-27,S13245,ALLPB0629G SD001,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,900.0,23986.0,NaN,0001-01-01,1.0,NaN,NaN,NaN,absp@vsnl.com,ABSP@VSNL.COM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9001,24,NaN,NaN,JSPL Vendor - Store Material
1,900,0000010000,IN,A BOND STRANDS PRIVATE LIMITED,NaN,NaN,NaN,CHENNAI,NaN,NaN,NaN,600096,22,MANUFACTUR,"164-C INSTRONICS CAMPUS,PHASE-II,PE",23986.0,A BOND STRANDS PRIVATE LI,NaN,CHENNAI,Company,NaN,0,0,NaN,9164,0,NaN,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAACA3038K,33250922036,NaN,NaN,NaN,4443406400,9941004252,4443406425,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33AAACA3038K1Z0,TN08B0009008,TN/6954A,NaN,NaN,0,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-15,09:01:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACA3038KXM002,PERUNGUDI,CHENNAI,CHENNAI-IV,TIN:33250922036,TIN:33250922036,AAACA3038K,1.0,NaN,M,NaN,2022-07-27,S13245,ALLPB0629G SD001,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,900.0,23986.0,NaN,0001-01-01,2.0,X,NaN,X,abondstrands@gmail.com,ABONDSTRANDS@GMAIL.C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9001,24,NaN,NaN,JSPL Vendor - Store Material
2,900,0000010001,IN,AG INDUSTRIAL CORPORATION,NaN,NaN,NaN,KOLKATA,NaN,NaN,NaN,700072,25,MANUFACTUR,"ROOM NO.207,2ND FLOOR,",23987.0,AG INDUSTRIAL CORPORATION,NaN,KOLKATA,Company,NaN,0,0,NaN,9127,0,paid,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAFFA3334E,19541032278,NaN,NaN,NaN,3322120044,9831152299,3322155909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19AAFFA3334E1ZT,NaN,NaN,NaN,NaN,0,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,16:23:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DUMMY,DUMMY,-,-,-,TIN:19541032278,TIN:19541032278,AAFFA3334E,1.0,NaN,M,NaN,2017-11-13,S13245,ST/M&R/MMS/R-ST/RPR/93/2004 DT.29.11.04,AAFFA3334E,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,900.0,23987.0,NaN,0001-01-01,1.0,X,NaN,X,sales@agicsafety.com,SALES@AGICSAFETY.COM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9001,24,NaN,NaN,JSPL Vendor - Store Material
3,900,0000010003,IN,AK JAIN & BROTHERS,NaN,NaN,NaN,KOLKATA,NaN,NaN,NaN,700001,25,DEALER,"67-B NETAJI SUBHAS ROAD,ROOM NO.48",23989.0,AK JAIN & BROTHERS,NaN,KOLKATA,Company,NaN,0,0,NaN,9162,0,paid,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAIFA7903J,19280172021,NaN,NaN,NaN,3322434957,3322433394,3322432888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19AAIFA7903J1Z8,190171100984E,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-13,11:44:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DUMMY,DUMMY,DUMMY,DUMMY,DUMMY,19280172118,19280172215,AAIFA7903J,1.0,NaN,FD,X,2017-11-13,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,900.0,23989.0,NaN,0001-01-01,1.0,X,NaN,X,akjcal@gmail.com,AKJCAL@GMAIL.COM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9001,24,NaN,NaN,JSPL Vendor - Store Material
4,900,0000010003,IN,AK JAIN & BROTHERS,NaN,NaN,NaN,KOLKATA,NaN,NaN,NaN,700001,25,DEALER,"67-B NETAJI SUBHAS ROAD,ROOM NO.48",23989.0,AK JAIN & BROTHERS,NaN,KOLKATA,Company,NaN,0,0,NaN,9162,0,paid,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAIFA7903J,19280172021,NaN,NaN,NaN,3322434957,3322433394,3322432888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19AAIFA7903J1Z8,190171100984E,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-13,11:44:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DUMMY,DUMMY,DUMMY,DUMMY,DUMMY,19280172118,19280172215,AAIFA7903J,1.0,NaN,FD,X,2017-11-13,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,900.0,23989.0,NaN,0001-01-01,2.0,NaN,NaN,NaN,akjcal@vsnl.net,AKJCAL@VSNL.NET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9001,24,NaN,NaN,JSPL Vendor - Store Material
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36892,900,RPR-3102,IN,"JINDAL STEEL & POWER LIMITED,","RAIPUR FOUNDRY WORKS,",NaN,NaN,RAIPUR,NaN,NaN,NaN,492101,33,RAIPUR FOU,"13th K.M.STONE,G.E.ROAD,MANDIR HASA",54254.0,JINDAL STEEL & POWER LIMI,"RAIPUR FOUNDRY WORKS,",RAIPUR,M/s.,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2009-03-31,DATAMIGPS1,NaN,NaN,9005,RPR-3101,NaN,NaN,NaN,NaN,E,AAACJ7097D,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22AAACJ7097D1ZQ,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,-,AAACJ7097D,1.0,NaN,M,NaN,2018-05-03,S9328,-,-,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
39199,900,S101-IMP,IN,NAGPUR-IMPEREST CASH,NaN,NaN,NaN,Nagpur,NaN,NaN,NaN,441104,13,IMPEREST,"17.50 KM Bhandara Road,Kadoli",65845.0,NAGPUR-IMPEREST CASH,NaN,NAGPUR,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2009-09-18,FIRGEU14,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27AAACJ7097D1ZG,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACJ7097D,NaN,NaN,NaN,NaN,2021-07-12,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
39203,900,S106-IMP,IN,AHEMADABAD-IMPEREST CASH,NaN,NaN,NaN,AHMEDABAD,NaN,NaN,NaN,382110,06,IMPEREST,"156/157, MOUJE EYAVA,NEAR: HIPPOLIN",65866.0,AHEMADABAD-IMPEREST CASH,NaN,AHMEDABAD,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2009-09-18,FIRGEU14,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24AAACJ7097D1ZM,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACJ7097D,NaN,NaN,NaN,NaN,2021-07-12,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
39862,900,TAM-2101,IN,JINDAL STEEL & POWER LTD-COAL MINES,NaN,NaN,NaN,RAIGARH,NaN,NaN,NaN,496001,33,JINDAL,RAIGARH,40375.0,JINDAL STEEL & POWER LTD-,NaN,RAIGARH,M/s.,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2008-12-19,DATAMIGMM1,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,22484901419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22AAACJ7097D1ZQ,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACJ7097DEM017,AAACJ7097DEM017,RAIGARH,BILASPUR,RAIPUR,NaN,NaN,AAACJ7097D,1.0,NaN,M,NaN,2018-05-03,S9328,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
39863,900,TAM-2201,IN,TAMNAR COAL WASHERY-PLANT 2201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000000,33,JINDAL,JINDAL,64634.0,TAMNAR COAL WASHERY-PLANT,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2009-08-31,MM1CDM01,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22AAACJ7097D1ZQ,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,NaN,NaN,AAACJ7097D,1.0,NaN,M,NaN,2018-05-03,S9328,NaN,-,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants

In [202]:
lfad1=lfad[['ADRNR','E-Mail Address','E-Mail Address.1']]

In [203]:
lfad1

         ADRNR          E-Mail Address      E-Mail Address.1
0      23986.0           absp@vsnl.com         ABSP@VSNL.COM
1      23986.0  abondstrands@gmail.com  ABONDSTRANDS@GMAIL.C
2      23987.0    sales@agicsafety.com  SALES@AGICSAFETY.COM
3      23989.0        akjcal@gmail.com      AKJCAL@GMAIL.COM
4      23989.0         akjcal@vsnl.net       AKJCAL@VSNL.NET
...        ...                     ...                   ...
36892  54254.0                     NaN                   NaN
39199  65845.0                     NaN                   NaN
39203  65866.0                     NaN                   NaN
39862  40375.0                     NaN                   NaN
39863  64634.0                     NaN                   NaN

[27349 rows x 3 columns]

In [204]:
no_email=lfad1[lfad1['E-Mail Address'].isna()]###no email

In [205]:
no_email.to_csv("vendor_having_null_email.csv")

In [206]:
lfad1=lfad1[~(lfad1['E-Mail Address'].isna())]

In [207]:
lfad1

          ADRNR             E-Mail Address      E-Mail Address.1
0       23986.0              absp@vsnl.com         ABSP@VSNL.COM
1       23986.0     abondstrands@gmail.com  ABONDSTRANDS@GMAIL.C
2       23987.0       sales@agicsafety.com  SALES@AGICSAFETY.COM
3       23989.0           akjcal@gmail.com      AKJCAL@GMAIL.COM
4       23989.0            akjcal@vsnl.net       AKJCAL@VSNL.NET
...         ...                        ...                   ...
36880  101062.0  prashant.izardar@jspl.com  PRASHANT.IZARDAR@JSP
36881  101062.0  dipeshwari.patel@jspl.com  DIPESHWARI.PATEL@JSP
36882  101062.0    akhileshsharma@jspl.com  AKHILESHSHARMA@JSPL.
36883  230244.0     naveen.raturi@jspl.com  NAVEEN.RATURI@JSPL.C
36884   46166.0        store4x135@jspl.com   STORE4X135@JSPL.COM

[21630 rows x 3 columns]

In [208]:
lfad1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21630 entries, 0 to 36884
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADRNR             21630 non-null  float32
 1   E-Mail Address    21630 non-null  object
 2   E-Mail Address.1  21630 non-null  object
dtypes: float32(1), object(2)
memory usage: 591.4+ KB

In [209]:
#lfa1[lfa1['NAME1'].str.contains('*', regex=False)]

In [210]:
lfad1=lfad1[['ADRNR','E-Mail Address']]#.info()

In [211]:
lfad1

          ADRNR             E-Mail Address
0       23986.0              absp@vsnl.com
1       23986.0     abondstrands@gmail.com
2       23987.0       sales@agicsafety.com
3       23989.0           akjcal@gmail.com
4       23989.0            akjcal@vsnl.net
...         ...                        ...
36880  101062.0  prashant.izardar@jspl.com
36881  101062.0  dipeshwari.patel@jspl.com
36882  101062.0    akhileshsharma@jspl.com
36883  230244.0     naveen.raturi@jspl.com
36884   46166.0        store4x135@jspl.com

[21630 rows x 2 columns]

In [212]:
lfad1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21630 entries, 0 to 36884
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ADRNR           21630 non-null  float32
 1   E-Mail Address  21630 non-null  object
dtypes: float32(1), object(1)
memory usage: 422.5+ KB

In [213]:
official_domains = ['gmail.com', 'yahoomail.com', 'Hotmail.com', 'rediffmail.com']

In [214]:
official_domains

['gmail.com', 'yahoomail.com', 'Hotmail.com', 'rediffmail.com']

In [215]:
official_domains = ['gmail.com', 'yahoomail.com', 'hotmail.com', 'rediffmail.com']

filtered_df = lfad1[lfad1['E-Mail Address'].str.contains('|'.join(official_domains), case=False)]

In [216]:
filtered_df.to_csv("vendor_unofficial_email.csv")

In [217]:
lfad1['E-Mail Address'].nunique()

19346

In [218]:
filtered_df['E-Mail Address'].nunique()

8401

### Vendor is not private limited or public limited or LLP

In [219]:
lfa1['NAME1']

0           A BOND STRANDS PRIVATE LIMITED
1                AG INDUSTRIAL CORPORATION
3                       AK JAIN & BROTHERS
7                       ADITYA ELECTRONICS
8        ADVANCE REFRIGERATION CORPORATION
                       ...
68643                        ZORAWAR SINGH
68644                          Zahid Anwar
68646                       Zahir Siddiqui
68647                  MD Zafar Iqbal Khan
68648                         Zeeshan Alvi
Name: NAME1, Length: 38083, dtype: object

In [220]:
lfa1

,MANDT,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,PSTL2,PSTLZ,REGIO,SORTL,STRAS,ADRNR,MCOD1,MCOD2,MCOD3,ANRED,BAHNS,BBBNR,BBSNR,BEGRU,BRSCH,BUBKZ,DATLT,DTAMS,DTAWS,ERDAT,ERNAM,ESRNR,KONZS,KTOKK,KUNNR,LNRZA,LOEVM,SPERR,SPERM,SPRAS,STCD1,STCD2,STKZA,STKZU,TELBX,TELF1,TELF2,TELFX,TELTX,TELX1,XCPDK,XZEMP,VBUND,FISKN,STCEG,STKZN,SPERQ,GBORT,GBDAT,SEXKZ,KRAUS,REVDB,QSSYS,KTOCK,PFORT,WERKS,LTSNA,WERKR,PLKAL,DUEFL,TXJCD,SPERZ,SCACD,SFRGR,LZONE,XLFZA,DLGRP,FITYP,STCDT,REGSS,ACTSS,STCD3,STCD4,STCD5,STCD6,IPISP,TAXBS,PROFS,STGDL,EMNFR,LFURL,J_1KFREPRE,J_1KFTBUS,J_1KFTIND,CONFS,UPDAT,UPTIM,NODEL,QSSYSDAT,PODKZB,FISKU,STENR,CARRIER_CONF,MIN_COMP,TERM_LI,CRC_NUM,CVP_XBLCK,WEORA,RG,EXP,UF,RGDATE,RIC,RNE,RNEDATE,CNAE,LEGALNAT,CRTN,ICMSTAXPAY,INDTYP,TDT,COMSIZE,DECREGPC,ALLOWANCE_TYPE,LFA1_EEW_SUPP,J_SC_CAPITAL,J_SC_CURRENCY,ALC,PMT_OFFICE,PPA_RELEVANT,SAM_UE_ID,SAM_EFT_IND,PSOFG,PSOIS,PSON1,PSON2,PSON3,PSOVN,PSOTL,PSOHS,PSOST,BORGR_DATUN,BORGR_YEAUN,AU_CARRYING_ENT,AU_IND_UNDER_18,AU_PAYMENT_NOT_EXCEED_75,AU_WHOLLY_INP_TAXED,AU_PARTNER_WITHOUT_GAIN,AU_NOT_ENTITLED_ABN,AU_PAYMENT_EXEMPT,AU_PRIVATE_HOBBY,AU_DOMESTIC_NATURE,ADDR2_STREET,ADDR2_HOUSE_NUM,ADDR2_POST,ADDR2_CITY,ADDR2_COUNTRY,CATEG,PARTNER_NAME,PARTNER_UTR,STATUS,VFNUM,VFNID,CRN,FR_OCCUPATION,J_1IEXCD,J_1IEXRN,J_1IEXRG,J_1IEXDI,J_1IEXCO,J_1ICSTNO,J_1ILSTNO,J_1IPANNO,J_1IEXCIVE,J_1ISSIST,J_1IVTYP,J_1IVENCRE,AEDAT,USNAM,J_1ISERN,J_1IPANREF,J_1IPANVALDT,J_1I_CUSTOMS,J_1IDEDREF,VEN_CLASS,ENTPUB,ESCRIT,DVALSS,FRMCSS,CODCAE,AUSDIV,TRANSPORT_CHAIN,STAGING_TIME,SCHEDULING_TYPE,SUBMI_RELEVANT,ZZSEND_PORTAL
0,900,0000010000,IN,A BOND STRANDS PRIVATE LIMITED,NaN,NaN,NaN,CHENNAI,NaN,NaN,NaN,600096,22,MANUFACTUR,"164-C INSTRONICS CAMPUS,PHASE-II,PE",23986.0,A BOND STRANDS PRIVATE LI,NaN,CHENNAI,Company,NaN,0,0,NaN,9164,0,NaN,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAACA3038K,33250922036,NaN,NaN,NaN,4443406400,9941004252,4443406425,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33AAACA3038K1Z0,TN08B0009008,TN/6954A,NaN,NaN,0,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-15,09:01:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACA3038KXM002,PERUNGUDI,CHENNAI,CHENNAI-IV,TIN:33250922036,TIN:33250922036,AAACA3038K,1.0,NaN,M,NaN,2022-07-27,S13245,ALLPB0629G SD001,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X
1,900,0000010001,IN,AG INDUSTRIAL CORPORATION,NaN,NaN,NaN,KOLKATA,NaN,NaN,NaN,700072,25,MANUFACTUR,"ROOM NO.207,2ND FLOOR,",23987.0,AG INDUSTRIAL CORPORATION,NaN,KOLKATA,Company,NaN,0,0,NaN,9127,0,paid,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAFFA3334E,19541032278,NaN,NaN,NaN,3322120044,9831152299,3322155909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19AAFFA3334E1ZT,NaN,NaN,NaN,NaN,0,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,16:23:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DUMMY,DUMMY,-,-,-,TIN:19541032278,TIN:19541032278,AAFFA3334E,1.0,NaN,M,NaN,2017-11-13,S13245,ST/M&R/MMS/R-ST/RPR/93/2004 DT.29.11.04,AAFFA3334E,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X
3,900,0000010003,IN,AK JAIN & BROTHERS,NaN,NaN,NaN,KOLKATA,NaN,NaN,NaN,700001,25,DEALER,"67-B NETAJI SUBHAS ROAD,ROOM NO.48",23989.0,AK JAIN & BROTHERS,NaN,KOLKATA,Company,NaN,0,0,NaN,9162,0,paid,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAIFA7903J,19280172021,NaN,NaN,NaN,3322434957,3322433394,3322432888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19AAIFA7903J1Z8,190171100984E,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-13,11:44:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DUMMY,DUMMY,DUMMY,DUMMY,DUMMY,19280172118,19280172215,AAIFA7903J,1.0,NaN,FD,X,2017-11-13,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X
7,900,0000010007,IN,ADITYA ELECTRONICS,NaN,NaN,NaN,DURG,NaN,NaN,NaN,491001,33,DEALER,"MIG-604 LIG GROUND,PADMANABHPUR",23993.0,ADITYA ELECTRONICS,NaN,DURG,Company,NaN,0,0,NaN,9162,0,NaN,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,0000029792,NaN,NaN,NaN,NaN,E,ACCPC0164F,22673103565,NaN,NaN,NaN,7882211212,7882211788,7882211212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22ACCPC0164F1ZI,CG05A0000142,NaN,NaN,NaN,0,181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,16:23:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DUMMY,-,-,-,-,DRG/I/XXIII/1845,TIN-22673103565,ACCPC0164F,1.0,NaN,FD,NaN,2017-11-13,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X
8,900,0000010008,IN,ADVANCE REFRIGERATION CORPORATION,NaN,NaN,NaN,KOLKATA,NaN,NaN,NaN,700001,25,TRADER,"40 STRAND ROAD, SUITE NO : 78-81,",23994.0,ADVANCE REFRIGERATION COR,NaN,KOLKATA,Company,NaN,0,0,NaN,9127,0,paid,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,ALAPS8403N,19450371034,NaN,NaN,NaN,8420526050,+91-33-31015272,3340681066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19ALAPS8403N1ZL,NaN,NaN,NaN,NaN,0,400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,16:23:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DUMMY,NaN,NaN,NaN,NaN,19450371228,19450371131,ALAPS8403N,1.0,NaN,FD,NaN,2017-11-13,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68643,900,Z10000074,IN,ZORAWAR SINGH,NaN,NaN,NaN,GURGAON,NaN,NaN,NaN,122001,07,ZS,JINDAL CENTRE,190895.0,ZORAWAR SINGH,NaN,GURGAON,Mr.,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2013-08-16,FIDLEU01,NaN,NaN,9013,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-14,7361,NaN,NaN,NaT,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
68644,900,Z10000206,IN,Zahid Anwar,NaN,NaN,NaN,PATRATU,NaN,NaN,NaN,829143,NaN,ANWAR,PATRATU JSPL,227331.0,ZAHID ANWAR,NaN,PATRATU,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2014-08-11,FIPTMU03,NaN,NaN,9013,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-14,7361,NaN,NaN,NaT,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
68646,900,Z10001002,IN,Zahir Siddiqui,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S10001002,CHHATTISGARH,232060.0,ZAHIR SIDDIQUI,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2014-10-31,HRRG07,NaN,NaN,9013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-15,16:50:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-14,7361,NaN,NaN,NaT,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
68647,900,Z10001276,IN,MD Zafar Iqbal Khan,NaN,NaN,NaN,PATRATU,NaN,NaN,NaN,829143,NaN,ZAFAR,PATRATU JSPL,271615.0,MD ZAFAR IQBAL KHAN,NaN,PATRATU,Mr.,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2015-10-13,9636,NaN,NaN,9013,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-14,7361,NaN,NaN,NaT,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN
68648,900,Z10001291,IN,Zeeshan Alvi,NaN,NaN,NaN,Angul,NaN,NaN,NaN,759111,18,10001291,"Jindal Steel & Power Ltd., Nisha",270164.0,ZEESHAN ALVI,NaN,ANGUL,Mr.,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2015-09-23,GP46093,NaN,NaN,9013,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-03-18,12:43:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-14,7361,NaN,NaN,NaT,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN

In [221]:
lfa1=pd.merge(lfa1, Vendor_acc, left_on='KTOKK',right_on='Group', how='left')

lfa1=lfa1[~(lfa1['Name'].str.contains('Empl'))]

In [222]:
lfa1

,MANDT,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,PSTL2,PSTLZ,REGIO,SORTL,STRAS,ADRNR,MCOD1,MCOD2,MCOD3,ANRED,BAHNS,BBBNR,BBSNR,BEGRU,BRSCH,BUBKZ,DATLT,DTAMS,DTAWS,ERDAT,ERNAM,ESRNR,KONZS,KTOKK,KUNNR,LNRZA,LOEVM,SPERR,SPERM,SPRAS,STCD1,STCD2,STKZA,STKZU,TELBX,TELF1,TELF2,TELFX,TELTX,TELX1,XCPDK,XZEMP,VBUND,FISKN,STCEG,STKZN,SPERQ,GBORT,GBDAT,SEXKZ,KRAUS,REVDB,QSSYS,KTOCK,PFORT,WERKS,LTSNA,WERKR,PLKAL,DUEFL,TXJCD,SPERZ,SCACD,SFRGR,LZONE,XLFZA,DLGRP,FITYP,STCDT,REGSS,ACTSS,STCD3,STCD4,STCD5,STCD6,IPISP,TAXBS,PROFS,STGDL,EMNFR,LFURL,J_1KFREPRE,J_1KFTBUS,J_1KFTIND,CONFS,UPDAT,UPTIM,NODEL,QSSYSDAT,PODKZB,FISKU,STENR,CARRIER_CONF,MIN_COMP,TERM_LI,CRC_NUM,CVP_XBLCK,WEORA,RG,EXP,UF,RGDATE,RIC,RNE,RNEDATE,CNAE,LEGALNAT,CRTN,ICMSTAXPAY,INDTYP,TDT,COMSIZE,DECREGPC,ALLOWANCE_TYPE,LFA1_EEW_SUPP,J_SC_CAPITAL,J_SC_CURRENCY,ALC,PMT_OFFICE,PPA_RELEVANT,SAM_UE_ID,SAM_EFT_IND,PSOFG,PSOIS,PSON1,PSON2,PSON3,PSOVN,PSOTL,PSOHS,PSOST,BORGR_DATUN,BORGR_YEAUN,AU_CARRYING_ENT,AU_IND_UNDER_18,AU_PAYMENT_NOT_EXCEED_75,AU_WHOLLY_INP_TAXED,AU_PARTNER_WITHOUT_GAIN,AU_NOT_ENTITLED_ABN,AU_PAYMENT_EXEMPT,AU_PRIVATE_HOBBY,AU_DOMESTIC_NATURE,ADDR2_STREET,ADDR2_HOUSE_NUM,ADDR2_POST,ADDR2_CITY,ADDR2_COUNTRY,CATEG,PARTNER_NAME,PARTNER_UTR,STATUS,VFNUM,VFNID,CRN,FR_OCCUPATION,J_1IEXCD,J_1IEXRN,J_1IEXRG,J_1IEXDI,J_1IEXCO,J_1ICSTNO,J_1ILSTNO,J_1IPANNO,J_1IEXCIVE,J_1ISSIST,J_1IVTYP,J_1IVENCRE,AEDAT,USNAM,J_1ISERN,J_1IPANREF,J_1IPANVALDT,J_1I_CUSTOMS,J_1IDEDREF,VEN_CLASS,ENTPUB,ESCRIT,DVALSS,FRMCSS,CODCAE,AUSDIV,TRANSPORT_CHAIN,STAGING_TIME,SCHEDULING_TYPE,SUBMI_RELEVANT,ZZSEND_PORTAL,Group,NR,OTA,Unnamed: 3,Name
0,900,0000010000,IN,A BOND STRANDS PRIVATE LIMITED,NaN,NaN,NaN,CHENNAI,NaN,NaN,NaN,600096,22,MANUFACTUR,"164-C INSTRONICS CAMPUS,PHASE-II,PE",23986.0,A BOND STRANDS PRIVATE LI,NaN,CHENNAI,Company,NaN,0,0,NaN,9164,0,NaN,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAACA3038K,33250922036,NaN,NaN,NaN,4443406400,9941004252,4443406425,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33AAACA3038K1Z0,TN08B0009008,TN/6954A,NaN,NaN,0,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-15,09:01:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACA3038KXM002,PERUNGUDI,CHENNAI,CHENNAI-IV,TIN:33250922036,TIN:33250922036,AAACA3038K,1.0,NaN,M,NaN,2022-07-27,S13245,ALLPB0629G SD001,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
1,900,0000010001,IN,AG INDUSTRIAL CORPORATION,NaN,NaN,NaN,KOLKATA,NaN,NaN,NaN,700072,25,MANUFACTUR,"ROOM NO.207,2ND FLOOR,",23987.0,AG INDUSTRIAL CORPORATION,NaN,KOLKATA,Company,NaN,0,0,NaN,9127,0,paid,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAFFA3334E,19541032278,NaN,NaN,NaN,3322120044,9831152299,3322155909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19AAFFA3334E1ZT,NaN,NaN,NaN,NaN,0,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,16:23:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DUMMY,DUMMY,-,-,-,TIN:19541032278,TIN:19541032278,AAFFA3334E,1.0,NaN,M,NaN,2017-11-13,S13245,ST/M&R/MMS/R-ST/RPR/93/2004 DT.29.11.04,AAFFA3334E,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
2,900,0000010003,IN,AK JAIN & BROTHERS,NaN,NaN,NaN,KOLKATA,NaN,NaN,NaN,700001,25,DEALER,"67-B NETAJI SUBHAS ROAD,ROOM NO.48",23989.0,AK JAIN & BROTHERS,NaN,KOLKATA,Company,NaN,0,0,NaN,9162,0,paid,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAIFA7903J,19280172021,NaN,NaN,NaN,3322434957,3322433394,3322432888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19AAIFA7903J1Z8,190171100984E,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-13,11:44:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DUMMY,DUMMY,DUMMY,DUMMY,DUMMY,19280172118,19280172215,AAIFA7903J,1.0,NaN,FD,X,2017-11-13,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
3,900,0000010007,IN,ADITYA ELECTRONICS,NaN,NaN,NaN,DURG,NaN,NaN,NaN,491001,33,DEALER,"MIG-604 LIG GROUND,PADMANABHPUR",23993.0,ADITYA ELECTRONICS,NaN,DURG,Company,NaN,0,0,NaN,9162,0,NaN,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,0000029792,NaN,NaN,NaN,NaN,E,ACCPC0164F,22673103565,NaN,NaN,NaN,7882211212,7882211788,7882211212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22ACCPC0164F1ZI,CG05A0000142,NaN,NaN,NaN,0,181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,16:23:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DUMMY,-,-,-,-,DRG/I/XXIII/1845,TIN-22673103565,ACCPC0164F,1.0,NaN,FD,NaN,2017-11-13,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
4,900,0000010008,IN,ADVANCE REFRIGERATION CORPORATION,NaN,NaN,NaN,KOLKATA,NaN,NaN,NaN,700001,25,TRADER,"40 STRAND ROAD, SUITE NO : 78-81,",23994.0,ADVANCE REFRIGERATION COR,NaN,KOLKATA,Company,NaN,0,0,NaN,9127,0,paid,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,ALAPS8403N,19450371034,NaN,NaN,NaN,8420526050,+91-33-31015272,3340681066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19ALAPS8403N1ZL,NaN,NaN,NaN,NaN,0,400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,16:23:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DUMMY,NaN,NaN,NaN,NaN,19450371228,19450371131,ALAPS8403N,1.0,NaN,FD,NaN,2017-11-13,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32507,900,RPR-3102,IN,"JINDAL STEEL & POWER LIMITED,","RAIPUR FOUNDRY WORKS,",NaN,NaN,RAIPUR,NaN,NaN,NaN,492101,33,RAIPUR FOU,"13th K.M.STONE,G.E.ROAD,MANDIR HASA",54254.0,JINDAL STEEL & POWER LIMI,"RAIPUR FOUNDRY WORKS,",RAIPUR,M/s.,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2009-03-31,DATAMIGPS1,NaN,NaN,9005,RPR-3101,NaN,NaN,NaN,NaN,E,AAACJ7097D,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22AAACJ7097D1ZQ,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,-,AAACJ7097D,1.0,NaN,M,NaN,2018-05-03,S9328,-,-,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
34814,900,S101-IMP,IN,NAGPUR-IMPEREST CASH,NaN,NaN,NaN,Nagpur,NaN,NaN,NaN,441104,13,IMPEREST,"17.50 KM Bhandara Road,Kadoli",65845.0,NAGPUR-IMPEREST CASH,NaN,NAGPUR,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2009-09-18,FIRGEU14,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27AAACJ7097D1ZG,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACJ7097D,NaN,NaN,NaN,NaN,2021-07-12,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
34818,900,S106-IMP,IN,AHEMADABAD-IMPEREST CASH,NaN,NaN,NaN,AHMEDABAD,NaN,NaN,NaN,382110,06,IMPEREST,"156/157, MOUJE EYAVA,NEAR: HIPPOLIN",65866.0,AHEMADABAD-IMPEREST CASH,NaN,AHMEDABAD,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2009-09-18,FIRGEU14,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24AAACJ7097D1ZM,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACJ7097D,NaN,NaN,NaN,NaN,2021-07-12,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
35477,900,TAM-2101,IN,JINDAL STEEL & POWER LTD-COAL MINES,NaN,NaN,NaN,RAIGARH,NaN,NaN,NaN,496001,33,JINDAL,RAIGARH,40375.0,JINDAL STEEL & POWER LTD-,NaN,RAIGARH,M/s.,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2008-12-19,DATAMIGMM1,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,22484901419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22AAACJ7097D1ZQ,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACJ7097DEM017,AAACJ7097DEM017,RAIGARH,BILASPUR,RAIPUR,NaN,NaN,AAACJ7097D,1.0,NaN,M,NaN,2018-05-03,S9328,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
35478,900,TAM-2201,IN,TAMNAR COAL WASHERY-PLANT 2201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000000,33,JINDAL,JINDAL,64634.0,TAMNAR COAL WASHERY-PLANT,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2009-08-31,MM1CDM01,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22AAACJ7097D1ZQ,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,NaN,NaN,AAACJ7097D,1.0,NaN,M,NaN,2018-05-03,S9328,NaN,-,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants

In [223]:
private_limited_keywords = ['PRIVATE LIMITED', 'PVT LTD', 'PVT. LTD','PVT. LTD.']
public_limited_keywords = ['PUBLIC LIMITED', 'LTD', 'LIMITED']
llp_keywords = ['LLP']

def is_vendor_not_private_public_llp(name):
    name_upper = name.upper()
    for keyword in private_limited_keywords:
        if keyword in name_upper:
            return False
    for keyword in public_limited_keywords:
        if keyword in name_upper:
            return False
    for keyword in llp_keywords:
        if keyword in name_upper:
            return False
    return True

In [224]:
len(lfa1)

22964

In [225]:
with_ltd=lfa1[~(lfa1['NAME1'].apply(is_vendor_not_private_public_llp))]

In [227]:
with_ltd#.to_csv("not private limited or public limited or LLP.csv")

,MANDT,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,PSTL2,PSTLZ,REGIO,SORTL,STRAS,ADRNR,MCOD1,MCOD2,MCOD3,ANRED,BAHNS,BBBNR,BBSNR,BEGRU,BRSCH,BUBKZ,DATLT,DTAMS,DTAWS,ERDAT,ERNAM,ESRNR,KONZS,KTOKK,KUNNR,LNRZA,LOEVM,SPERR,SPERM,SPRAS,STCD1,STCD2,STKZA,STKZU,TELBX,TELF1,TELF2,TELFX,TELTX,TELX1,XCPDK,XZEMP,VBUND,FISKN,STCEG,STKZN,SPERQ,GBORT,GBDAT,SEXKZ,KRAUS,REVDB,QSSYS,KTOCK,PFORT,WERKS,LTSNA,WERKR,PLKAL,DUEFL,TXJCD,SPERZ,SCACD,SFRGR,LZONE,XLFZA,DLGRP,FITYP,STCDT,REGSS,ACTSS,STCD3,STCD4,STCD5,STCD6,IPISP,TAXBS,PROFS,STGDL,EMNFR,LFURL,J_1KFREPRE,J_1KFTBUS,J_1KFTIND,CONFS,UPDAT,UPTIM,NODEL,QSSYSDAT,PODKZB,FISKU,STENR,CARRIER_CONF,MIN_COMP,TERM_LI,CRC_NUM,CVP_XBLCK,WEORA,RG,EXP,UF,RGDATE,RIC,RNE,RNEDATE,CNAE,LEGALNAT,CRTN,ICMSTAXPAY,INDTYP,TDT,COMSIZE,DECREGPC,ALLOWANCE_TYPE,LFA1_EEW_SUPP,J_SC_CAPITAL,J_SC_CURRENCY,ALC,PMT_OFFICE,PPA_RELEVANT,SAM_UE_ID,SAM_EFT_IND,PSOFG,PSOIS,PSON1,PSON2,PSON3,PSOVN,PSOTL,PSOHS,PSOST,BORGR_DATUN,BORGR_YEAUN,AU_CARRYING_ENT,AU_IND_UNDER_18,AU_PAYMENT_NOT_EXCEED_75,AU_WHOLLY_INP_TAXED,AU_PARTNER_WITHOUT_GAIN,AU_NOT_ENTITLED_ABN,AU_PAYMENT_EXEMPT,AU_PRIVATE_HOBBY,AU_DOMESTIC_NATURE,ADDR2_STREET,ADDR2_HOUSE_NUM,ADDR2_POST,ADDR2_CITY,ADDR2_COUNTRY,CATEG,PARTNER_NAME,PARTNER_UTR,STATUS,VFNUM,VFNID,CRN,FR_OCCUPATION,J_1IEXCD,J_1IEXRN,J_1IEXRG,J_1IEXDI,J_1IEXCO,J_1ICSTNO,J_1ILSTNO,J_1IPANNO,J_1IEXCIVE,J_1ISSIST,J_1IVTYP,J_1IVENCRE,AEDAT,USNAM,J_1ISERN,J_1IPANREF,J_1IPANVALDT,J_1I_CUSTOMS,J_1IDEDREF,VEN_CLASS,ENTPUB,ESCRIT,DVALSS,FRMCSS,CODCAE,AUSDIV,TRANSPORT_CHAIN,STAGING_TIME,SCHEDULING_TYPE,SUBMI_RELEVANT,ZZSEND_PORTAL,Group,NR,OTA,Unnamed: 3,Name
0,900,0000010000,IN,A BOND STRANDS PRIVATE LIMITED,NaN,NaN,NaN,CHENNAI,NaN,NaN,NaN,600096,22,MANUFACTUR,"164-C INSTRONICS CAMPUS,PHASE-II,PE",23986.0,A BOND STRANDS PRIVATE LI,NaN,CHENNAI,Company,NaN,0,0,NaN,9164,0,NaN,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAACA3038K,33250922036,NaN,NaN,NaN,4443406400,9941004252,4443406425,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33AAACA3038K1Z0,TN08B0009008,TN/6954A,NaN,NaN,0,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-15,09:01:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACA3038KXM002,PERUNGUDI,CHENNAI,CHENNAI-IV,TIN:33250922036,TIN:33250922036,AAACA3038K,1.0,NaN,M,NaN,2022-07-27,S13245,ALLPB0629G SD001,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
6,900,0000010010,IN,AFMC LUBRICATION PRIVATE LIMITED,NaN,NaN,NaN,KOLKATA,NaN,NaN,NaN,700014,25,MANUFACTUR,8 CANNAL STREET,23996.0,AFMC LUBRICATION PRIVATE,NaN,KOLKATA,Company,NaN,0,0,NaN,9164,0,paid,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AADCA3544M,19400312244,NaN,NaN,NaN,033 2284 8802,033 2284 9464,033 2284 0579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19AADCA3544M1ZG,190171204097,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,16:23:22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AADCA3544MXM001,AADCA3544MXM001,"R/3,KOLKATA","IV,KOLKATA",DUMMY,TIN:19400312244,TIN:19400312244,AADCA3544M,1.0,NaN,M,X,2017-11-13,S13245,IIII/CAI/MRS/SB-01/KOL/2005-06,AADCA3544M,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
7,900,0000010017,IN,AIMIL LIMITED,NaN,NaN,NaN,NEW DELHI,NaN,NaN,NaN,110044,30,MANUFACTUR,"NAIMEX HOUSE,A-8,MOHAN COOPERATIVE",24003.0,AIMIL LIMITED,NaN,NEW DELHI,Company,NaN,0,0,NaN,9127,0,NaN,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,0000035116,NaN,NaN,NaN,NaN,E,AACCA7217J,07730019228,NaN,NaN,NaN,1126950001,+91-11-26950002,1126950011,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07AACCA7217J1ZQ,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-11,10:27:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AACCA7217JXM001,AACCA7217JXM001,MOR-29,MOD-VI-DELHI,NaN,LC/94/019228/1057,NaN,AACCA7217J,1.0,NaN,M,NaN,2022-11-12,S13245,DL/461/AL/98,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
11,900,0000010024,IN,ALLIED PUBLISHERS PVT LTD,NaN,NaN,NaN,CHENNAI,NaN,NaN,NaN,600008,22,AD,25/10 COMMANDAR-IN-CHIEF ROAD,24010.0,ALLIED PUBLISHERS PVT LTD,NaN,CHENNAI,Company,NaN,0,0,NaN,9127,0,NaN,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAACA5630M,NaN,NaN,NaN,NaN,04428223470,+91-44-28513984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33AAACA5630M1ZU,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-16,15:00:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACA5630M,1.0,NaN,M,NaN,2022-03-15,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9001,24,NaN,NaN,JSPL Vendor - Store Material
12,900,0000010028,IN,ALTOP INDUSTRIES LIMITED,NaN,NaN,NaN,VADODARA,NaN,NaN,NaN,390010,06,ACTIVE,"GIDC,MAKARPURA ,392",24014.0,ALTOP INDUSTRIES LIMITED,NaN,VADODARA,Company,NaN,0,0,NaN,9164,0,NaN,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AABCA9387N,24191601583,NaN,NaN,NaN,0265 2643550,0265 2339021,0265 2641054,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,2020-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24AABCA9387N1Z4,UDYAM-GJ24-000509,NaN,NaN,NaN,0,21,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2021-07-23,17:24:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AABCA9387NXM001,AABCA9387NXM001,III-BARODA,II-BARODA,NaN,NaN,TIN:24191601583,AABCA9387N,1.0,NaN,M,NaN,2017-11-13,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9001,24,NaN,NaN,JSPL Vendor - Store Material
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32503,900,RGH-S034,IN,JINDAL STEEL & POWER LIMITED,(STOCK YARD KOLKATA),NaN,NaN,KOLKATA,NaN,NaN,NaN,700088,25,JINDAL,KOLKATA,273168.0,JINDAL STEEL & POWER LIMI,(STOCK YARD KOLKATA),KOLKATA,Company,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2015-11-01,A2402,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,19443060047,NaN,NaN,NaN,NaN,NaN,919007148468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19AAACJ7097D1ZD,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACJ7097DEM045,AAACJ7097DEM045,KOLKATA,KOLKATA,KOLKATA,NaN,NaN,AAACJ7097D,1.0,NaN,MD,NaN,2018-05-03,S9328,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
32504,900,RGH-S038,IN,JINDAL STEEL & POWER LIMITED,(CHENNAI STOCKYARD),NaN,NaN,CHENNAI,NaN,NaN,NaN,600103,22,RGH-S038,Survey No 265 & 266 Anna Salai Road,284488.0,JINDAL STEEL & POWER LIMI,(CHENNAI STOCKYARD),CHENNAI,Company,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2016-03-29,S13245,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,33441562277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33AAACJ7097D1ZN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACJ7097DEM050,AAACJ7097DEM050,D-1,MUGAPPAIR,CHENNAI,NaN,NaN,AAACJ7097D,1.0,NaN,MD,NaN,2018-05-03,S9328,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
32505,900,RGH-S045,IN,JINDAL STEEL & POWER LIMITED,(STOCK YARD LUDHIANA),NaN,NaN,LUDHIANA,NaN,NaN,NaN,141112,19,RGH-S045,Village BHAGPUR KOHARA-MACHIWARA RO,284318.0,JINDAL STEEL & POWER LIMI,(STOCK YARD LUDHIANA),LUDHIANA,Company,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2016-03-26,S13245,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,03882014938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03AAACJ7097D1ZQ,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACJ7097DEM062,AAACJ7097DEM062,LUDHIANA,LUDHIANA,LUDHIANA,NaN,NaN,AAACJ7097D,1.0,NaN,MD,NaN,2018-05-03,S9328,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
32507,900,RPR-3102,IN,"JINDAL STEEL & POWER LIMITED,","RAIPUR FOUNDRY WORKS,",NaN,NaN,RAIPUR,NaN,NaN,NaN,492101,33,RAIPUR FOU,"13th K.M.STONE,G.E.ROAD,MANDIR HASA",54254.0,JINDAL STEEL & POWER LIMI,"RAIPUR FOUNDRY WORKS,",RAIPUR,M/s.,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2009-03-31,DATAMIGPS1,NaN,NaN,9005,RPR-3101,NaN,NaN,NaN,NaN,E,AAACJ7097D,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22AAACJ7097D1ZQ,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,-,AAACJ7097D,1.0,NaN,M,NaN,2018-05-03,S9328,-,-,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
35477,900,TAM-2101,IN,JINDAL STEEL & POWER LTD-COAL MINES,NaN,NaN,NaN,RAIGARH,NaN,NaN,NaN,496001,33,JINDAL,RAIGARH,40375.0,JINDAL STEEL & POWER LTD-,NaN,RAIGARH,M/s.,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2008-12-19,DATAMIGMM1,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,22484901419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22AAACJ7097D1ZQ,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACJ7097DEM017,AAACJ7097DEM017,RAIGARH,BILASPUR,RAIPUR,NaN,NaN,AAACJ7097D,1.0,NaN,M,NaN,2018-05-03,S9328,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants

In [228]:
without_ltd=lfa1[(lfa1['NAME1'].apply(is_vendor_not_private_public_llp))]

In [229]:
14790 +53852

68642

In [230]:
without_ltd['NAME1'].nunique()

13715

In [231]:
without_ltd['NAME1'].value_counts()

ONE TIME VENDOR                        11
SANJAY KUMAR                            7
CONFEDERATION OF INDIAN INDUSTRY        6
ONE TIME VENDOR IMPORT(USD)             6
LAKSHMI KUMARAN & SRIDHARAN             6
                                       ..
INSTITUTE FOR ENVIRONMENTAL MANAGEM     1
FLUX SOLUTIONS                          1
Institute of Minerals and Material      1
National Productivity Council           1
TAMNAR COAL WASHERY-PLANT 2201          1
Name: NAME1, Length: 13715, dtype: int64

In [232]:
without_ltd.to_csv("not private limited or public limited or LLP.csv")

In [ ]:
lfb1

# #Duplicates

In [291]:
lfa1

,MANDT,LIFNR,LAND1,NAME1,NAME2,NAME3,NAME4,ORT01,ORT02,PFACH,PSTL2,PSTLZ,REGIO,SORTL,STRAS,ADRNR,MCOD1,MCOD2,MCOD3,ANRED,BAHNS,BBBNR,BBSNR,BEGRU,BRSCH,BUBKZ,DATLT,DTAMS,DTAWS,ERDAT,ERNAM,ESRNR,KONZS,KTOKK,KUNNR,LNRZA,LOEVM,SPERR,SPERM,SPRAS,STCD1,STCD2,STKZA,STKZU,TELBX,TELF1,TELF2,TELFX,TELTX,TELX1,XCPDK,XZEMP,VBUND,FISKN,STCEG,STKZN,SPERQ,GBORT,GBDAT,SEXKZ,KRAUS,REVDB,QSSYS,KTOCK,PFORT,WERKS,LTSNA,WERKR,PLKAL,DUEFL,TXJCD,SPERZ,SCACD,SFRGR,LZONE,XLFZA,DLGRP,FITYP,STCDT,REGSS,ACTSS,STCD3,STCD4,STCD5,STCD6,IPISP,TAXBS,PROFS,STGDL,EMNFR,LFURL,J_1KFREPRE,J_1KFTBUS,J_1KFTIND,CONFS,UPDAT,UPTIM,NODEL,QSSYSDAT,PODKZB,FISKU,STENR,CARRIER_CONF,MIN_COMP,TERM_LI,CRC_NUM,CVP_XBLCK,WEORA,RG,EXP,UF,RGDATE,RIC,RNE,RNEDATE,CNAE,LEGALNAT,CRTN,ICMSTAXPAY,INDTYP,TDT,COMSIZE,DECREGPC,ALLOWANCE_TYPE,LFA1_EEW_SUPP,J_SC_CAPITAL,J_SC_CURRENCY,ALC,PMT_OFFICE,PPA_RELEVANT,SAM_UE_ID,SAM_EFT_IND,PSOFG,PSOIS,PSON1,PSON2,PSON3,PSOVN,PSOTL,PSOHS,PSOST,BORGR_DATUN,BORGR_YEAUN,AU_CARRYING_ENT,AU_IND_UNDER_18,AU_PAYMENT_NOT_EXCEED_75,AU_WHOLLY_INP_TAXED,AU_PARTNER_WITHOUT_GAIN,AU_NOT_ENTITLED_ABN,AU_PAYMENT_EXEMPT,AU_PRIVATE_HOBBY,AU_DOMESTIC_NATURE,ADDR2_STREET,ADDR2_HOUSE_NUM,ADDR2_POST,ADDR2_CITY,ADDR2_COUNTRY,CATEG,PARTNER_NAME,PARTNER_UTR,STATUS,VFNUM,VFNID,CRN,FR_OCCUPATION,J_1IEXCD,J_1IEXRN,J_1IEXRG,J_1IEXDI,J_1IEXCO,J_1ICSTNO,J_1ILSTNO,J_1IPANNO,J_1IEXCIVE,J_1ISSIST,J_1IVTYP,J_1IVENCRE,AEDAT,USNAM,J_1ISERN,J_1IPANREF,J_1IPANVALDT,J_1I_CUSTOMS,J_1IDEDREF,VEN_CLASS,ENTPUB,ESCRIT,DVALSS,FRMCSS,CODCAE,AUSDIV,TRANSPORT_CHAIN,STAGING_TIME,SCHEDULING_TYPE,SUBMI_RELEVANT,ZZSEND_PORTAL,Group,NR,OTA,Unnamed: 3,Name
0,900,0000010000,IN,A BOND STRANDS PRIVATE LIMITED,NaN,NaN,NaN,CHENNAI,NaN,NaN,NaN,600096,22,MANUFACTUR,"164-C INSTRONICS CAMPUS,PHASE-II,PE",23986.0,A BOND STRANDS PRIVATE LI,NaN,CHENNAI,Company,NaN,0,0,NaN,9164,0,NaN,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAACA3038K,33250922036,NaN,NaN,NaN,4443406400,9941004252,4443406425,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33AAACA3038K1Z0,TN08B0009008,TN/6954A,NaN,NaN,0,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-15,09:01:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACA3038KXM002,PERUNGUDI,CHENNAI,CHENNAI-IV,TIN:33250922036,TIN:33250922036,AAACA3038K,1.0,NaN,M,NaN,2022-07-27,S13245,ALLPB0629G SD001,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
1,900,0000010001,IN,AG INDUSTRIAL CORPORATION,NaN,NaN,NaN,KOLKATA,NaN,NaN,NaN,700072,25,MANUFACTUR,"ROOM NO.207,2ND FLOOR,",23987.0,AG INDUSTRIAL CORPORATION,NaN,KOLKATA,Company,NaN,0,0,NaN,9127,0,paid,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAFFA3334E,19541032278,NaN,NaN,NaN,3322120044,9831152299,3322155909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19AAFFA3334E1ZT,NaN,NaN,NaN,NaN,0,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,16:23:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DUMMY,DUMMY,-,-,-,TIN:19541032278,TIN:19541032278,AAFFA3334E,1.0,NaN,M,NaN,2017-11-13,S13245,ST/M&R/MMS/R-ST/RPR/93/2004 DT.29.11.04,AAFFA3334E,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
2,900,0000010003,IN,AK JAIN & BROTHERS,NaN,NaN,NaN,KOLKATA,NaN,NaN,NaN,700001,25,DEALER,"67-B NETAJI SUBHAS ROAD,ROOM NO.48",23989.0,AK JAIN & BROTHERS,NaN,KOLKATA,Company,NaN,0,0,NaN,9162,0,paid,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,AAIFA7903J,19280172021,NaN,NaN,NaN,3322434957,3322433394,3322432888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19AAIFA7903J1Z8,190171100984E,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-13,11:44:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DUMMY,DUMMY,DUMMY,DUMMY,DUMMY,19280172118,19280172215,AAIFA7903J,1.0,NaN,FD,X,2017-11-13,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
3,900,0000010007,IN,ADITYA ELECTRONICS,NaN,NaN,NaN,DURG,NaN,NaN,NaN,491001,33,DEALER,"MIG-604 LIG GROUND,PADMANABHPUR",23993.0,ADITYA ELECTRONICS,NaN,DURG,Company,NaN,0,0,NaN,9162,0,NaN,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,0000029792,NaN,NaN,NaN,NaN,E,ACCPC0164F,22673103565,NaN,NaN,NaN,7882211212,7882211788,7882211212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22ACCPC0164F1ZI,CG05A0000142,NaN,NaN,NaN,0,181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,16:23:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DUMMY,-,-,-,-,DRG/I/XXIII/1845,TIN-22673103565,ACCPC0164F,1.0,NaN,FD,NaN,2017-11-13,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
4,900,0000010008,IN,ADVANCE REFRIGERATION CORPORATION,NaN,NaN,NaN,KOLKATA,NaN,NaN,NaN,700001,25,TRADER,"40 STRAND ROAD, SUITE NO : 78-81,",23994.0,ADVANCE REFRIGERATION COR,NaN,KOLKATA,Company,NaN,0,0,NaN,9127,0,paid,NaN,NaN,2008-10-24,DATAMIGMM1,NaN,NaN,9001,NaN,NaN,NaN,NaN,NaN,E,ALAPS8403N,19450371034,NaN,NaN,NaN,8420526050,+91-33-31015272,3340681066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19ALAPS8403N1ZL,NaN,NaN,NaN,NaN,0,400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-13,16:23:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DUMMY,NaN,NaN,NaN,NaN,19450371228,19450371131,ALAPS8403N,1.0,NaN,FD,NaN,2017-11-13,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,X,9001,24,NaN,NaN,JSPL Vendor - Store Material
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32507,900,RPR-3102,IN,"JINDAL STEEL & POWER LIMITED,","RAIPUR FOUNDRY WORKS,",NaN,NaN,RAIPUR,NaN,NaN,NaN,492101,33,RAIPUR FOU,"13th K.M.STONE,G.E.ROAD,MANDIR HASA",54254.0,JINDAL STEEL & POWER LIMI,"RAIPUR FOUNDRY WORKS,",RAIPUR,M/s.,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2009-03-31,DATAMIGPS1,NaN,NaN,9005,RPR-3101,NaN,NaN,NaN,NaN,E,AAACJ7097D,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22AAACJ7097D1ZQ,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,-,-,AAACJ7097D,1.0,NaN,M,NaN,2018-05-03,S9328,-,-,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
34814,900,S101-IMP,IN,NAGPUR-IMPEREST CASH,NaN,NaN,NaN,Nagpur,NaN,NaN,NaN,441104,13,IMPEREST,"17.50 KM Bhandara Road,Kadoli",65845.0,NAGPUR-IMPEREST CASH,NaN,NAGPUR,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2009-09-18,FIRGEU14,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27AAACJ7097D1ZG,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACJ7097D,NaN,NaN,NaN,NaN,2021-07-12,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
34818,900,S106-IMP,IN,AHEMADABAD-IMPEREST CASH,NaN,NaN,NaN,AHMEDABAD,NaN,NaN,NaN,382110,06,IMPEREST,"156/157, MOUJE EYAVA,NEAR: HIPPOLIN",65866.0,AHEMADABAD-IMPEREST CASH,NaN,AHMEDABAD,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2009-09-18,FIRGEU14,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24AAACJ7097D1ZM,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACJ7097D,NaN,NaN,NaN,NaN,2021-07-12,S13245,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
35477,900,TAM-2101,IN,JINDAL STEEL & POWER LTD-COAL MINES,NaN,NaN,NaN,RAIGARH,NaN,NaN,NaN,496001,33,JINDAL,RAIGARH,40375.0,JINDAL STEEL & POWER LTD-,NaN,RAIGARH,M/s.,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2008-12-19,DATAMIGMM1,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,22484901419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22AAACJ7097D1ZQ,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAACJ7097DEM017,AAACJ7097DEM017,RAIGARH,BILASPUR,RAIPUR,NaN,NaN,AAACJ7097D,1.0,NaN,M,NaN,2018-05-03,S9328,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants
35478,900,TAM-2201,IN,TAMNAR COAL WASHERY-PLANT 2201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000000,33,JINDAL,JINDAL,64634.0,TAMNAR COAL WASHERY-PLANT,NaN,NaN,NaN,NaN,0,0,NaN,NaN,0,NaN,NaN,NaN,2009-08-31,MM1CDM01,NaN,NaN,9005,NaN,NaN,NaN,NaN,NaN,E,AAACJ7097D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22AAACJ7097D1ZQ,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,-,-,-,NaN,NaN,AAACJ7097D,1.0,NaN,M,NaN,2018-05-03,S9328,NaN,-,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN,NaN,9005,5,NaN,NaN,JSPL Plants

In [292]:
lf=lfa1

import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

def find_duplicate_vendors(vendors_df, threshold):
    duplicates = []
    lf = vendors_df.copy()
    lf['NAME1'] = lf['NAME1'].astype(str)
    vendor_names = lf['NAME1'].unique().tolist()
    columns = ['Vendor 1', 'Vendor 2', 'Score']
    df_duplicates = pd.DataFrame(columns=columns)

    for i, name in enumerate(vendor_names):
        # Compare the current name with the remaining names
        matches = process.extract(name, vendor_names[i+1:], scorer=fuzz.ratio)

        # Check if any match exceeds the threshold
        for match, score in matches:
            if score >= threshold:
                duplicates.append((name, match))
                df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)

    return duplicates, df_duplicates

# Example usage
threshold = 95
duplicate_vendors, df_duplicate_vendors = find_duplicate_vendors(lf, threshold)

# Print the duplicate vendor pairs
print("Duplicate Vendor Accounts:")
for vendor1, vendor2 in duplicate_vendors:
    print(vendor1, "--", vendor2)

# Print the dataframe with duplicate vendor pairs
print("Duplicate Vendor Accounts DataFrame:")
print(df_duplicate_vendors)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23468\4251315115.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_duplicates = df_duplicates.append({'Vendor 1': name, 'Vendor 2': match, 'Score': score}, ignore_index=True)

Duplicate Vendor Accounts:
AMRIT ENTERPRISES -- AMIT ENTERPRISES
SWIMS TECHNOLOGIES PVT.LTD. -- WMS TECHNOLOGIES PVT LTD
BHARAT PETROLEUM CORPORATION LTD -- BHARAT PETROLEUM CORPORAT LTD
BLUE STAR LIMITED -- Blue Star Limited
FLEXATHERM EXPANLLOW PVT LTD -- FLEXATHERM EXPANLLOW PVT. LTD.
Alpine Metal Tech Germany GmbH -- ALPINE METAL TECH GERMANY GMBH
GMMCO LIMITED -- Gmmco Limited
HITACHI HI-REL POWER ELECTRONICS PV -- Hitachi Hi-Rel Power Electronics Pv
INTERNATIONAL COMBUSTION INDIA LTD. -- INTERNATIONAL COMBUSTION (INDIA) LT
JAI ENTERPRISES -- JAIN ENTERPRISES
JINDAL STEEL & POWER LIMITED -- JINDAL STEEL & POWER LIMITED,
JINDAL STEEL & POWER LIMITED -- JINDAL STEEL & POWER LIMITED.
JINDAL STEEL & POWER LIMITED -- JINDAL STEEL & POWER LIMITED-II
JINDAL STEEL & POWER LIMITED -- JINDAL STEEL & POWER LIMITED II
LARSEN & TOUBRO LIMITED -- Larsen & Toubro Limited.
LEVCON CONTROLS PRIVATE LIMITED -- AVCON CONTROLS PRIVATE LIMITED
Paharpur Cooling Towers ltd. -- PAHARPUR COOLING TOWERS LTD
RICE LAKE WEIGHING SYSTEMS INDIA LT -- RICE LAKE WEIGHING SYSTEMS INDIA
SHREE ENTERPRISES -- Shree Enterprises
SHREE ENTERPRISES -- SHREE ENTERPRISE
SIEMENS LIMITED -- SIEMENS Limited.
SRI KRISHNA ENTERPRISE -- SRI KRISHNA ENTERPRISES
CALDERYS INDIA REFRACTORIES LTD. -- CALDERYS INDIA REFRACTORIES LTD
THERMAX LIMITED -- Thermax Limited
KRISHNA BUILDCON PVT LTD -- KRISHNA BUILDCON PVT.LTD.
PG ENTERPRISE -- PSG ENTERPRISE
Howden Solyvent (India) Pvt Ltd -- HOWDEN SOLYVENT (INDIA) PVT LTD
JOST'S ENGINEERING CO. LTD. -- JOSTS ENGINEERING CO. LTD.
KONE ELEVATOR INDIA PRIVATE LIMITED -- Kone Elevator India Private Limited
MINAR HYDROSYSTEMS PVT. LTD. -- MINAR HYDRO SYSTEMS PVT.LTD.
NMC INDUSTRIES PVT. LTD. -- NMC INDUSTRIES PVT LTD
McNALLY SAYAJI ENGINEERING LIMITED -- MCNALLY SAYAJI ENGINEERING LIMITED
ALFA LAVAL INDIA PVT LTD -- ALFA LAVAL INDIA  PVT LTD
BONFIGLIOLI TRANSMISSIONS PVT. LTD. -- BONFIGLIOLI TRANSMISSIONS PVT LTD
SANVIJAY ROLLING & ENGINEERING LTD. -- SANVIJAY ROLLING & ENGINEERING LTD
TLT ENGINEERING INDIA PVT LTD -- TLT ENGINEERING INDIA PVT. LTD.
Schneider Electric Systems India -- SCHNEIDER ELECTRIC SYSTEMS INDIA
VOLLKRAFT ENGINEERS & CONSULTANT -- Vollkraft Engineers&Consultants
KAVERI ULTRA POLYMERS PVT LTD -- KAVERI ULTRA POLYMERS PVT. LTD
SMS SIEMAG AG -- SMS Siemag AG
OM ENTERPRISES -- Omm Enterprises
OM ENTERPRISES -- OM  ENTERPRISES
OM ENTERPRISES -- OM ENTERPRISE
ACROPOLIS ENGINEERING LTD -- ACROPOLIS ENGINEERING LTD.
THE EIMCO-KCP LIMITED -- THE EIMCO KCP LIMITED
R R INDUSTRIAL CORPORATION -- R.B INDUSTRIAL CORPORATION
TENOVA SPA -- Tenova SPA
RAJU ENTERPRISES -- RAJ ENTERPRISES
R K ENTERPRISES -- R.K.ENTERPRISES
R K ENTERPRISES -- RK ENTERPRISES
S S TRADING COMPANY -- R.S.TRADING COMPANY
S S TRADING COMPANY -- S M TRADING COMPANY
VICTORIA CORPORATION (INDIA) -- VICTOR CORPORATION (INDIA)
SRI KRISHNA ENTERPRISES -- SAI KRISHNA ENTERPRISES
NEW AGE ACOUSTICS PVT LTD -- NEW AGE ACOUSTICS  PVT LTD
SARRALLE EQUIPOS SIDERURGICOS,SL -- SARRALLE EQUIPOS SIDERURGICOS S.L.
SARRALLE EQUIPMENT INDIA PVT LTD -- SARRALLE EQUIPMENT INDIA PVT. LTD.
BRADY & MORRIS ENGINEERING CO. LTD. -- BRADY & MORRIS ENGINEERING CO LTD
LOESCHE INDIA PVT LTD -- LOESCHE INDIA PVT. LTD.
MERMEC S.p.A., -- MERMEC S.p.A
AUMUND ENGINEERING PVT LTD -- AUMUND ENGINEERING PVT. LTD.
AUMUND FORDERTECHNIK GMBH -- AUMUND Fordertechnik GMBH
CARBON ROTOFLUID PVT. LTD. -- CARBON ROTOFLUID PVT.LTD
DANIELI & C.OFFICINE MECCANICHE S.p -- Danieli & C.Officine Meccaniche Spa
EIRICH INDIA PVT. LTD. -- EIRICH INDIA PVT LTD
ABRO TECHNOLOGIES PVT. LTD. -- ABRO TECHNOLOGIES PVT LTD
GOMA ENGINEERING PVT. LTD. -- GOMA ENGINEERING PVT LTD
RACHANA ENTERPRISE -- RACHANA ENTERPRISES
RAJESH & COMPANY -- Rajesh & Company
R R ENTERPRISES -- R.R. ENTERPRISES
MK ASSOCIATES -- M.K.ASSOCIATES
AMR ENGINEERING WORKS -- AMAR ENGINEERING WORKS
SHELL INDIA MARKETS PVT LTD -- Shell India Markets Pvt ltd
SATYA ENTERPRISES -- SATYAM ENTERPRISES
SEW-EURODRIVE INDIA PVT. LTD. -- SEW EURODRIVE INDIA PVT LTD
STAR ENGINEERING WORKS -- SATKAR ENGINEERING WORKS
GANGPUR SALES & SERVICES -- Gangpur Sales & Services
SGS TECHNOLOGIES -- SS TECHNOLOGIES
TECHNOMEC SOLUTIONS PVT LTD -- TECHNOMECH SOLUTIONS PVT LTD
TECHNOMEC SOLUTIONS PVT LTD -- TECHNOMECH SOLUTION PVT LTD
SPR INDUSTRIES -- SR INDUSTRIES
SAMANTA ENGINEERING WORKS -- Samanta Engineering Works
KASI SALES & SERVICES PVT LTD -- KASI SALES & SERVICES PVT.LTD
R.K. TRADINGS -- R. K. TRADINGS
SHREYA ENTERPRISES -- SHREYANS ENTERPRISES
SIKA INDIA PRIVATE LIMITED -- IKA INDIA PRIVATE LIMITED
SAHA  AGENCIES -- SAHA AGENCIES
POLYHYDRON SYSTEMS PVT. LTD. -- POLYHYDRON SYSTEMS PVT LTD
TECHNOMECH SOLUTION PVT LTD -- TECHNOMECH SOLUTIONS PVT LTD
Ultrafilter (India) Pvt Ltd. -- ULTRAFILTER INDIA PVT LTD
JHARKHAND REFRACTORY & MINERALS -- JHARKHAND REFRACTORY & MINERALS(PT)
Grasim Industries Limited -- GRASIM INDUSTRIES LIMITED
SUNRISE INDUSTRIAL CORPORATION -- Sunrise Industrial Corporation
MAHESHWARI ENTERPRISES -- MAHESWARI ENTERPRISES
APAR INDUSTRIES LTD. -- APAR INDUSTRIES LTD
GUPTA POWER INFRASTRUCTURE LTD -- GUPTA POWER INFRASTRUCTURE LTD.
FLSMIDTH PVT. LTD. -- FLSMIDTH PVT LTD
Jain Emporium -- JAIN EMPORIUM
BHARTI AIRTEL LTD -- Bharti Airtel Ltd
TK ELEVATOR INDIA PRIVATE LIMITED -- TK Elevator India Private Limited
Tata Bluescope Steel Pvt.Ltd. -- TATA BLUESCOPE STEEL PVT. LTD.
ARORA MATTHEY LIMITED -- ARORA MATTHEY  LIMITED
SPECTRIS TECHNOLOGIES PVT. LTD. -- Spectris Technologies Pvt. Ltd.
Aqua  Solutions -- Aqua Solutions
Aqua  Solutions -- AQUA SOLUTIONS
MIDREX TECHNOLOGIES INC -- Midrex Technologies INC
PREDICT TECHNOLOGIES INDIA PVT.LTD. -- PREDICT TECHNOLOGIES INDIA PVT LTD
Fosroc Chemicals (India) Pvt. Ltd -- FOSROC CHEMICALS (INDIA) PVT LTD
Fosroc Chemicals (India) Pvt. Ltd -- FOSROC CHEMICALS INDIA PVT LTD
ANKIT ENTERPRISES -- ANKIT ENTERPRISERS
COSMOS IMPEX (INDIA) PVT LTD -- COSMOS IMPEX (INDIA) PVT. LTD.
SIDHARATH ENTERPRISES -- Siddharth Enterprises
SIDHARATH ENTERPRISES -- SIDDHARTH ENTERPRISES
VORTEX ELECTRONICS PVT. LTD. -- VORTEX ELECTRONICS PVT LTD
PAMA MACHINE TOOLS INDIA PVT. LTD. -- pama machine tools india pvt ltd
SCHINDLER INDIA PVT. LTD. -- Schindler India Pvt. Ltd.
SCHINDLER INDIA PVT. LTD. -- SCHINDLER INDIA PVT LTD
INDFAB -- Indfab
S N SALES CORPORATION -- S K SALES CORPORATION
THERMO FISHER SCIENTIFIC INDIA PVT -- THERMO FISHER SCIENTIFIC INDIA PVT.
CARGOTEC INDIA PRIVATE LIMITED -- CARGOTEC INDIA PRIVATE.LIMITED
CARGOTEC INDIA PRIVATE LIMITED -- CAVOTEC INDIA PRIVATE LIMITED
FUSHUN CRANES & EQUIPMENTS INDIA -- Fushun Cranes & Equipments India
BHILAI ENGINEERING CORPORATION LTD. -- BHILAI ENGINEERING CORPORATION LTD
ASHOK BROTHERS -- ASHOKA BROTHERS
SINO-GLOBAL SOURCING&SUPPLY LTD -- SINO GLOBAL SOURCING & SUPPLY LTD
JSPL MOZAMBIQUE MINERAIS, LDA -- JSPL MOZAMBIQUE MINERALS LDA
ECOMAISTER BEADS INDIA PVT LTD -- ECOMAISTER BEADS INDIA PVT.LTD.
ECOMS METALLURGICALS PVT,LTD -- ECOMS METALLURGICALS PVT LTD
ORISSA MINING CORPORATION LTD. -- ORISSA MINING CORPORATION LTD
Balaji Enterprises -- BALAJI ENTERPRISE
INDIAN MART -- INDIAN ART
ADARSH ENTERPRISES -- Adarsh Enterprises
SHREE BALAJI ENTERPRISE -- SHREE BALAJI ENTERPRISES
RHI MAGNESITA INDIA LIMITED -- RHIMAGNESITA INDIA LIMITED.
BS ENTERPRISES -- BLS ENTERPRISES
BS ENTERPRISES -- RBS ENTERPRISES
VEDANTA LIMITED -- Vedanta Limited
ALLCARGO LOGISTICS LTD -- ALLCARGO LOGISTICS  LTD.
ALLCARGO LOGISTICS LTD -- ALL CARGO LOGISTICS LTD
AUMA INDIA PVT LTD -- AUMA (INDIA) PVT LTD
I R TECHNOLOGY SERVICES PVT LTD -- I.R.TECHNOLOGY SERVICES PVT. LTD
LLOYD INSULATIONS (INDIA) LIMITED -- LLOYD INSULATIONS(INDIA) LIMITED
MANOJ KUMAR AGRAWAL -- Manoj Kumar Agrawalla
SHIV SHAKTI ENTERPRISES -- SHIVSHAKTI ENTERPRISE
SS CONSTRUCTION -- S S CONSTRUCTION
SS CONSTRUCTION -- S.S CONSTRUCTION
Air Liquide Global E&C Solutions -- Air Liquide Global E & C Solutions
Air Liquide Global E&C Solutions -- Air Liquide Global E&C Solutions Af
Tata Communications Ltd -- TATA COMMUNICATIONS LTD
SULZER PUMPS INDIA PVT. LTD. -- SULZER PUMPS INDIA PVT LTD
AJIT KUMAR MAHANTA -- SANJIT KUMAR MAHANTA
GE T & D INDIA LTD -- GE T & D INDIA LTD.
PA Projects Pvt. Ltd. -- BPA PROJECTS PVT LTD
SHRI RAJ CONSTRUCTION -- Shri Raj Construction
H.S.Carriers -- H S CARRIERS
H.S.Carriers -- H.S. Carriers
G4S SECURE SOLUTIONS (INDIA) PVT LT -- G4S SECURE SOLUTIONS INDIA PVT LTD
SAI CONSTRUCTION -- SAI CONSTRUCTIONS
Swain Enterprises -- SWAIN ENTERPRISES
M.K. ENTERPRISES -- M K ENTERPRISES
POWER PLANT ENGINEERS LIMITED -- Power Plant Engineers Limited
SHUBHAM ENTERPRISERS -- SHUBHAM ENTERPRISES
SHUBHAM ENTERPRISERS -- SUBHAM ENTERPRISES
Pratik Construction -- PRATIK CONSTRUCTION
Prasanta Kumar Sahu -- PRASHANTA KUMAR SAHU
SUSIL KUMAR PRADHAN -- SUNIL KUMAR PRADHAN
SEAWAYS SHIPPING AND LOGISTICS LTD. -- SEAWAYS SHIPPING AND LOGISTICS LTD
HP INDIA SALES PVT LTD -- HP INDIA SALES PVT.LTD
HP INDIA SALES PVT LTD -- HP INDIA SALES PVT. LTD
Eureka Forbes Ltd. -- EUREKA FORBES LTD.
Eureka Forbes Ltd. -- EUREKA FORBES LTD
PROGILITY TECHNOLOGIES PVT. LTD. -- PROGILITY TECHNOLOGIES PVT LTD
Manju Devi -- MANJU DEVI
CJ DARCL LOGISTICS LIMITED -- CJ DARCL LOGISTICS LIMITED(PT)
Khirod Mohapatra -- KHIROD MOHAPATRA
Susil Pradhan -- SUSIL PRADHAN
KISHOR ROUL -- Kishor Roul
PILOG INDIA PRIVATE LIMITED -- PIL INDIA PRIVATE LIMITED
Narottam Sahu -- NAROTTAM SAHU
Dash Construction -- DAS CONSTRUCTION
MVS ACMEI TECHNOLOGIES PVT LTD -- MVS Acmei Technologies Pvt. Ltd.
Schindler India Pvt. Ltd. -- SCHINDLER INDIA PVT LTD
Dhruba Charan Sahu -- DHRUBA CHARAN SAHU
DOCON AIRCONDITIONING PVT.LTD. -- DOCON AIRCONDITIONING PVT LTD
TUV INDIA PVT. LTD. -- TUV INDIA PVT LTD
Ashok Kumar Pradhan -- ASHOK KUMAR PRADHAN
Jindal General Services Pvt. Ltd. -- JINDAL GENERAL SERVICES PVT.LTD.
Surendra Kumar Sahu -- SURENDRA KUMAR SAHU
DHR HOLDING INDIA PVT.LTD. -- DHR HOLDING INDIA PVT LTD
SHREE RAM ENTERPRISES -- SHREERAM ENTERPRISES
Schneider Electric Infrastructure -- SCHNEIDER ELECTRIC INFRASTRUCTURE L
Schneider Electric Infrastructure -- Schneider Electric Infrastructure L
CHLORIDE POWER SYSTEMS & SOLUTIONS -- Chloride Power Systems & Solutions
SAP INDIA PVT LTD -- SAP INDIA PVT. LTD.
Chembond Water Technologies Limited -- CHEMBOND WATER TECHNOLOGIES LIMITED
SUNIL KUMAR AGRAWAL -- SUNIL KUMAR AGARWAL
M.V.INDUSTRIAL SERVICES -- M S INDUSTRIAL SERVICES
Santosi Electricals -- SANTOSH ELECTRICALS
AUTOMATION TECHNOLOGY -- Automation Technology
Sri Laxmi Enterprises -- Sri Laxmi Enterprise
Johnson Controls (I) Pvt. Ltd. -- JOHNSON CONTROLS (I) PVT LTD
Shree Enterprises -- SHREE ENTERPRISE
Jagannath Enterprises -- JAGANNATH ENTERPRISES &
The Professional Couriers -- THE PROFESSIONAL COURIERS
Odisha Television Limited -- ODISHA TELEVISION LIMITED
AMETEK INSTRUMENTS INDIA PVT LTD -- Ametek Instruments India Pvt. Ltd.
AARYA METALLURGICALS (INDIA) PVT LT -- AARYA METALLURGICALS (INDIA) PVT. L
KABU PROJECTS PVT LTD -- KABU PROJECTS PVT. LTD.
Rudrani Construction -- RUDRA CONSTRUCTION
Sriram Engineering Works -- SHRI RAM ENGINEERING WORKS
Sukanta Kumar Pradhan -- SUSANTA KUMAR PRADHAN
C & B Powergen Pvt. Ltd. -- C & B POWERGEN PVT LTD
SWAIN BROTHERS -- Swain Brothers
Bharti Telemedia Limited -- BHARTI TELEMEDIA LIMITED
BHARTI TELEMEDIA LTD. -- BHARTI TELEMEDIA LTD
Nath Enterprises -- NATH ENTERPRISES
CONVERGENT WIRELESS COMMUNICATIONS -- Convergent Wireless Communications
Bijay Kumar Sahu -- BIJAY KUMAR SAHU
TELEMETRICS EQUIPMENTS PVT. LTD. -- TELEMETRICS EQUIPMENTS PVT LTD
Rajendra Kumar Sahu -- RAJENDRA KUMAR SAHU
MC CONTROL -- M C CONTROL
SGS India Private Limited -- SGS INDIA PRIVATE LIMITED
PEE VEE ENTERPRISES -- PEE  VEE ENTERPRISES
DELL INTERNATIONAL SERVICES INDIA P -- DELL INTERNATIONAL SERVICES INDIA
PRATAP POWER SOLUTIONS -- Pratap Power Solutions
Roots Multiclean Limited -- ROOTS MULTICLEAN LIMITED
Roots Multiclean Limited -- Roots Multi Clean Limited
Hrushikesha Sahu -- HRUSHIKESH SAHU
Videojet Technologies (I) Pvt. Ltd. -- Videojet Technologies (I) Pvt Ltd
Videojet Technologies (I) Pvt. Ltd. -- VIDEOJET TECHNOLOGIES (I) PVT LTD
Behera Refrigeration Service -- BEHERA REFRIGERATION SERVICE
Monotech Systems Limited -- MONOTECH SYSTEMS LIMITED
Vijayalakshmi Constructions -- VIJAYALAKSHMI CONSTRUCTIONS(PT)
Anil Das -- ANIL DAS
Muna Engineering Construction -- MAA ENGINEERING CONSTRUCTION
Sai Engineering Works -- SAHIL ENGINEERING WORKS
Sai Engineering Works -- RAI ENGINEERING WORKS
S S CONSTRUCTION -- S.S CONSTRUCTION
BLACK BOX LIMITED -- BLACK BOX  LIMITED
Excellent Services -- EXCELLENT SERVICES
BHAGWATI ENTERPRISES -- BHAGAT ENTERPRISES
SHREE GANESH ENTERPRISES -- Shree Ganesh Enterprises
SHREE TRADERS -- SHREE TRADES
VAIBHAV ENTERPRISES -- VAIBHAVI ENTERPRISE
SUNIL KUMAR AGARWALLA -- SUNIL KUMAR AGARWAL
RB CONSTRUCTION -- ARB CONSTRUCTION
S S TRADERS -- SS TRADERS
AGARWAL ENTERPRISES -- AGGARWAL ENTERPRISES
AGARWAL ENTERPRISES -- NAGARWAL ENTERPRISES
G S ENTERPRISES -- G S ENTYERPRISES
G S ENTERPRISES -- GS ENTERPRISES
ARADHYA ENTERPRISES -- AARADHYA ENTERPRISES
SHREE NATH LOGISTIC -- SHREENATH LOGISTICS
RAJESH KUMAR AGARWAL -- RAJESH KUMAR AGRAWAL
NANDLAL WELDING WORKS & CONTRACTORS -- NANDLAL WELDING WORK & CONTRACTORS(
MAMA ENTERPRISES -- MAA ENTERPRISES
PRIYA ENTERPRISES -- RIYA ENTERPRISES
SHIVAM ENTERPRISES -- SHIVA ENTERPRISES
BANSAL TRADER -- BANSAL TRADERS
SHREE RAM TRADERS -- Shreeram Traders
MAYA ASSOCIATES -- MAA ASSOCIATES
K K ENGINEERING -- K.K. ENGINEERING
A. K. ENTERPRISES -- A. K. Enterprises
A. K. ENTERPRISES -- A.K. ENTERPRISES
GANPATI ENTERPRISES -- GANAPATI ENTERPRISES
CARRYMORE CRANES -- Carrymore Cranes
CARRYMORE CRANES -- CARRY MORE CRANES
ACCENT INDUSTRIES LTD. -- ACCENT INDUSTRIES LTD
Applied Engineering Services -- APPLIED ENGINEERING & SERVICE
SATYASHA ENTERPRISES -- SATYANSH ENTERPRISES
MTS Engineers Pvt. Ltd -- MTMS ENGINEERS PVT LTD
PLASMA ENTERPRISES (INDIA) PVT LTD -- PLASMA ENTERPRISES(INDIA) PVT LTD
Krishna International -- KRISHNA INTERNATIONAL
A.K.TRADERS -- A K TRADERS
ADITYA ENTERPRISES -- ADITYA ENTERPRISE
MACAWBER BEEKAY PVT.LTD. -- MACAWBER BEEKAY PVT LTD
WIKA INSTRUMENTS INDIA PVT.LTD. -- WIKA INSTRUMENTS INDIA PVT. LTD.
CAVOTEC INDIA PRIVATE LIMITED -- CARGOTEC INDIA PRIVATE.LIMITED
Merck Life Science Private Limited -- MERCK LIFE SCIENCE PRIVATE LIMITED
JINDAL STEEL & POWER LIMITED, -- JINDAL STEEL & POWER LIMITED.
JINDAL STEEL & POWER LIMITED, -- JINDAL STEEL & POWER LIMITED-II
JINDAL STEEL & POWER LIMITED, -- JINDAL STEEL & POWER LIMITED II
P M ENTERPRISE -- P M ENTERPRISES
HARDCASTLE PETROFER PVT LTD -- HARDCASTLE PETROFER PVT. LTD
Centurion Power Cables Pvt Ltd -- CENTURION POWER CABLES PVT. LTD.
Aqua Solutions -- AQUA SOLUTIONS
Manorama Traders -- MANORAMAA TRADERS
Madhura Comp - Air Consultants -- MADHURA COMP - AIR CONSULTANTS
Chemtron Science Laboratories Pvt L -- CHEMTRON SCIENCE LABORATORIES PVT.
SUNSHINE ENTERPRISE -- SUNSHINE ENTERPRISES
Johnson Controls (India) Pvt. Ltd. -- JOHNSON CONTROLS (INDIA) PVT LTD
Roots Multi Clean Limited -- ROOTS MULTICLEAN LIMITED
EXIDE INDUSTRIES LTD. -- EXIDE INDUSTRIES LTD
Siddharth Enterprises -- SIDDHARTH ENTERPRISES
Ion Exchange (India) Ltd. -- ION EXCHANGE (INDIA) LTD
Asian Steel Industries -- ASIAN STEEL INDUSTRIES
PILZ INDIA PVT LTD -- PIL INDIA PVT LTD
Perkinelmer India Pvt. Ltd. -- PERKINELMER INDIA PVT.LTD
ROYAL ARC ELECTRODES LTD. -- ROYAL ARC ELECTRODES LTD
SAIZAR ENTERPRISE PVT LTD -- SAIZAR ENTERPRISE PVT. LTD.
BLUE STAR ENGINEERING & ELECTRONICS -- BLUE STAR ENGINEERING&ELECTRONICS
Mihir Enterprises -- MIHIR ENTERPRISE
S.S.INDUSTRIAL PRODUCTS -- S S INDUSTRIAL PRODUCTS
Jindal Power Limited. -- JINDAL POWER LIMITED
Umatech Micron -- UMATECH MICRON
Sanjay Kumar Sahu -- SANJAY KUMAR SAHU
AXIS ENGINEERING CORPORATION -- AMI ENGINEERING CORPORATION
B.J. Tech Service -- B. J. Tech Service
Asva Power Systems India Pvt Ltd -- Asva Power Systems India Pvt. Ltd.
Noble Enterprises -- NOBLE ENTERPRISE
RK ENTERPRISES -- R.K.ENTERPRISES
Lotz Cutting GmbH -- LOTZ CUTTING GmbH
GANDHAR OIL REFINERY INDIA LTD -- Gandhar Oil Refinery India Ltd.
Elecsol Technology Private Limited -- ELECSOL TECHNOLOGY PRIVATE LIMITED
PAUL WURTH INDIA PVT LTD. -- PAUL WURTH INDIA PVT LTD
Schwing Stetter India Pvt. Ltd. -- SCHWING STETTER INDIA PVT LTD
EMERSON PROCESS MANAGEMENT (I) -- EMERSON PROCESS MANAGEMENT (I) P
G K SALES CORPORATION -- S K SALES CORPORATION
SIDDHI VINAYAK ENTERPRISES -- SIDDHI BINAYAK ENTERPRISES
A. K. Enterprises -- A.K. ENTERPRISES
LEISTER TECHNOLOGIES INDIA PVT LTD -- LEISTER TECHNOLOGIES INDIA PVT. LTD
S P Engineering -- S P ENGINEERING
ECE Industries Limited -- ECE INDUSTRIES LIMITED
JS Engineering -- JBS ENGINEERING
SHIVAYA CONSTRUCTION -- SHIVAY CONSTRUCTION
AB Construction -- ARB CONSTRUCTION
PRAGYA PRECISION EQUIPMENT -- PRAGYA PRECISION EQUIPMENTS
SUBHAM ENTERPRISES -- SHUBHAM ENTERPRISES
RKB INTERNATIONAL PVT.LTD. -- SRB INTERNATIONAL PVT LTD
SCM ENTERPRISES -- SM ENTERPRISES
SANT ENTERPRISES -- SAN ENTERPRISES
CARRY MORE CRANES -- Carrymore Cranes
NKP Industrial Solution Co -- NKP INDUSTRIAL SOLUTION CO.
MANISH ENTERPRISES -- ANISH ENTERPRISES
K.K.ENGINEERING WORKS -- V K ENGINEERING WORKS
ACRE COKING & REFRACTORY ENGINEERIN -- ACRE COKING REFRACTORY ENGINEERING
AS TECHNOLOGIES -- MAS TECHNOLOGIES
SINGH & CO -- SINGH & CO.
NIPPON STEEL ENGINEERING INDIA PVT -- NIPPON STEEL ENGINEERING INDIA PRIV
HBL POWER SYSTEMS LTD -- HBL POWER SYSTEMS LTD.
FOX SOLUTIONS PVT.LTD. -- FOX SOLUTIONS PVT LTD
Videojet Technologies (I) Pvt Ltd -- VIDEOJET TECHNOLOGIES (I) PVT LTD
SCHNEIDER ELECTRIC INFRASTRUCTURE L -- Schneider Electric Infrastructure L
ORISSA BENGAL CARRIER LIMITED -- ORISSA BENGAL CARRIER LIMITED(PT)
TRANSPORT CORPORATION OF INDIA LTD -- Transport Corporation of India LTD.
ASSOCIATED ROAD CARRIERS LIMITED -- Associated Road Carrier's Limited
ASSOCIATED ROAD CARRIERS LIMITED -- ASSOCIATED ROAD CARRIERS LIMITED(PT
JAI BABA MAHENDRA NATH TRANSPORT -- JAI BABA MAHENDRA NATH TRANSPORT(PT
RADHAKRISHNA TRANSPORT -- RADHA KRISHNA TRANSPORT
H S CARRIERS -- H.S. Carriers
ALLCARGO LOGISTICS  LTD. -- ALL CARGO LOGISTICS LTD
Premier Transport Ltd. -- PREMIER TRANSPORT LTD
TCI FREIGHT -- TCI Freight
KALI TRANSPORT PRIVATE LIMITED -- KALI TRANSPORT PRIVATE LIMITED(PT)
Schenker India Pvt. Ltd. -- SCHENKER INDIA PVT. LTD
Schenker India Pvt. Ltd. -- SCHENKER INDIA PVT LTD
ADHUNIK TRANSPORT ORGANISATION LTD. -- ADHUNIK TRANSPORT ORGANISATION LTD
Bertling Longistics India Pvt. Ltd. -- BERTLING LOGISTICS INDIA PVT LTD
SM ENTERPRISE -- SM ENTERPRISES
SM ENTERPRISE -- S.M.ENTERPRISE
Shree Jagannath Carriers Pvt Ltd -- SHREE JAGANNATH CARRIERS PVT. LTD.
Satyam Logistics -- SATYAM LOGISTIC
VRL Logistics Ltd. -- VRL LOGISTICS LTD.
GLOBE ECOLOGISTICS PVT LTD -- GLOBE ECOLOGISTICS PVT.LTD.
GLOBE ECOLOGISTICS PVT LTD -- GLOBE ECOLOGISTICS PVT LTD(PT)
ABILITY SERVICES PVT LTD -- ABILITY SERVICES PVT. LTD.
Jai Bajrang Cargo Carriers -- JAI BAJRANG CARGO CARRIERS
MAXWELL LOGISTICS PVT LTD. -- MAXWELL LOGISTICS PVT LTD
CONTINENTAL TRANSPORT ORGANISATION -- CONTINENTAL TRANSPORT  ORGANISATION
EXIM LOGISTICS PRIVATE LIMITED. -- EXIM LOGISTICS PRIVATE LIMITED(PT)
INLAND WORLD LOGISTICS PVT LTD -- INLAND WORLD LOGISTICS PVT.LTD(PT)
TRANSRAIL LOGISTICS LTD. -- TRANSRAIL LOGISTICS LTD
DHL Logistics Pvt. Ltd. -- DHL LOGISTICS PVT LTD
K K LOGISTICS -- K K Logistics
Sohel Roadlines -- Sohel Road Lines
Sai Astha Trading & Transport Agenc -- SAI ASTHA TRADING&TRANSPORT AGENCY
JAY JAGANNATH TRANSPORT -- JAI JAGANNATH TRANSPORT
SHREE GANESH LOGISTICS -- SHREE GANESH LOGISTIC
OM ROADWAYS -- Omm Roadways
LAXMI INDUSTRIES -- LAXMI INDUTRIES
GAJALAXMI BUSINESS ENTERPRISES PVT -- GAJALAXMI BUSINESS ENTERPRISES (P)
KBR LOGISTICS -- KB LOGISTICS
AGARWAL PACKERS & MOVERS LTD. -- AGARWAL PACKERS & MOVERS LTD
Avvashya CCI Logistics Pvt. Ltd. -- AVVASHYA CCI LOGISTICS PVT.LTD.
Avvashya CCI Logistics Pvt. Ltd. -- AVVASHYACCI LOGISTICS PVT. LTD
BIJAY ENTERPRISES -- BIJAY ENTERPRISE
MEDI CARRIER PVT LTD -- Medi Carrier Pvt. Ltd.
S R ENGINEERING -- S.R.ENGINEERING
Shiva Roadlines -- SHIVA ROADLINES

In [270]:
#vd=pd.read_csv(r"C:\Users\LENOVO\dup_vendor.csv",index_col="Unnamed: 0")

In [293]:
lx=lfa1[['MANDT','LIFNR','NAME1']]
vd_lx=pd.merge(df_duplicate_vendors, lx, left_on='Vendor 1',right_on='NAME1', how='left')

In [298]:
vd_lx_lx=pd.merge(vd_lx, lx, left_on='Vendor 2',right_on='NAME1', how='left')

#df_duplicate_vendors.to_csv("dup_vendor.csv")

In [341]:
vd_lx_lx.head(1)

,Vendor 1,Vendor 2,Score,MANDT_x,LIFNR_x,NAME1_x,MANDT_y,LIFNR_y,NAME1_y
0,AMRIT ENTERPRISES,AMIT ENTERPRISES,97,900,0000010032,AMRIT ENTERPRISES,900,0000013090,AMIT ENTERPRISES

In [344]:
vd_lx_lx=vd_lx_lx.rename(columns={'Vendor 2':'Vendor_y'})

In [353]:
vd_lx_lx=vd_lx_lx.rename(columns={'Vendor 1':'Vendor_x'})

In [351]:
vd_lx_lx=vd_lx_lx.drop(['NAME1_x','NAME1_y'],axis=1)

In [355]:
vd_lx_lx.drop_duplicates()

,Vendor_x,Vendor_y,Score,MANDT_x,LIFNR_x,MANDT_y,LIFNR_y
0,AMRIT ENTERPRISES,AMIT ENTERPRISES,97,900,0000010032,900,0000013090
1,AMRIT ENTERPRISES,AMIT ENTERPRISES,97,900,0000010032,900,0000082913
2,AMRIT ENTERPRISES,AMIT ENTERPRISES,97,900,0000010032,900,0000619612
3,AMRIT ENTERPRISES,AMIT ENTERPRISES,97,900,0000010032,900,0000924308
4,SWIMS TECHNOLOGIES PVT.LTD.,WMS TECHNOLOGIES PVT LTD,96,900,0000010066,900,0000059028
...,...,...,...,...,...,...,...
7226,ANGUL POWER Plant Unit4(135MW),ANGUL POWER Plant Unit5(135MW),97,900,JSPL-6153,900,JSPL-6154
7227,ANGUL POWER Plant Unit4(135MW),ANGUL POWER Plant Unit6(135MW),97,900,JSPL-6153,900,JSPL-6155
7228,ANGUL POWER Plant Unit5(135MW),ANGUL POWER Plant Unit6(135MW),97,900,JSPL-6154,900,JSPL-6155
7229,"Raigarh- General Plant,Unit-1","Raigarh- General Plant,Unit-2",97,900,RGH-1115,900,RGH-1215
7230,JSPL RGH-BLAST FURNACE I (UNIT-II),JSPL RGH-BLAST FURNACE II (UNIT-III,97,900,RGH-1209,900,RGH-1309

In [356]:
vd_lx_lx.to_csv('Duplicate vendor account basis name and fuzzy logic.csv')

# Rishi

In [ ]:
ekpo_makt = pd.read_excel(r"C:\Users\LENOVO\Downloads\Material desc. as per MAKT vs EKPO.xlsx",header=1  )

#Short Text (TXZ01 - EKPO)

#Material Description (MAKTX - MAKT)



df=ekpo_makt



from fuzzywuzzy import fuzz

def fuzzy_compare(str1, str2):
    # Calculate the Levenshtein distance between the strings
    distance = fuzz.ratio(str1, str2)
    
    return distance

# Apply fuzzy comparison to each row in the dataframe
for index, row in df.iterrows():
    short_text = row['Short Text (TXZ01 - EKPO)']
    material_description = row['Material Description (MAKTX - MAKT)']
    
    similarity = fuzzy_compare(short_text, material_description)
    df.at[index, 'Fuzzy Similarity'] = similarity

# View the updated dataframe with the Fuzzy Similarity column
print(df)


df.to_csv("ekpo_makt_fuzzy.csv")

In [407]:
#df

# auto encoder

In [34]:
import pandas as pd
df = pd.read_csv(r"C:\Users\LENOVO\Downloads\anomaly_filtered_data.csv",)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_15632\3139173500.py:2: DtypeWarning: Columns (3,5,14,15,18,19,26,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\LENOVO\Downloads\anomaly_filtered_data.csv",)

In [39]:
#!pip install protobuf==3.20.0
#!pip install --upgrade tensorflow
#!pip install --upgrade keras
#!pip install --upgrade protobuf
#!pip install protobuf==3.18.1
#!pip uninstall protobuf
#!pip install protobuf==3.20.0  # Replace with the desired version number
#!pip uninstall tensorflow keras
#!pip install tensorflow keras
#!pip install --upgrade tensorflow keras

In [21]:
import os
os.environ["PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION"] = "python"

In [ ]:
dfx

In [34]:
df1

,EBELN,BSTYP,BSART,LOEKZ,AEDAT,LIFNR,ZTERM,EKORG,EKGRP,WAERS,WKURS,BEDAT,INCO1,INCO2,FRGSX,FRGZU,EBELP,TXZ01,MATNR,WERKS,MENGE,MEINS,NETPR,PEINH,NETWR,BRTWR,AGDAT,WEBAZ,UEBTK,BWTAR,WEPOS,WEBRE,ANFNR,BANFN,BNFPO,MTART
0,3561007115,F,ZDM6,NaN,2022-04-02,0000501277,AL13,9061.0,670,INR,1.0,2022-04-02,FOR,JSPL Angul Plant Site,6K,X,10,"STEEL ALMIRAH,78X36X21IN",000000001000160592,6301,4.0,NO,10800.0,1,43200.0,43200.0,NaN,0,NaN,NaN,X,X,NaN,3.060013e+09,10,ZSPR
1,3561007115,F,ZDM6,NaN,2022-04-02,0000501277,AL13,9061.0,670,INR,1.0,2022-04-02,FOR,JSPL Angul Plant Site,6K,X,20,"RACK,STEEL",000000001000043086,6301,8.0,PC,10500.0,1,84000.0,84000.0,NaN,0,NaN,NaN,X,X,NaN,3.060013e+09,20,ZSPR
2,3561007116,F,ZDM6,NaN,2022-04-02,0000010367,AL13,9061.0,641,INR,1.0,2022-04-02,FOR,JSPL ANGUL SITE DELIVERY,6K,X,10,"BOLT,HEX,HT 8.8,IS:1364,M24X80MM",000000001000238212,6301,300.0,PC,103.0,1,30900.0,30900.0,NaN,2,NaN,NaN,X,X,NaN,3.060013e+09,10,ZSPR
3,3561007116,F,ZDM6,NaN,2022-04-02,0000010367,AL13,9061.0,641,INR,1.0,2022-04-02,FOR,JSPL ANGUL SITE DELIVERY,6K,X,20,"BOLT,COUPLING,HT 10.9,M16X70MM",000000001000139084,6301,50.0,PC,80.0,1,4000.0,4000.0,NaN,2,NaN,NaN,X,X,NaN,3.060013e+09,30,ZSPR
4,3561007116,F,ZDM6,NaN,2022-04-02,0000010367,AL13,9061.0,641,INR,1.0,2022-04-02,FOR,JSPL ANGUL SITE DELIVERY,6K,X,30,"BOLT,COUPLING,HT 10.9,M12X60MM",000000001000147111,6301,50.0,PC,65.0,1,3250.0,3250.0,NaN,2,NaN,NaN,X,X,NaN,3.060013e+09,40,ZSPR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758424,6170071163,A,ZAN7,NaN,2023-05-31,57600,NaN,9071.0,SS1,INR,1.0,2023-05-31,NaN,NaN,NaN,NaN,30,"PADLOCK;LOTO,SS,40X20MM,40MM",1000614144.0,7101,5.0,PC,0.0,1,0.0,0.0,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR
758425,6170071163,A,ZAN7,NaN,2023-05-31,57600,NaN,9071.0,SS1,INR,1.0,2023-05-31,NaN,NaN,NaN,NaN,40,"PADLOCK;LOTO,SS304,40X20X48.20MM,40MM",1000614142.0,7101,5.0,PC,0.0,1,0.0,0.0,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR
758426,6198000176,A,ZAN9,NaN,2023-05-13,54004,R232,9000.0,SS1,INR,1.0,2023-05-13,FOR,FOR Free On Road,NaN,NaN,10,"BOARD;ACRYLIC,4MM,2X2FT2,F/QR CODE DSPLY",1000613191.0,J001,100.0,PC,1700.0,1,0.0,170000.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR
758427,6198000176,A,ZAN9,NaN,2023-05-13,54004,R232,9000.0,SS1,INR,1.0,2023-05-13,FOR,FOR Free On Road,NaN,NaN,20,"BOARD;SUN,ECO VINYL,5MM,2X2FT2,F/QR CODE",1000613192.0,J001,500.0,PC,470.0,1,0.0,235000.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR
758428,6198000176,A,ZAN9,NaN,2023-05-13,54004,R232,9000.0,SS1,INR,1.0,2023-05-13,FOR,FOR Free On Road,NaN,NaN,30,"BOARD;ACRYLIC,4MM,2X2FT2,F/QR CODE DSPLY",1000613191.0,J001,100.0,PC,1700.0,1,0.0,170000.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0,ZSPR